{% extends 'base.html.twig' %}

{% block title %}
	Inscription
{% endblock %}

{% block body %}
	<div class="w-full max-w-xs mx-auto">
		{{ form_start(registrationForm, {'attr': {'class': 'space-y-4 bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 mt-16'}}) }}

		{% for flash_error in app.flashes('verify_email_error') %}
			<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
		{% endfor %}

		<div>
			{{ form_label(registrationForm.username, 'Nom de l\'utilisateur', {'label_attr': {'class': 'block text-gray-700 text-sm font-bold mb-2'}}) }}
            {{ form_widget(registrationForm.username, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline', 'placeholder': 'Nom d\'utilisateur'}}) }}
		</div>
		<div>
			{{ form_label(registrationForm.email, 'email', {'label_attr': {'class': 'block text-gray-700 text-sm font-bold mb-2'}}) }}
			{{ form_widget(registrationForm.email, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline', 'placeholder': 'exemple@exemple.com', 'type': 'email'}}) }}
		</div>
		<div>
			{{ form_label(registrationForm.plainPassword, 'Mots de passe', {'label_attr': {'class': 'block text-gray-700 text-sm font-bold mb-2'}}) }}
			{{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 text-gray-700 leading-tight focus:outline-none focus:shadow-outline', 'placeholder': '******************', 'type': 'password'}}) }}
		</div>

		<button type="submit" class="bg-primary hover:bg-blue-400 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
			Inscription
		</button>

		{{ form_end(registrationForm) }}
	</div>
{% endblock %}
