<!DOCTYPE html>
<html class="h-100" lang="fr">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="description" content="">
    <meta name="author" content="">
    
    <title>{% block title %}AGORA{% endblock %}</title>
    
    <link rel="icon" type="image/x-icon" href="{{ asset('bundles/agoraplatform/image/favicon.ico') }}" alt="favicon" />
    
    <script type="text/javascript" src="{{ asset('bundles/agoraplatform/script/script.js') }}"></script>
    
	<!-- Importation de la librairie Bootstrap : "https://getbootstrap.com/docs/4.3/getting-started/introduction/" -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  
    <!-- CSS du Bundle AgoraPlatform -->
    <link rel="stylesheet" href="{{ asset('bundles/agoraplatform/css/main.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset('bundles/agoraplatform/css/header.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset('bundles/agoraplatform/css/nav.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset('bundles/agoraplatform/css/footer.css') }}" type="text/css" />

    <script src="{{ asset('bundles/agoragamesqp/script/vendor/modernizr-3.5.0.min.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="{{ asset('bundles/agoragamesqp/script/vendor/jquery-3.2.1.min.js') }}"><\/script>')</script>
  </head>

  <body class="d-flex flex-column h-100">
    <header>
      <nav class="navbar fixed-top navbar-expand-lg bg-dark">
        <!-- Définitions d'un bouton de navigation lorsque l'écran est trop petit pour afficher toute la barre nav -->
        <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#navBarAgora" aria-controls="navBarAgora" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- L'affichage normal de la barre de navigation -->
        <div class="collapse navbar-collapse" id="navBarAgora">
          <!-- Partie collé à gauche de la barre nav -->
          <ul class="navbar-nav mr-auto">
 	        {% if app.request.get('_route') == null %}            
            <li class="nav-item active">
	        {% else %}
            <li class="nav-item">
	        {% endif %}
              <a class="nav-link" href="{{ path('agora_admin_platform_addUsers') }}">Gestion des utilisateurs</a>
            </li>

 	        {% if app.request.get('_route') == 'agora_platform_moderation' %}           
	          <li class="nav-item active">
	        {% else %}
	          <li class="nav-item">
	        {% endif %}
              <a class="nav-link" href="{{ path('agora_platform_moderation') }}">Gestion des parties</a>
            </li>

          {% if is_granted('ROLE_MODO') and not is_granted('ROLE_ADMIN') %}
            <li class="nav-item">
              <a class="nav-link" href="{{ path('agora_platform_homepage') }}">Mode Joueur</a>
            </li>
          {% endif %}
          </ul>

          <!-- Partie collée à droite de la barre nav -->
          <ul class="nav navbar-nav navbar-right">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
              <li class="nav-link">{{ app.user.username }}</li>
              <li class="nav-item"><a href="{{ path('fos_user_security_logout') }}" class="btn btn-danger">Déconnexion</a></li>
            {% endif %}
          </ul>
        </div>
      </nav>
      {%  block header %}
      {% endblock %}
    </header>

    <!-- Corps de la page -->
    <main role="main" class="flex-shrink-0">
      <script>
        // START SOCKET CONFIG
        /**
         * Note that you need to change the "sandbox" for the URL of your project.
         * According to the configuration in Sockets/Chat.php , change the port if you need to.
         * @type WebSocket
         */
        // On retrouve l'url de base du serveur à la barbare
        var urlSock = "{{ app.request.getSchemeAndHttpHost() }}";
        //On enlève le http (ou https)
        urlSock = urlSock.split("/");
        urlSock = urlSock[2];
        //On enlève le port
        urlSock = urlSock.split(":");
        urlSock = urlSock[0];
        var conn = new WebSocket('ws://'+ urlSock +':8084');

        conn.onopen = function(e) {
          console.info("Connection established succesfully");
          {% if app.user is not null %}
          // On requète l'historique du tchat
          var clientInformation = {
            type: "connect",
            userId: {{ app.user.id }}
          }
          conn.send(JSON.stringify(clientInformation));
          {% endif %}
        };

        conn.onmessage = function(e) {
          var data = JSON.parse(e.data);
          if (data.type == "message") {
            var div = document.createElement("div");
            div.className = "messageOther";
            div.textContent = data.username + " : " + data.message;
            document.getElementById("discussion").appendChild(div);
          } else if (data.type == "tchat") {
            loadTchat(data);
          }
          console.log(data);
        };

        var error = 0;
        conn.onerror = function(e){
          var div = document.createElement("div");
          div.textContent = "Erreur lors de la connexion, veuillez contacter un administrateur !";
          document.getElementById("discussion").appendChild(div);
          document.getElementById("UserMessage").remove();
          console.error(e);
        };
      </script>
	  {% block content %}
	  {% endblock %}
    </main>
    <!-- Footer : Copyright et Liens utiles -->
    <footer class="footer mt-auto py-3">
      <div class="container">
        <p>© Copyright - Agora : Salle de jeux virtuelle</p>
      </div>
    </footer>
  </body>
</html>
