{% extends 'platform/dashboard/layout.html.twig' %}
{% block title %}
Description : {{ game.name }}
{% endblock %}
{% block content %}
<header class="relative isolate px-6 pt-14 lg:px-8">
   <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80" aria-hidden="true">
      <div class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-danger to-primary opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
   </div>
   <div class="flex justify-center">
      <div class="w-full max-w-screen-xl">
         <div class="relative isolate flex flex-col justify-end overflow-hidden rounded-2xl bg-gray-900 px-8 pb-8 pt-80 sm:pt-48 lg:pt-80">
            <img src="{{ asset(game.getImgURL) }}" alt="{{ game.getName }}" class="absolute inset-0 -z-10 h-full w-full object-cover">
            <div class="absolute inset-0 -z-10 bg-gradient-to-t from-gray-900 via-gray-900/40"></div>
            <div class="absolute inset-0 -z-10 rounded-2xl ring-1 ring-inset ring-gray-900/10"></div>
            <h3 class="mt-3 text-lg font-semibold leading-6 text-white">
               {{ game.getName }}
            </h3>
            <p class="text-sm leading-6 text-gray-300">{{ game.getDescrRule }}</p>
         </div>
         <div class="mx-auto mt-16">
            <div class="w-full p-6 bg-white border border-gray-200 rounded-lg shadow">
               <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">{{game.name}}</h5>
               {% if game.label == '6QP' %}
               </br>
               <p class="mb-3 font-normal text-gray-700">
                  Le jeu du <strong>6 Qui Prend</strong> est un jeu de cartes simple et amusant, idéal pour les débutants. 
                  <br><br>
                  <strong>Règles du Jeu :</strong>
                  <br>
                  Le but du jeu est de collecter le moins de <strong>têtes de boeufs</strong> possible. Chaque carte a un certain nombre de têtes de boeufs. 
                  <br>
                  Les joueurs choisissent à tour de rôle une carte de leur main et la placent sur l'une des rangées disponibles. 
                  <br>
                  Si la carte ajoutée dépasse la limite de la rangée, le joueur récupère toutes les cartes de cette rangée, ainsi que les têtes de boeufs correspondantes. 
                  <br>
                  Le jeu se poursuit jusqu'à ce qu'un joueur atteigne un certain nombre de têtes de boeufs ou qu'il n'y ait plus de cartes à piocher.
                  <br>Le joueur avec le moins de têtes de boeufs à la fin de la partie est déclaré vainqueur. 
                  <br><br>
                  <strong>Comment Jouer :</strong>
                  <br>
                  Pour jouer, chaque joueur reçoit un certain nombre de cartes. À tour de rôle, les joueurs choisissent une carte de leur main et la placent face cachée sur l'une des rangées disponibles. 
                  <br><br>
                  <strong>Objectif du Jeu :</strong>
                  <br>
                  L'objectif est de minimiser le nombre de <strong>têtes de boeufs</strong> que vous collectez en plaçant vos cartes sur les rangées. 
                  <br><br>
                  <strong>Jouer Maintenant !</strong>
                  <br>
                  Prêt à relever le défi ? Jouez maintenant et voyez si vous pouvez éviter de ramasser trop de têtes de boeufs !
               </p>
               {% endif %}
               </br>
               {% if app.user %}
               <a href="/dashboard/games" class="text-white bg-red-500 hover:bg-red-400 focus:ring-4 focus:outline-none focus:ring-red-300 font-semibold rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">
               RETOUR
               </a>
               <a href="#" class="text-white bg-primary hover:bg-blue-400 focus:ring-4 focus:outline-none focus:ring-blue-300 font-semibold rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">
               JOUER
               </a>
               {% else %}
               <a href="/register" class="text-white bg-primary hover:bg-blue-400 focus:ring-4 focus:outline-none focus:ring-blue-300 font-semibold rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">
               S'inscrire
               </a>
               <a href="/login" class="text-white bg-primary hover:bg-blue-400 focus:ring-4 focus:outline-none focus:ring-blue-300 font-semibold rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">
               Se connecter
               </a>
               {% endif %}
            </div>
         </div>
      </div>
   </div>
   <div class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]" aria-hidden="true">
      <div class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-primary to-danger opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
   </div>
</header>
{% endblock %}