{% extends 'platform/dashboard/layout.html.twig' %}

{% block title %}
	Historique
{% endblock %}

{% block content %}
	<style>
   .table-container {
   border-collapse: separate;
   border-spacing: 0 8px;
   }
   .search-label {
   display: block;
   margin-bottom: 0.5rem; /* Ajoute de l'espace entre les libellés et les menus déroulants */
   }
   .search-form-container {
   display: flex;
   justify-content: center; /* Centrer horizontalement */
   margin-bottom: 2rem; /* Ajouter de l'espace en bas */
   }
   .search-form-container .w-full {
   margin-right: 5rem; /* Ajouter un espace horizontal entre chaque filtre */
   }
</style>
<header class="relative isolate px-6 pt-14 lg:px-8">
   <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80" aria-hidden="true">
      <div class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-danger to-primary opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
   </div>

   {% include 'platform/shared/flashMessage.html.twig' %}

   <div class="mx-auto max-w-7xl px-6 lg:px-8 mt-16">
      <div class="search-form-container">
         <!-- Ajout de la classe de conteneur pour le formulaire -->
         <!-- Formulaire de recherche -->
          {{ form_start(searchboard, {'attr': {'id': 'searchForm'}}) }}
          <div class="my-custom-class-for-errors">
              {{ form_errors(searchboard) }}
          </div>
          <div class="flex items-start">
              <!-- Ajout de la classe "items-start" pour aligner les éléments en haut -->
              <div class="w-full md:w-1/4 pr-2">
                  <div class="text-black font-bold">{{ form_label(searchboard.status, 'Statut', {'label_attr': {'class': 'search-label'}}) }}</div>
                  {{ form_widget(searchboard.status, {'id': 'statusSelect', 'placeholder': 'Choisir le statut'}) }}
              </div>
              <div class="w-full md:w-1/4 pr-2">
                  <div class="text-black font-bold">{{ form_label(searchboard.availability, 'Disponibilité', {'label_attr': {'class': 'search-label'}}) }}</div>
                  {{ form_widget(searchboard.availability, {'id': 'availabilitySelect', 'placeholder': 'Choisir la disponibilité'}) }}
              </div>
              <div class="w-full md:w-1/4 pr-2">
                  <div class="text-black font-bold">{{ form_label(searchboard.datecreation, 'Date de création', {'label_attr': {'class': 'search-label'}}) }}</div>
                  {{ form_widget(searchboard.datecreation, {'id': 'datecreationSelect', 'placeholder': 'Choisir la date de création'}) }}
                  <div id="datecreationplusContainer" style="display: none;">
                      <div class="text-black font-bold label-dateplus">{{ form_label(searchboard.datecreationplus, 'Date d\'intervalle', {'label_attr': {'class': 'search-label'}}) }}</div>
                      {{ form_widget(searchboard.datecreationplus, {'id': 'datecreationplusSelect', 'placeholder': 'Choisir la seconde date'}) }}
                  </div>
              </div>
              <div class="w-full md:w-1/4 pr-2">
                  <div class="text-black font-bold">{{ form_label(searchboard.dateselection, 'Option de date', {'label_attr': {'class': 'search-label'}}) }}</div>
                  {{ form_widget(searchboard.dateselection, {'id': 'dateSelect', 'placeholder': 'Option de selection'}) }}
              </div>
              <div class="w-full md:w-1/4">
                  <div class="text-black font-bold">{{ form_label(searchboard.game, 'Jeu', {'label_attr': {'class': 'search-label'}}) }}</div>
                  {{ form_widget(searchboard.game, {'id': 'gameSelect', 'placeholder': 'Choisir le jeu'}) }}
              </div>
          </div>
          {{ form_end(searchboard) }}

      </div>
   </div>
   <div class="mx-auto max-w-7xl px-6 lg:px-8 mt-16">
      <div id="table-container" class="relative overflow-x-auto shadow-md sm:rounded-lg">
         <table class="w-full text-sm text-left rtl:text-right text-gray-500 border border-gray-300">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50">
               <tr>
                  <th scope="col" class="px-3 py-3 text-center">
                     Jeux
                  </th>
                  <th scope="col" class="px-3 py-3">
                     Informations
                  </th>
                  <th scope="col" class="px-20 py-3">
                     Joueurs
                  </th>
                  <th scope="col" class="px-3 py-3">
                     Action
                  </th>
               </tr>
            </thead>
            {% if app.user is not null %}
            {% set currentUserID = app.user.id %}
            {% endif %}
           <tbody id="table-body">
    {% for board in boards %}
        {% if board.status == 'FINISH' %}
            {% set users = board.listUsers %}
            {% set availableSeats = board.getNbAvailbleSlots() %}
            {% set colorClass = board.status == 'IN_GAME' ? 'bg-gradient-to-r from-transparent to-orange-200' : (board.isAvailble() ? 'bg-gradient-to-r from-transparent to-green-200' : 'bg-gradient-to-r from-transparent to-red-200') %}
            {% set usersIds = users|map(user => user.id) %}
            {% set usersInTable = usersIds|filter(id => id == currentUserID) %}
            {% if usersInTable|length == 0 %} {# Vérifie si l'utilisateur n'est pas dans la table #}
                <tr class="{{ colorClass }} border-b hover:bg-gray-50">
                    <td class="p-2 text-center">
                        {% if board.game is not empty %}
                            <a href="{{ path('app_dashboard_game_description', {'game_id': board.game.id}) }}">
                                <img src="{{ asset(board.game.imgURL) }}" class="w-32 h-16 md:w-24 md:h-24 rounded-md mx-auto" alt="{{ board.game.name }}">
                            </a>
                        {% else %}
                            <span class="text-red-500">Image non disponible</span>
                        {% endif %}
                    </td>
                    <td class="px-3 py-4 font-semibold text-gray-900">
                        <div class="text-black font-bold">{{ board.game.name }}</div>
                        </br>
                        <div>Places disponibles : {{ availableSeats }}</div>
                        <div>Status :
                            {% if board.status == 'WAITING' %}
                                En attente
                            {% elseif board.status == 'IN_GAME' %}
                                En cours
                            {% elseif board.status == 'FINISH' %}
                                Terminé
                            {% endif %}
                        </div>
                        <div>Accessibilité :
                            {% if board.isAvailble() == true %}
                                Ouverte
                            {% elseif board.isAvailble() == false %}
                                Fermé
                            {% endif %}
                        </div>
                        <div>Date de création : Le {{ board.creationdate|date('d-m-Y à H:i') }}</div>
                    </td>
                    <td class="px-20 py-4">
                        <table class="w-full text-xs text-gray-500 table-container">
                            {% set usersCount = users|length %}
                            {% set maxUsers = board.getNbUserMax() %}
                            {% set rows = (maxUsers / 4)|round(0, 'ceil') %}
                            {% set cellWidth = 100 / 4 %}
                            {% for row in 1..rows %}
                                <tr>
                                    {% for column in 1..4 %}
                                        {% set userIndex = (row - 1) * 4 + column - 1 %}
                                        {% set user = userIndex < usersCount ? users[userIndex] : null %}
                                        <td style="width: {{ cellWidth }}%;{% if column < 4 %} margin-right: 1%;{% endif %}">
                                            {% if user %}
                                                <div style="width: 50px; margin: 0 auto;">
                                                    <a href="{{ path('app_other_user_profile', {'user_id': user.id}) }}" class="flex items-center justify-center">
                                                        <div style="text-align: center;">
                                                            <img src="https://avatarfiles.alphacoders.com/244/thumb-244471.png" alt="Avatar de {{ user.username }}" class="w-8 h-8 rounded-full object-cover mb-1">
                                                            <div class="text-black font-bold">{{ user.username }}</div>
                                                        </div>
                                                    </a>
                                                </div>
                                            {% endif %}
                                        </td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </table>
                    </td>
					<td class="px-3 py-4">
					{% if app.user %}
                     	{% if currentUserID in usersIds %}
                        	{% if board.status == 'FINISH' %}
                   				<a href="{{ path('app_join_game', {'id': board.id}) }}" class="text-white bg-primary hover:bg-blue-400 focus:ring-4 focus:outline-none focus:ring-blue-300 font-semibold rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">
                              		Visionner
                           		</a>
							{% endif %}
                     	{% endif %}
                  {% endif %}
                  </td>
                </tr>
            {% endif %}
        {% endif %}
    {% endfor %}
</tbody>

         </table>
         
      </div>
<div class="flex justify-center mt-4">
    <nav aria-label="Page navigation example">
  <ul class="inline-flex -space-x-px text-sm">
    <li>
      <a href="#" class="flex items-center justify-center px-3 h-8 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Previous</a>
    </li>
    <li>
      <a href="#" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">1</a>
    </li>
    <li>
      <a href="#" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">2</a>
    </li>
    <li>
      <a href="#" aria-current="page" class="flex items-center justify-center px-3 h-8 text-blue-600 border border-gray-300 bg-blue-50 hover:bg-blue-100 hover:text-blue-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white">3</a>
    </li>
    <li>
      <a href="#" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">4</a>
    </li>
    <li>
      <a href="#" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">5</a>
    </li>
    <li>
      <a href="#" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Next</a>
    </li>
  </ul>
</nav>
</div>

   </div>
   
   <div class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]" aria-hidden="true">
      <div class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-primary to-danger opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
   </div>
</header>

<script>
   // Fonction pour soumettre automatiquement le formulaire lorsqu'une sélection change
   function submitSearchForm() {
       document.getElementById('searchForm').submit();
   }

   // Fonction pour afficher ou masquer le champ datecreationplus en fonction de l'option sélectionnée dans dateselection
   function handleDateCreationPlusVisibility() {
       var selectedOption = document.getElementById('dateSelect').value;
       var dateCreationPlusContainer = document.getElementById('datecreationplusContainer');

       if (selectedOption === 'between') {
           dateCreationPlusContainer.style.display = 'block';
       } else {
           dateCreationPlusContainer.style.display = 'none';
           document.getElementById('dateSelect').addEventListener('change', submitSearchForm);
       }
   }

   // Ajouter un écouteur d'événement pour détecter les changements dans le champ dateselection
   document.getElementById('dateSelect').addEventListener('change', handleDateCreationPlusVisibility);

   // Appeler la fonction pour initialiser l'affichage du champ datecreationplus
   handleDateCreationPlusVisibility();


   // Ajouter des écouteurs d'événements pour les changements de sélection
   document.getElementById('statusSelect').addEventListener('change', submitSearchForm);
   document.getElementById('availabilitySelect').addEventListener('change', submitSearchForm);
   document.getElementById('datecreationSelect').addEventListener('change', submitSearchForm);
   document.getElementById('gameSelect').addEventListener('change', submitSearchForm);
   document.getElementById('datecreationplusSelect').addEventListener('change', submitSearchForm);
   document.getElementById('gameSelect').addEventListener('change', submitSearchForm);

</script>
{% endblock %}
