{% extends 'platform/base.html.twig' %}
{% block dashboard_layout %}
	<div>
		<!-- Off-canvas menu for mobile, show/hide based on off-canvas menu state. -->
		<div class="relative z-50 lg:hidden" role="dialog" aria-modal="true">
			<div id="sidebar-overlay" class="hidden fixed inset-0 bg-gray-900/80"></div>
			<div id="sidebar" class="hidden fixed inset-0 ">
				<div class="relative mr-16 flex w-full max-w-xs flex-1">
					<div id="sidebar-close-button" class="absolute left-full top-0 flex w-16 justify-center pt-5">
						<button type="button" class="-m-2.5 p-2.5">
							<span class="sr-only">Fermer la barre latérale</span>
							<svg class="h-6 w-6 text-white" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
								<path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"/>
							</svg>
						</button>
					</div>
					<!-- Sidebar component -->
					<div class="flex grow flex-col gap-y-5 overflow-y-auto bg-gray-900 px-6 pb-4 ring-1 ring-white/10">
						<a href="/dashboard/user" class="-m-1.5 p-1.5 text-xl font-bold">
							AGORA
						</a>
						<nav class="flex flex-1 flex-col">
							<ul role="list" class="flex flex-1 flex-col gap-y-7">
								<li>
									<ul role="list" class="-mx-2 space-y-1">
										<li>
											<a href="/dashboard/user" class="bg-gray-800 text-white group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold">
												<svg class="h-6 w-6 shrink-0" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
													<path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25"/>
												</svg>
												Accueil
											</a>
										</li>
										<li>
											<a href="/dashboard/profile" class="text-gray-400 hover:text-white hover:bg-gray-800 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold">
												<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
													<path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z"/>
												</svg>
												Profil
											</a>
										</li>
										<li>
											<a href="/dashboard/tables" class="text-gray-400 hover:text-white hover:bg-gray-800 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold">
												<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
													<path stroke-linecap="round" stroke-linejoin="round" d="M8.25 9V5.25A2.25 2.25 0 0 1 10.5 3h6a2.25 2.25 0 0 1 2.25 2.25v13.5A2.25 2.25 0 0 1 16.5 21h-6a2.25 2.25 0 0 1-2.25-2.25V15M12 9l3 3m0 0-3 3m3-3H2.25"/>
												</svg>
												Tables
											</a>
										</li>
										<li>
											<a href="/dashboard/games" class="text-gray-400 hover:text-white hover:bg-gray-800 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold">
												<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
													<path stroke-linecap="round" stroke-linejoin="round" d="M14.25 6.087c0-.355.186-.676.401-.959.221-.29.349-.634.349-1.003 0-1.036-1.007-1.875-2.25-1.875s-2.25.84-2.25 1.875c0 .369.128.713.349 1.003.215.283.401.604.401.959v0a.64.64 0 0 1-.657.643 48.39 48.39 0 0 1-4.163-.3c.186 1.613.293 3.25.315 4.907a.656.656 0 0 1-.658.663v0c-.355 0-.676-.186-.959-.401a1.647 1.647 0 0 0-1.003-.349c-1.036 0-1.875 1.007-1.875 2.25s.84 2.25 1.875 2.25c.369 0 .713-.128 1.003-.349.283-.215.604-.401.959-.401v0c.31 0 .555.26.532.57a48.039 48.039 0 0 1-.642 5.056c1.518.19 3.058.309 4.616.354a.64.64 0 0 0 .657-.643v0c0-.355-.186-.676-.401-.959a1.647 1.647 0 0 1-.349-1.003c0-1.035 1.008-1.875 2.25-1.875 1.243 0 2.25.84 2.25 1.875 0 .369-.128.713-.349 1.003-.215.283-.4.604-.4.959v0c0 .333.277.599.61.58a48.1 48.1 0 0 0 5.427-.63 48.05 48.05 0 0 0 .582-4.717.532.532 0 0 0-.533-.57v0c-.355 0-.676.186-.959.401-.29.221-.634.349-1.003.349-1.035 0-1.875-1.007-1.875-2.25s.84-2.25 1.875-2.25c.37 0 .713.128 1.003.349.283.215.604.401.96.401v0a.656.656 0 0 0 .658-.663 48.422 48.422 0 0 0-.37-5.36c-1.886.342-3.81.574-5.766.689a.578.578 0 0 1-.61-.58v0Z"/>
												</svg>
												Jeux
											</a>
										</li>
										<li>
											<a href="/dashboard/history" class="text-gray-400 hover:text-white hover:bg-gray-800 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold">
												<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
													<path stroke-linecap="round" stroke-linejoin="round" d="m15.75 10.5 4.72-4.72a.75.75 0 0 1 1.28.53v11.38a.75.75 0 0 1-1.28.53l-4.72-4.72M4.5 18.75h9a2.25 2.25 0 0 0 2.25-2.25v-9a2.25 2.25 0 0 0-2.25-2.25h-9A2.25 2.25 0 0 0 2.25 7.5v9a2.25 2.25 0 0 0 2.25 2.25Z"/>
												</svg>
												Historique
											</a>
										</li>
										<li>
											<a href="/dashboard/tableadmin" class="text-gray-400 hover:text-white hover:bg-gray-800 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold">
												<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
													<path stroke-linecap="round" stroke-linejoin="round" d="m15.75 10.5 4.72-4.72a.75.75 0 0 1 1.28.53v11.38a.75.75 0 0 1-1.28.53l-4.72-4.72M4.5 18.75h9a2.25 2.25 0 0 0 2.25-2.25v-9a2.25 2.25 0 0 0-2.25-2.25h-9A2.25 2.25 0 0 0 2.25 7.5v9a2.25 2.25 0 0 0 2.25 2.25Z"/>
												</svg>
												Admin Tables
											</a>
										</li>
									</ul>
								</li>
								<li class="mt-auto">
									<a href="/dashboard/settings" class="group -mx-2 flex gap-x-3 rounded-md p-2 text-sm font-semibold leading-6 text-gray-400 hover:bg-gray-800 hover:text-white">
										<svg class="h-6 w-6 shrink-0" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
											<path stroke-linecap="round" stroke-linejoin="round" d="M9.594 3.94c.09-.542.56-.94 1.11-.94h2.593c.55 0 1.02.398 1.11.94l.213 1.281c.063.374.313.686.645.87.074.04.147.083.22.127.324.196.72.257 1.075.124l1.217-.456a1.125 1.125 0 011.37.49l1.296 2.247a1.125 1.125 0 01-.26 1.431l-1.003.827c-.293.24-.438.613-.431.992a6.759 6.759 0 010 .255c-.007.378.138.75.43.99l1.005.828c.424.35.534.954.26 1.43l-1.298 2.247a1.125 1.125 0 01-1.369.491l-1.217-.456c-.355-.133-.75-.072-1.076.124a6.57 6.57 0 01-.22.128c-.331.183-.581.495-.644.869l-.213 1.28c-.09.543-.56.941-1.11.941h-2.594c-.55 0-1.02-.398-1.11-.94l-.213-1.281c-.062-.374-.312-.686-.644-.87a6.52 6.52 0 01-.22-.127c-.325-.196-.72-.257-1.076-.124l-1.217.456a1.125 1.125 0 01-1.369-.49l-1.297-2.247a1.125 1.125 0 01.26-1.431l1.004-.827c.292-.24.437-.613.43-.992a6.932 6.932 0 010-.255c.007-.378-.138-.75-.43-.99l-1.004-.828a1.125 1.125 0 01-.26-1.43l1.297-2.247a1.125 1.125 0 011.37-.491l1.216.456c.356.133.751.072 1.076-.124.072-.044.146-.087.22-.128.332-.183.582-.495.644-.869l.214-1.281z"/>
											<path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"/>
										</svg>
										Paramètres
									</a>
								</li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>
		<!-- Static sidebar for desktop -->
		<div
			class="hidden lg:fixed lg:inset-y-0 lg:z-50 lg:flex lg:w-72 lg:flex-col">
			<!-- Sidebar component, swap this element with another sidebar if you like -->
			<div class="flex grow flex-col gap-y-5 overflow-y-auto bg-gray-900 px-6 pb-4">
				<div class="flex h-16 shrink-0 items-center">
					<a href="/dashboard/user" class="text-xl font-bold text-white">
						AGORA
					</a>
				</div>
				<nav class="flex flex-1 flex-col">
					<ul role="list" class="flex flex-1 flex-col gap-y-7">
						<li>
							<ul role="list" class="-mx-2 space-y-1">
								<li>
									<a href="/dashboard/user" class="text-gray-400 hover:text-white hover:bg-gray-800 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold">
										<svg class="h-6 w-6 shrink-0" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
											<path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25"/>
										</svg>
										Accueil
									</a>
								</li>
								<li>
									<a href="/dashboard/profile" class="text-gray-400 hover:text-white hover:bg-gray-800 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold">
										<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
											<path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z"/>
										</svg>
										Profil
									</a>
								</li>
								<li>
									<a href="/dashboard/tables" class="text-gray-400 hover:text-white hover:bg-gray-800 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold">
										<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
											<path stroke-linecap="round" stroke-linejoin="round" d="M8.25 9V5.25A2.25 2.25 0 0 1 10.5 3h6a2.25 2.25 0 0 1 2.25 2.25v13.5A2.25 2.25 0 0 1 16.5 21h-6a2.25 2.25 0 0 1-2.25-2.25V15M12 9l3 3m0 0-3 3m3-3H2.25"/>
										</svg>
										Tables
									</a>
								</li>
								<li>
									<a href="/dashboard/games" class="text-gray-400 hover:text-white hover:bg-gray-800 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold">
										<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
											<path stroke-linecap="round" stroke-linejoin="round" d="M14.25 6.087c0-.355.186-.676.401-.959.221-.29.349-.634.349-1.003 0-1.036-1.007-1.875-2.25-1.875s-2.25.84-2.25 1.875c0 .369.128.713.349 1.003.215.283.401.604.401.959v0a.64.64 0 0 1-.657.643 48.39 48.39 0 0 1-4.163-.3c.186 1.613.293 3.25.315 4.907a.656.656 0 0 1-.658.663v0c-.355 0-.676-.186-.959-.401a1.647 1.647 0 0 0-1.003-.349c-1.036 0-1.875 1.007-1.875 2.25s.84 2.25 1.875 2.25c.369 0 .713-.128 1.003-.349.283-.215.604-.401.959-.401v0c.31 0 .555.26.532.57a48.039 48.039 0 0 1-.642 5.056c1.518.19 3.058.309 4.616.354a.64.64 0 0 0 .657-.643v0c0-.355-.186-.676-.401-.959a1.647 1.647 0 0 1-.349-1.003c0-1.035 1.008-1.875 2.25-1.875 1.243 0 2.25.84 2.25 1.875 0 .369-.128.713-.349 1.003-.215.283-.4.604-.4.959v0c0 .333.277.599.61.58a48.1 48.1 0 0 0 5.427-.63 48.05 48.05 0 0 0 .582-4.717.532.532 0 0 0-.533-.57v0c-.355 0-.676.186-.959.401-.29.221-.634.349-1.003.349-1.035 0-1.875-1.007-1.875-2.25s.84-2.25 1.875-2.25c.37 0 .713.128 1.003.349.283.215.604.401.96.401v0a.656.656 0 0 0 .658-.663 48.422 48.422 0 0 0-.37-5.36c-1.886.342-3.81.574-5.766.689a.578.578 0 0 1-.61-.58v0Z"/>
										</svg>
										Jeux
									</a>
								</li>
								<li>
									<a href="/dashboard/history" class="text-gray-400 hover:text-white hover:bg-gray-800 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold">
										<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
											<path stroke-linecap="round" stroke-linejoin="round" d="m15.75 10.5 4.72-4.72a.75.75 0 0 1 1.28.53v11.38a.75.75 0 0 1-1.28.53l-4.72-4.72M4.5 18.75h9a2.25 2.25 0 0 0 2.25-2.25v-9a2.25 2.25 0 0 0-2.25-2.25h-9A2.25 2.25 0 0 0 2.25 7.5v9a2.25 2.25 0 0 0 2.25 2.25Z"/>
										</svg>
										Historique
									</a>
								</li>
								<li>
									<a href="/dashboard/tableadmin" class="text-gray-400 hover:text-white hover:bg-gray-800 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold">
										<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
											<path stroke-linecap="round" stroke-linejoin="round" d="m15.75 10.5 4.72-4.72a.75.75 0 0 1 1.28.53v11.38a.75.75 0 0 1-1.28.53l-4.72-4.72M4.5 18.75h9a2.25 2.25 0 0 0 2.25-2.25v-9a2.25 2.25 0 0 0-2.25-2.25h-9A2.25 2.25 0 0 0 2.25 7.5v9a2.25 2.25 0 0 0 2.25 2.25Z"/>
										</svg>
										Admin Tables
									</a>
								</li>
							</ul>
						</li>

						<li class="mt-auto">
							<a href="/dashboard/settings" class="group -mx-2 flex gap-x-3 rounded-md p-2 text-sm font-semibold leading-6 text-gray-400 hover:bg-gray-800 hover:text-white">
								<svg class="h-6 w-6 shrink-0" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
									<path stroke-linecap="round" stroke-linejoin="round" d="M9.594 3.94c.09-.542.56-.94 1.11-.94h2.593c.55 0 1.02.398 1.11.94l.213 1.281c.063.374.313.686.645.87.074.04.147.083.22.127.324.196.72.257 1.075.124l1.217-.456a1.125 1.125 0 011.37.49l1.296 2.247a1.125 1.125 0 01-.26 1.431l-1.003.827c-.293.24-.438.613-.431.992a6.759 6.759 0 010 .255c-.007.378.138.75.43.99l1.005.828c.424.35.534.954.26 1.43l-1.298 2.247a1.125 1.125 0 01-1.369.491l-1.217-.456c-.355-.133-.75-.072-1.076.124a6.57 6.57 0 01-.22.128c-.331.183-.581.495-.644.869l-.213 1.28c-.09.543-.56.941-1.11.941h-2.594c-.55 0-1.02-.398-1.11-.94l-.213-1.281c-.062-.374-.312-.686-.644-.87a6.52 6.52 0 01-.22-.127c-.325-.196-.72-.257-1.076-.124l-1.217.456a1.125 1.125 0 01-1.369-.49l-1.297-2.247a1.125 1.125 0 01.26-1.431l1.004-.827c.292-.24.437-.613.43-.992a6.932 6.932 0 010-.255c.007-.378-.138-.75-.43-.99l-1.004-.828a1.125 1.125 0 01-.26-1.43l1.297-2.247a1.125 1.125 0 011.37-.491l1.216.456c.356.133.751.072 1.076-.124.072-.044.146-.087.22-.128.332-.183.582-.495.644-.869l.214-1.281z"/>
									<path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"/>
								</svg>
								Paramètres
							</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>

		<div class="lg:pl-72">
			<div class="sticky top-0 z-40 flex h-16 shrink-0 items-center gap-x-4 border-b border-gray-200 bg-white px-4 shadow-sm sm:gap-x-6 sm:px-6 lg:px-8">
				<button id="sidebar-open-button" type="button" class="-m-2.5 p-2.5 text-gray-700 lg:hidden">
					<span class="sr-only">Ouvrir la barre latérale</span>
					<svg class="h-6 w-6" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
						<path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"/>
					</svg>
				</button>
				<!-- Separator -->
				<div class="h-6 w-px bg-gray-900/10 lg:hidden" aria-hidden="true"></div>
				<div class="flex items-center gap-x-4 lg:gap-x-6 justify-end w-full">
					<div class="relative inline-block text-left" id="notification-container">
    <button type="button" class="-m-2.5 p-2.5 text-gray-400 hover:text-gray-500 relative" id="notification-button">
    <span class="sr-only">Afficher les notifications</span>

    <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
        <path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0"/>
    </svg>
</button>

					<!-- Menu de notification -->
<div class="hidden origin-top-right absolute right-0 mt-2 lg:w-72 rounded-md shadow-lg py-2 bg-white ring-1 ring-black ring-opacity-5" id="notification-menu">
    <!-- Titre du menu -->
    <div class="px-4">
        <h2 class="text-lg font-semibold text-gray-800 mb-0">Mes notifications</h2>
        <div class="mt-1 py-0 text-base text-gray-700 hover:bg-gray-100 hover:text-gray-900 border-b border-gray-900 last:border-b-0 transition duration-150"></div>
		<div id="notif-content">
        <!-- Contenu du menu de notifications avec des notifications plus grandes -->
			{% for notification in notifications %}
				<div class="notification-item py-3 text-base text-gray-700 hover:bg-gray-100 hover:text-gray-900">
					<div class="flex items-start">
						<div class="text-right text-xs text-blue-500">{{ notification.type }}</div>
					</div>
					<p>{{notification.content}}</p>
					<div class="flex items-end">
						<svg class="h-5 w-5 text-gray-400 ml-2" viewBox="0 0 20 20" fill="currentColor">
							<path fill-rule="evenodd" d="M13 10a3 3 0 11-6 0 3 3 0 016 0zm-2 0a1 1 0 10-2 0 1 1 0 002 0z" clip-rule="evenodd"/>
						</svg>
						<div class="text-right text-xs text-gray-500">{{ notification.createdAt | date }}</div>
					</div>
					<div class="mt-4 flex justify-center">
						<a href="#" class="text-sm text-primary hover:text-blue-400 font-semibold rounded-lg px-3 py-1.5 text-center mr-2 mb-2 mark-as-read">Voir</a>
						<a href="readNotification/{{ notification.id }}" class="text-sm text-primary hover:text-blue-400 font-semibold rounded-lg px-3 py-1.5 text-center mr-2 mb-2 mark-as-read">Marquer comme lu</a>
					</div>
					<div class="mt-1 py-0 text-base text-gray-700 hover:bg-gray-100 hover:text-gray-900 border-b border-gray-900 last:border-b-0 transition duration-150"></div>
				</div>
			{% endfor %}
		</div>


        <!-- Bouton Tout marquer comme lu -->
        <div class="mt-3 flex justify-center">
            <a href="#" id="mark-all-as-read" class="text-sm text-red-500 hover:text-red-700 mark-all-as-read">Tout marquer comme lu</a>
        </div>
    </div>

</div>

</div>





					<!-- Separator -->
					<div class="hidden lg:block lg:h-6 lg:w-px lg:bg-gray-900/10" aria-hidden="true"></div>
					<!-- Profile dropdown -->
					<div class="relative">
						<button type="button" class="-m-1.5 flex items-center p-1.5" id="user-menu-button" aria-expanded="false" aria-haspopup="true">
							<span class="sr-only">Ouvrir le menu utilisateur</span>
							<img class="h-8 w-8 rounded-full bg-gray-50" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
							<span class="hidden lg:flex lg:items-center">
								<span class="ml-4 text-sm font-semibold leading-6 text-gray-900" aria-hidden="true">{{ app.user.username }}</span>
								<svg class="ml-2 h-5 w-5 text-gray-400" viewbox="0 0 20 20" fill="currentColor" aria-hidden="true">
									<path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd"/>
								</svg>
							</span>
						</button>
						<div
							id="user-menu" class="hidden absolute right-0 z-10 mt-2.5 w-32 origin-top-right rounded-md bg-white py-2 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none transition ease-out duration-100 transform opacity-0 scale-95" role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">
							<!-- Active: "bg-gray-50", Not Active: "" -->
							<a href="/dashboard/profile" class="block px-3 py-1 text-sm leading-6 text-gray-900 hover:bg-gray-50" role="menuitem" tabindex="-1" id="user-menu-item-0">Mon profil</a>
							<a href="/dashboard/settings" class="block px-3 py-1 text-sm leading-6 text-gray-900 hover:bg-gray-50" role="menuitem" tabindex="-1" id="user-menu-item-0">Paramètres</a>
							<a href="/logout" class="block px-3 py-1 text-sm leading-6 text-gray-900 hover:bg-gray-50" role="menuitem" tabindex="-1" id="user-menu-item-1">Se déconnecter</a>
						</div>
					</div>
				</div>
			</div>
			<main class="py-10">
				<div class="px-4 sm:px-6 lg:px-8">
					{% block content %}{% endblock %}
				</div>
			</main>
		</div>
	</div>

{#	Notifications ---------------------------------------------------#}

	<script src="{{ asset('js/Platform/notify.js') }}"></script>
	<script>
		let eventSource;
		{% if app.user %}
		eventSource = new EventSource("{{ mercure('agora/notifications/user/' ~ app.user.id)|escape('js') }}");
		{% else %}
		eventSource = new EventSource("{{ mercure('agora/notifications/user/null')|escape('js') }}");
		{% endif %}
		eventSource.onmessage = event => {
			const data = JSON.parse(event.data);
			notify(data.content, "Agora");
			updateNotificationFrame(data);
		}
		function updateNotificationFrame(notification) {
			const notificationsList = document.getElementById('notif-content');
			const date = new Date(notification.date);

			const formattedDate = date.toLocaleString('fr-FR', {
				hour: 'numeric',
				minute: 'numeric',
				month: 'long',
				day: '2-digit',
				year: 'numeric'
			}).replace(' à ', ' ');

			const notif = document.createElement('div');
			notif.innerHTML = `
            <div class="notification-item py-3 text-base text-gray-700 hover:bg-gray-100 hover:text-gray-900">
            <p>${notification.content}</p>
			<div class="flex items-end">
            	<svg class="h-5 w-5 text-gray-400 ml-2" viewBox="0 0 20 20" fill="currentColor">
            		<path fill-rule="evenodd" d="M13 10a3 3 0 11-6 0 3 3 0 016 0zm-2 0a1 1 0 10-2 0 1 1 0 002 0z" clip-rule="evenodd"/>
            	</svg>
            	<div class="text-right text-xs text-gray-500">${formattedDate}</div>
            </div>
            <div class="mt-4 flex justify-center">
                <a href="#" class="text-sm text-primary hover:text-blue-400 font-semibold rounded-lg px-3 py-1.5 text-center mr-2 mb-2 mark-as-read">Voir</a>
                <a href="#" class="text-sm text-primary hover:text-blue-400 font-semibold rounded-lg px-3 py-1.5 text-center mr-2 mb-2 mark-as-read">Marquer comme lu</a>
            </div>
            <div class="mt-1 py-0 text-base text-gray-700 hover:bg-gray-100 hover:text-gray-900 border-b border-gray-900 last:border-b-0 transition duration-150"></div>
        </div>
        `;
			notificationsList.prepend(notif);
		}
	</script>

{#	End notifications ---------------------------------------------------------------------#}

	<script>
		const dropdownButton = document.getElementById("user-menu-button");
const dropdownMenu = document.getElementById("user-menu");

const sidebarCloseButton = document.getElementById("sidebar-close-button");
const sidebarOpenButton = document.getElementById("sidebar-open-button");
const sidebarOverlay = document.getElementById("sidebar-overlay");
const sidebar = document.getElementById("sidebar");

const toggleClasses = (el, ...classes) => classes.map(c => el.classList.toggle(c))

dropdownButton.addEventListener('click', function () {
    const isMenuExpanded = this.getAttribute('aria-expanded') === 'true';
    if (!isMenuExpanded) {
        dropdownMenu.classList.remove('hidden', 'opacity-0', 'scale-95');
        dropdownMenu.classList.add('opacity-100', 'scale-100');
    } else {
        dropdownMenu.classList.remove('opacity-100', 'scale-100');
        dropdownMenu.classList.add('opacity-0', 'scale-95');
    }
    this.setAttribute('aria-expanded', !isMenuExpanded);
})

document.addEventListener("click", function (event) {
    if (!dropdownButton.contains(event.target) && !dropdownMenu.contains(event.target)) {
        dropdownButton.setAttribute('aria-expanded', 'false');
        dropdownMenu.classList.add('hidden', 'opacity-0', 'scale-95');
    }
})

window.addEventListener('click', function (event) {
if (! dropdownButton.contains(event.target) && ! dropdownMenu.contains(event.target)) {
dropdownButton.setAttribute('aria-expanded', 'false');
dropdownMenu.classList.add('hidden');
}
});

sidebarCloseButton.addEventListener('click', function () {
sidebarOverlay.classList.toggle('hidden');
sidebar.classList.toggle('hidden');
sidebar.classList.toggle('flex');
})

sidebarOpenButton.addEventListener('click', function () {
sidebarOverlay.classList.toggle('hidden');
sidebar.classList.toggle('hidden');
sidebar.classList.toggle('flex');
})

document.addEventListener("DOMContentLoaded", function() {
    // Récupérer l'URL actuelle
    var currentURL = window.location.pathname;
    
    const markAsReadLinks = document.querySelectorAll('.mark-as-read');
    const notificationItems = document.querySelectorAll('.notification-item'); // Sélectionner tous les éléments de notification

    // Parcourir tous les liens dans les deux zones de navigation
    var allNavLinks = document.querySelectorAll(".flex-1 a, #sidebar .flex-1 a");

    allNavLinks.forEach(function(link) {
        // Vérifier si l'URL du lien correspond à l'URL actuelle ou à la page d'accueil
        if (link.getAttribute("href") === currentURL || (currentURL === "/" && link.getAttribute("href") === "/dashboard/user")) {
            // Ajouter la classe de style focus et supprimer la classe de style non-focus
            link.classList.remove("text-gray-400", "hover:text-white", "hover:bg-gray-800");
            link.classList.add("bg-gray-800", "text-white");
        } else {
            // Ajouter la classe de style non-focus et supprimer la classe de style focus
            link.classList.remove("bg-gray-800", "text-white");
            link.classList.add("text-gray-400", "hover:text-white", "hover:bg-gray-800");
        }

        // Ajouter un écouteur d'événements sur chaque lien pour mettre à jour le style lors du clic
        link.addEventListener("click", function() {
            // Réinitialiser le style de tous les liens
            allNavLinks.forEach(function(navLink) {
                navLink.classList.remove("bg-gray-800", "text-white");
                navLink.classList.add("text-gray-400", "hover:text-white", "hover:bg-gray-800");
            });

            // Mettre à jour le style du lien cliqué pour avoir le focus
            link.classList.remove("text-gray-400", "hover:text-white", "hover:bg-gray-800");
            link.classList.add("bg-gray-800", "text-white");
        });

	// Ajouter un écouteur d'événements au lien "Tout marquer comme lu"
    const markAllAsReadLink = document.getElementById('mark-all-as-read');
    markAllAsReadLink.addEventListener('click', function(event) {
        event.preventDefault(); // Empêcher le comportement par défaut du lien

        // Supprimer toutes les notifications
        notificationItems.forEach(function(notificationItem) {
            notificationItem.remove();
        });
    });

		// Ajouter un écouteur d'événements à chaque lien
markAsReadLinks.forEach(function(link) {
    link.addEventListener('click', function(event) {
        event.preventDefault(); // Empêcher le comportement par défaut du lien
        event.stopPropagation(); // Empêcher la propagation de l'événement

        const notificationItem = this.closest('.notification-item'); // Trouver l'élément parent de la notification
        if (notificationItem) {
            notificationItem.remove(); // Supprimer l'élément de notification du DOM
        }
    });
});

    });

    // Notification menu functionality
    const notificationButton = document.getElementById('notification-button');
    const notificationMenu = document.getElementById('notification-menu');

    notificationButton.addEventListener('click', () => {
        const isMenuExpanded = notificationButton.getAttribute('aria-expanded') === 'true';
        if (!isMenuExpanded) {
            notificationMenu.classList.remove('hidden', 'opacity-0', 'scale-95');
            notificationMenu.classList.add('opacity-100', 'scale-100');
        } else {
            notificationMenu.classList.remove('opacity-100', 'scale-100');
            notificationMenu.classList.add('opacity-0', 'scale-95');
        }
        notificationButton.setAttribute('aria-expanded', !isMenuExpanded);
    });

    // Close the notification menu when the user clicks outside of it
    document.addEventListener('click', function(event) {
        if (!notificationButton.contains(event.target) && !notificationMenu.contains(event.target)) {
            notificationButton.setAttribute('aria-expanded', 'false');
            notificationMenu.classList.add('hidden', 'opacity-0', 'scale-95');
        }
    });
});

</script>
{% endblock %}
