{#
This section displays the ranking with a view of the other players' possessions
@param : game, players
@return :
#}

{#constants declaration#}
{% set PHASE_BIRTH = constant('App\\Entity\\Game\\Myrmes\\MyrmesParameters::PHASE_BIRTH') %}

{# Myrmes Logo with actual season dice #}
{% set seasons = game.mainBoardMYR.seasons %}
<div id="logo" class="w-full h-[10vw] landscape:1/6  lg:h-1/5 justify-center flex">
    <div>
        {% for season in seasons %}
                {% if season.actualSeason %}
                    <div class="flex justify-center items-center size-[70%] mt-5 mr-4 ml-4">
                        <img class="h-[6vw]"
                             src="{{ asset('resourcesGames/Myrmes/seasonsDices/' ~ season.name ~ '/' ~ season.name ~ 'Dice' ~ season.diceResult ~ '.svg') }}"
                             alt="{{ season.name }} dice {{ season.diceResult }}">
                    </div>
                {% endif %}
        {% endfor %}
    </div>
    <div class="flex justify-center items-center w-[70%] h-[80%] mt-4 mr-4">
        <img src="{{ asset('resourcesGames/Myrmes/myrmesLogo.png') }}" alt="myrmes logo">
    </div>
</div>

<div class="flex-grow-0 w-full lg:h-[80%] md:h-[70%] overflow-y-auto">
    {% for p in game.players %}

        {#player resources#}
        {% set playerResources = p.personalBoardMYR.playerResourceMYRs %}
        {% for r in playerResources %}
            <div id="{{ r.resource.description }}"></div>
        {% endfor %}
        {% set playerDirt = playerResources[0].quantity %}
        {% set playerStone = playerResources[1].quantity %}
        {% set playerGrass = playerResources[2].quantity %}
        {% set playerLarvae = p.personalBoardMYR.larvaCount - p.personalBoardMYR.selectedEventLarvaeAmount %}
        {% set playerNurses = p.personalBoardMYR.nurses|filter(n => n.area == 0)|length %}
        {% set playerSoldiers = p.personalBoardMYR.warriorsCount %}
        {% set playerWorkers = p.personalBoardMYR.anthillWorkers.count %}

        {# Tailwind loading of background color in order red yellow blue gray #}
        <div hidden class="bg-[#910016] bg-[#e3d400] bg-[#1105f5] bg-[#374151]"></div>

        {% set playerColor = p.color %}
        {% if playerColor == 'yellow' %}
            {% set arrowColor %}
                {{ asset("resourcesGames/utils/arrow_up.svg") }}
            {% endset %}
        {% else %}
            {% set arrowColor %}
                {{ asset("resourcesGames/utils/arrow_up_white.svg") }}
            {% endset %}
        {% endif %}

        <div class= "border-solid border-[1px] border-[white] rounded-2xl
                        mx-3 landscape:mx-2 lg:mx-5
                        my-6 landscape:my-2
                        text-3xl
                        {% if playerColor == 'red' %}bg-[#910016]{% elseif playerColor == 'yellow' %}bg-[#e3d400]
                        {% elseif playerColor == 'blue' %}bg-[#1105f5]{% else %}bg-[#374151]{% endif %}">
            <div class="w-full h-[12%] landscape:h-1/5
                            pt-2 landscape:pt-1
                            flex justify-around justify-between">
                {# Button to see other player's personal board #}
                {% if p.id != player.id and game.gamePhase != PHASE_BIRTH %}
                    <button {{ stimulus_action('myrmes', 'displayPlayerPersonalBoard', 'click',
                        {url:path('app_game_myrmes_display_player_personal_board',
                            {idGame: game.id, idPlayer: p.id}), open: true})
                    }}
                            {% if isSpectator %}
                                disabled
                            {% endif %}
                            class=""
                    >
                        <img class="h-5 -rotate-90 -ml-3"
                             src="{{ arrowColor }}"
                             alt="arrow">
                    </button>
                {% else %}
                    <div class="w-5"></div>
                {% endif %}
                {# Display the player's username with a specific color if the background is dark or light #}
                <p class="landscape:ml-3 landscape:text-sm landscape:lg:text-lg
                        {% if playerColor == 'yellow' %}text-black{% else %}
                        text-white{% endif %}">{{ p.username }}</p>
                {# Display the player's points with a specific color if the background is dark or light #}
                <div class="flex landscape:mr-2">
                    <p class="mr-1 landscape:text-base landscape:lg:text-lg
                             {% if playerColor == 'yellow' %}text-black{% else %}
                        text-white{% endif %}">{{ p.score }}</p>
                </div>
            </div>
            <div class="bg-slate-950 bg-opacity-15 py-1 shadow-inner space-y-1">
                <div class="relative flex flex-row justify-around justify-between">
                    <div class="relative w-[1/6]">
                        <img class="relative items-center justify-center
                                        max-h-7 mt-1"
                             src="{{ asset('resourcesGames/Myrmes/Gilbertonin.svg') }}" alt="larva"/>
                        <span
                                class="absolute inline-flex items-center justify-center w-5 h-5 text-xs
                                    font-bold text-white
                                    bg-red-500 border-2 border-white rounded-full top-0 start-5 dark:border-gray-900"
                        >
                        {{ playerLarvae }}
                    </span>
                    </div>
                    <div class="relative w-[1/6]">
                        <img class="relative items-center justify-center
                                        max-h-7 mt-1"
                             src="{{ asset('resourcesGames/Myrmes/resources/nurse.svg') }}" alt="nurses"/>
                        <span
                                class="absolute inline-flex items-center justify-center w-5 h-5 text-xs
                                    font-bold text-white
                                    bg-red-500 border-2 border-white rounded-full top-0 start-5 dark:border-gray-900"
                        >
                        {{ playerNurses }}
                    </span>
                    </div>
                    <div class="relative w-[1/6]">
                        <img class="relative items-center justify-center
                                        max-h-8"
                             src="{{ asset('resourcesGames/Myrmes/soldierIcon.svg') }}" alt="soldier"/>
                        <span
                                class="absolute inline-flex items-center justify-center w-5 h-5 text-xs
                                    font-bold text-white
                                    bg-red-500 border-2 border-white rounded-full top-0 lg:start-3 sm:start-2 dark:border-gray-900"
                        >
                            {{ playerSoldiers }}
                        </span>
                    </div>
                    <div class="relative w-[1/6]">
                        <img class="relative items-center justify-center
                                        max-h-8"
                             src="{{ asset('resourcesGames/Myrmes/workerIcon.svg') }}" alt="worker"/>
                        <span
                                class="absolute inline-flex items-center justify-center w-5 h-5 text-xs
                                    font-bold text-white
                                    bg-red-500 border-2 border-white rounded-full top-0 lg:start-3 sm:start-2 dark:border-gray-900"
                        >
                            {{ playerWorkers }}
                        </span>
                    </div>
                </div>
                <div class="relative flex flex-row justify-around justify-between">
                    <div class="relative w-[1/6]">
                        <img class="relative items-center justify-center
                                        max-h-7 mt-1"
                             src="{{ asset('resourcesGames/Myrmes/resources/grass.svg') }}" alt="grass"/>
                        <span
                                class="absolute inline-flex items-center justify-center w-5 h-5 text-xs
                                    font-bold text-white
                                    bg-red-500 border-2 border-white rounded-full top-0 start-5 dark:border-gray-900"
                        >
                            {{ playerGrass }}
                        </span>
                    </div>
                    <div class="relative w-[1/6]">
                        <img class="relative items-center justify-center
                                        max-h-7 mt-1"
                             src="{{ asset('resourcesGames/Myrmes/resources/dirt.svg') }}" alt="dirt"/>
                        <span
                                class="absolute inline-flex items-center justify-center w-5 h-5 text-xs
                                    font-bold text-white
                                    bg-red-500 border-2 border-white rounded-full top-0 start-5 dark:border-gray-900"
                        >
                            {{ playerDirt }}
                        </span>
                    </div>
                    <div class="relative w-[1/6]">
                        <img class="relative items-center justify-center
                                        max-h-7 mt-1"
                             src="{{ asset('resourcesGames/Myrmes/resources/stone.svg') }}" alt="stone"/>
                        <span
                                class="absolute inline-flex items-center justify-center w-5 h-5 text-xs
                                    font-bold text-white
                                    bg-red-500 border-2 border-white rounded-full top-0 start-5 dark:border-gray-900"
                        >
                            {{ playerStone }}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>