{#
This section displays the ranking with a view of the other players' possessions
@param : game, players
@return :
#}
{# Myrmes Logo with actual season dice #}
{% set seasons = game.mainBoardMYR.seasons %}
<div id="logo" class="w-full h-[10vw] landscape:1/6  lg:h-1/5 justify-center flex">
    <div>
        {% for season in seasons %}
            <div class="flex justify-center items-center size-[70%] mt-5 mr-4 ml-4">
                {% if season.actualSeason %}
                    <img class="h-[6vw]"
                         src="{{ asset('resourcesGames/Myrmes/seasonsDices/' ~ season.name ~ '/' ~ season.name ~ 'Dice' ~ season.diceResult ~ '.svg') }}"
                         alt="{{ season.name }} dice {{ season.diceResult }}">
                {% endif %}
            </div>
        {% endfor %}
    </div>
    <div class="flex justify-center items-center w-[70%] h-[80%] mt-4 mr-4">
        <img src="{{ asset('resourcesGames/Myrmes/myrmesLogo.png') }}" alt="myrmes logo">
    </div>
</div>

<div class="mt-5">
    {% for p in game.players %}

        {# Tailwind loading of background color in order red yellow blue gray #}
        <div hidden class="bg-[#910016] bg-[#e3d400] bg-[#1105f5] bg-[#374151]"></div>

        {% set playerColor = p.color %}
        {% if playerColor == 'gray' or playerColor == 'yellow' %}
            {% set arrowColor %}
                {{ asset("resourcesGames/utils/arrow_up.svg") }}
            {% endset %}
        {% else %}
            {% set arrowColor %}
                {{ asset("resourcesGames/utils/arrow_up_white.svg") }}
            {% endset %}
        {% endif %}

        <div class= "border-solid border-[1px] border-[white] rounded-2xl
                        h-[23.5%] landscape:md:h-1/4 landscape:lg:h-[23.5%]
                        mx-3 landscape:mx-2 lg:mx-5
                        my-6 landscape:my-2
                        text-3xl py-2
                        {% if playerColor == 'red' %}bg-[#910016]{% elseif playerColor == 'yellow' %}bg-[#e3d400]
                        {% elseif playerColor == 'blue' %}bg-[#1105f5]{% else %}bg-[#374151]{% endif %}">
            <div class="w-full h-[12%] landscape:h-1/5
                            pt-2 landscape:pt-1
                            flex justify-around justify-between">
                {# Button to see other player's personal board #}
                <button {{ stimulus_action('myrmes', 'displayPlayerPersonalBoard', 'click',
                    {url:path('app_game_myrmes_display_player_personal_board',
                        {idGame: game.id, idPlayer: p.id}), open: true})
                }}
                        {% if isSpectator %}
                            disabled
                        {% endif %}
                        class=""
                >
                    <img class="h-5 -rotate-90 -ml-3"
                         src="{{ arrowColor }}"
                         alt="arrow">
                </button>
                {# Display the player's username with a specific color if the background is dark or light #}
                <p class="landscape:ml-3 landscape:text-sm landscape:lg:text-lg
                        {% if playerColor == 'yellow' or playerColor == 'gray' %}text-black{% else %}
                        text-white{% endif %}">{{ p.username }}</p>
                {# Display the player's points with a specific color if the background is dark or light #}
                <div class="flex landscape:mr-2">
                    <p class="mr-1 landscape:text-base landscape:lg:text-lg
                             {% if playerColor == 'yellow' %}text-black{% else %}
                        text-white{% endif %}">{{ p.score }}</p>
                </div>
            </div>

        </div>
    {% endfor %}
</div>