<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8">
		<title>{% block title %}AGORA - Administration{% endblock %}</title>		
		<link rel="icon" type="image/x-icon" href="{{asset('bundles/agoraplatform/image/favicon.ico')}}"/>	
		<link rel="stylesheet" href="{{ asset('bundles/agoraplatform/css/admin.css') }}" type="text/css">
		<link rel="stylesheet" href="{{ asset('bundles/agoraplatform/css/main.css') }}" type="text/css" />
		<link rel="stylesheet" href="{{ asset('bundles/agoraplatform/css/header.css') }}" type="text/css" />
		<link rel="stylesheet" href="{{ asset('bundles/agoraplatform/css/nav.css') }}" type="text/css" />
		<link rel="stylesheet" href="{{ asset('bundles/agoraplatform/css/footer.css') }}" type="text/css" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="{{ asset('admin/script/controller.js') }}"></script>
	</head>
	<body>
		<div id="container">
			{% block content %}
			<div class="row">
				<div id="addUser">
					{{ render(controller("AGORAAdminPlatformBundle:GestionUser:addUser")) }}
				</div>
			</div>
			<div class="row">
				{{ render(controller("AGORAAdminPlatformBundle:GestionUser:getUser")) }}
			</div>
			{% endblock %}
		</div>
	</body>
</html>
