{% extends "AGORAPlatformBundle::moderateur.html.twig" %}
{% block title %}{{ parent() }} - Gestion des utilisateurs{% endblock %}

{% block header %}
	<h1>Gestion des utilisateurs</h1>
{% endblock %}

{% block content %}
	<link rel="stylesheet" href="{{ asset('bundles/agoraplatform/css/admin.css') }}">
	<!--<script src="{{ asset('bundles/agoragamesqp/script/vendor/modernizr-3.5.0.min.js') }}"></script> -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>

    <table id="joinGameTableAVC" class="display">
		<thead>
			<tr>
				<th>Rôle</th>
				<th>Username</th>
				<th>Email</th>
				<th>Actions</th>
			</tr>
		</thead>
		{% for membre in users %}
			<tr>
				<td>
					{# Affichage du role de l'utilisateur #}
					{% if membre.roles.0 == 'ROLE_ADMIN' %}
						<span data-toggle="tooltip" title="Administrateur">Administrateur</span>
					{% elseif membre.roles.0 == 'ROLE_MODO' %}
						<span data-toggle="tooltip" title="Modérateur">Modérateur</span>
					{% endif %}
				</td>
				<td><a>{{ membre.username }}</a></td>
				<td><a>{{ membre.email }}</a></td>
				<td>
					{#Si Administrateur#}
					{% if is_granted('ROLE_ADMIN') %}
						{% if membre.roles.0 != 'ROLE_ADMIN' %}
							<span data-toggle="tooltip" title="Irreversible : Supprime l'utilisateur">
							<button class="btn btn-danger btn-xs deluser" onclick="ajaxRemoveId({{ membre.id }})">Supprimer</button>
						</span>
							{% if membre.roles.0 == 'ROLE_USER' %}
								<span data-toggle="tooltip" title="Promouvoir en tant que modérateur cet utilisateur">
								<button class="btn btn-success btn-xs" onclick="ajaxPromoteId({{ membre.id }})">Promouvoir</button>
							</span>
							{% elseif membre.roles.0 == 'ROLE_MODO' %}
								<span data-toggle="tooltip" title="Destituer le role de modérateur à cet utilisateur">
							<button class="btn btn-warning btn-xs destituser" onclick="ajaxDemoteId({{ membre.id }})">Destituer</button>
						</span>
							{% endif %}
						{% else %}
							<span>Aucune action possible.</span>
						{% endif %}
					{% else %}
					{#Si Modérateur#}
					{% if is_granted('ROLE_MODO') %}
						{% if membre.roles.0 != 'ROLE_ADMIN' %}
							<span data-toggle="tooltip" title="Irreversible : Supprime l'utilisateur">
							<button class="btn btn-danger btn-xs" onclick="ajaxRemoveId({{ membre.id }})">Supprimer</button>
						</span>
							{% elseif membre.roles.0 == 'ROLE_MODO' %}
								<span data-toggle="tooltip" title="Destituer le role de modérateur à cet utilisateur">
							<button class="btn btn-warning btn-xs" onclick="ajaxDemoteId({{ membre.id }})">Destituer</button>
						</span>
							{% endif %}
						{% else %}
							<span>Aucune action possible.</span>
					{% endif %}
					{% endif %}

				</td>
			</tr>
		{% else %}
			<tr>
				<td colspan="4">Aucun utilisateur n'a été trouvé.</td>
			</tr>
		{% endfor %}
	</table>

	<script>
        $('#joinGameTableSQP').addClass("display");
        $(document).ready( function () {
            $('table.display').DataTable(
                {"paging": false,

                    //"scrollCollapse": true,
                    "language" : {
                        "sProcessing":     "Traitement en cours...",
                        "sSearch":         "Rechercher&nbsp;:",
                        "sLengthMenu":     "Afficher _MENU_ &eacute;l&eacute;ments",
                        "sInfo":           "Total des utilisateurs : _TOTAL_",
                        "sInfoEmpty":      "",
                        "sInfoFiltered":   "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
                        "sInfoPostFix":    "",
                        "sLoadingRecords": "Chargement en cours...",
                        "sZeroRecords":    "Aucun &eacute;l&eacute;ment &agrave; afficher",
                        "sEmptyTable":     "Aucun utilisateur",
                        "oPaginate": {
                            "sFirst":      "Premier",
                            "sPrevious":   "Pr&eacute;c&eacute;dent",
                            "sNext":       "Suivant",
                            "sLast":       "Dernier"
                        },
                        "oAria": {
                            "sSortAscending":  ": activer pour trier la colonne par ordre croissant",
                            "sSortDescending": ": activer pour trier la colonne par ordre d&eacute;croissant"
                        }},
                    //"scrollY": "50vh"//cause un bug avec datatable, seule la première table est transformée});
            });});
	</script>
{% endblock %}
