{#
This section displays the personal board of a player other than the current one
@param :
@return :
#}

{# Definition of variables #}
{% set gapSize = '' %}
{% set gapBetweenAreasSize = '' %}
{% if isPreview %}
    {% set gapSize = 'gap-[0.3vw]' %}
    {% set gapBetweenAreasSize = '' %}
{% else %}
    {% set gapSize = 'gap-[1.5vw]' %}
    {% set gapBetweenAreasSize = 'gap-[2vw]' %}
{% endif %}


<div id="openedPlayerPersonalBoard" class="bg-[#09090b] w-full h-full lg:w-[72vw] lg:h-full absolute bottom-0
                            lg:rounded-tr-2xl z-10
                            overflow-y-hidden" hidden
        {{ stimulus_controller('myrmes') }}
>
    <div class="h-1/30 w-full flex justify-center cursor-pointer text-white text-5xl landscape:text-2xl lg:text-base"
            {{ stimulus_action('myrmes', 'displayPlayerPersonalBoard', 'click', { 'open': false}) }}>
        <img src="{{ asset('resourcesGames/utils/arrow_up_white.svg') }}" id="openArrow"
             alt="arrow up" class="h-10 landscape:h-6 lg:h-4 rotate-180 mt-1 mr-2">
        <p>Fermer le plateau personnel de <b>{{ player.username }}</b></p>
    </div>
    <div>
        {{ include('Game/Myrmes/PersonalBoard/personalBoard.html.twig') }}
    </div>
</div>