{% extends 'base.html.twig' %}

{% block title %}Liste des parties du Myrmes{% endblock %}

{% block body %}
    <h1>Myrmes</h1>
    <a href="{{ path('app_game_myrmes_create') }}">Nouvelle partie</a>
    {% for game in games  %}
        <div>
            <h2>Partie {{ game.id }}</h2>
            <div>
                {% for player in game.players %}
                    <p>{{ player.username }}</p>
                {% endfor %}
            </div>
            {% if game.launched %}
                <a href="{{ path('app_game_show_myr', {'id': game.id}) }}">Rejoindre la partie</a>
            {% else %}
                <a href="{{ path('app_game_myrmes_join', {'id': game.id}) }}">S'inscrire</a>
                <a href="{{ path('app_game_myrmes_launch', {'id': game.id}) }}">Lancer</a>
            {% endif %}
            {% if game.paused %}
                <a href="{{ path('app_game_replace_player', {'gameId': game.id}) }}">Remplacer le joueur manquant</a>
            {% endif %}
            <a href="{{ path('app_game_myrmes_delete', {'id': game.id}) }}">Supprimer</a>
        </div>
    {% endfor %}
{% endblock %}
