{% extends 'base.html.twig' %}

{% block title %} Publications {% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Mes notifications</h1>
    <br>
    <button onclick="notify('AgoraPlateform','Notification Test')">Notify me!</button>

</div>
    <hr>
    <div id="notification-frame">
        {% for notification in notifications %}
            <div class="notification">
                <p>{{ notification.content }}</p>
                <p>{{ notification.type }}</p>
                <p> -- Date: {{ notification.createdAt|date('Y-m-d H:i:s') }}</p>
            </div>
        {% endfor %}
    </div>
{#    <script src="{{ asset('js/Platform/notify.js') }}"></script>#}
{#    <script>#}
{#        let eventSource;#}
{#        {% if app.user %}#}
{#        eventSource = new EventSource("{{ mercure('agora/notifications/user/' ~ app.user.id)|escape('js') }}");#}
{#        {% else %}#}
{#        eventSource = new EventSource("{{ mercure('agora/notifications/user/null')|escape('js') }}");#}
{#        {% endif %}#}
{#        eventSource.onmessage = event => {#}
{#            const data = JSON.parse(event.data);#}
{#            addNotification(data, "Notification Type");#}
{#        }#}
{#    </script>#}
{% endblock %}
