{% extends 'base.html.twig' %}

{% block title %} Publication {% endblock %}

{% block body %}

    <div class="example-wrapper">
        {{ form_start(form) }}
        <div class="form-group">
            {{ form_label(form.receiver) }}
            {{ form_widget(form.receiver, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(form.content) }}
            {{ form_widget(form.content, {'attr': {'class': 'form-control'}}) }}
        </div>
        {{ form_end(form) }}
    </div>

{% endblock %}
