{#
    Represents an hexagon for a board box in Myrmes
    param : color (inherit from parent)
    return : display an hexagon from the color of the tile type
#}

{# Definition of variable for elements display #}
{% set shift = "ml-[1.90vw]" %}

{# Utilization of hex.css to display an hexagon with the background color of the box type #}
{% if not isActionable %}
<div id="{{ boardBox.tile.id }}" class=" {{ boardBox.coordX }}
    relative hex invisible bg-{{ color }} border-b-{{ color }} border-t-{{ color }} aspect-square
    {# Display the cursor in a pointer if the player need to play, so he can click on the box #}
    {% if needToPlay and
    (hasSelectedAnthillHolePlacement and isTileAvailableForAnthillHolePlacement or
    sendingWorkerOnGarden and playerPhase == PHASE_WORKER and boardBox.anthillHole != null
            and boardBox.anthillHole.player == player or
    not sendingWorkerOnGarden)%}
        cursor-pointer
    {% endif %}
    {# Shift the placement of the hexagon if needed #}
    {% if isShifted %}
        {{ shift }}
    {% endif %}
" about="{{ boardBox.tile.id }}">

    {% if boardBox.pheromonTile != null %}
        <div class="visible">
            {{  include('Game/Myrmes/MainBoard/MainBoardElements/pheromoneDisplay.html.twig') }}
            <img class="absolute rounded rounded-full size-full  "
                 src="{{ asset('resourcesGames/Myrmes/pheromone.svg') }}" alt="pheromone">
        </div>
    {% endif %}
    {{ include('Game/Myrmes/MainBoard/elementsOnBoardBox.html.twig') }}

    {% set isTileAvailableForAnthillHolePlacement = false %}
    {% if hasSelectedAnthillHolePlacement %}
        {% for possibleTilePlacement in possibleAnthillHolePlacement %}
            {% if possibleTilePlacement.id == boardBox.tile.id %}
                {% set isTileAvailableForAnthillHolePlacement = true %}
            {% endif %}
        {% endfor %}
    {% endif %}
        {# Definition of the clickable zone in an hexagon shape, enable to avoid dead zones #}
    <svg id="{{ boardBox.tile.id }}-clickable-zone"
         class="visible z-99 bg-transparent absolute h-full w-full" fill="#000000"
         viewbox="0 0 300 300" width="100%" height="100%" >
        <polygon points="150,300 300,225 300,75 150,0 0,75 0,225" class="{% if not isTileAvailableForAnthillHolePlacement %}
                                                                                    fill-[rgba(0,_0,_0,_0)]
                                                                            {% else %}
                                                                                    fill-[rgba(255,_255,_255,_0.35)]
                                                                            {% endif %}"
                {% if game.gamePhase == PHASE_HARVEST and playerPhase == PHASE_HARVEST
                    and boardBox.pheromonTile != null and boardBox.pheromonTile.resource != null
                    and (not hasFinishedObligatoryHarvesting or canStillHarvest)
                    and boardBox.pheromonTile.pheromonMYR.player == player
                    and not boardBox.pheromonTile.pheromonMYR.harvested
                %}
                    {{ stimulus_action('myrmes','harvestResource','click',
                        {url:path('app_game_myrmes_harvest_resource',
                            {
                                gameId: game.id,
                                tileId: boardBox.tile.id
                            })
                        })
                    }}
                {% elseif hasSelectedAnthillHolePlacement and isTileAvailableForAnthillHolePlacement %}
                    {{ stimulus_action('myrmes','choseAnthillHolePlacement','click',
                        {url:path('app_game_myrmes_display_main_board_box_actions',
                            {
                                id: game.id,
                                tileId: boardBox.tile.id
                            })
                        })
                    }}
                {% elseif sendingWorkerOnGarden and playerPhase == PHASE_WORKER and boardBox.anthillHole != null
                        and boardBox.anthillHole.player == player %}
                    {{ stimulus_action('myrmes', 'placeWorkerOnAntHillHole','click',
                            {
                                tileId: boardBox.tile.id,
                                coordX: boardBox.tile.coordX,
                                coordY: boardBox.tile.coordY,
                                movementPoints: boardBox.movementPoints
                            }
                        )
                    }}
                {% elseif playerPhase == PHASE_WORKER and not sendingWorkerOnGarden %}
                    {{ stimulus_action('myrmes','displayBoxActionsWorkerPhase','click',
                        {
                            tileId: boardBox.tile.id
                        })
                    }}
                {% elseif not sendingWorkerOnGarden %}
                    {{ stimulus_action('myrmes','displayBoxActions','click',
                        {url:path('app_game_myrmes_display_main_board_box_actions',
                            {
                                id: game.id,
                                tileId: boardBox.tile.id
                            })
                        })
                    }}
                {% endif %}
        >
        </polygon>
    </svg>

    {# Display in three part the hexagon form #}
    <div class="visible top">
    </div>
    <div class="visible middle">
    </div>
    <div class="visible bottom">
    </div>
</div>

{% else %}
    <div class="flex flex-col visible w-full h-full relative pt-8 m-4 justify-center align-middle items-center">
        <div id="{{ boardBox.tile.id }}" class=" {{ boardBox.coordX }} {% if isActionable %}h-full mb-4{% endif %}
                relative hex invisible bg-{{ color }} border-b-{{ color }} border-t-{{ color }} aspect-square"
        >
            {# Display in three part the hexagon form #}
            <div class="visible top">
            </div>
            <div class="visible middle">
            </div>
            <div class="visible bottom">
            </div>
        </div>
        {{ include('Game/Myrmes/MainBoard/elementsOnBoardBox.html.twig') }}
    </div>
{% endif %}