{#
    Display the elements that can be showed on a board box
    param : isActionable, boardBox
    return : display ant, anthill hole, prey or pheromone
#}

{% set WEST = constant('App\\Entity\\Game\\Myrmes\\MyrmesParameters::DIRECTION_WEST') %}
{% set NORTH_WEST = constant('App\\Entity\\Game\\Myrmes\\MyrmesParameters::DIRECTION_NORTH_WEST') %}
{% set SOUTH_WEST = constant('App\\Entity\\Game\\Myrmes\\MyrmesParameters::DIRECTION_SOUTH_WEST') %}
{% set EAST = constant('App\\Entity\\Game\\Myrmes\\MyrmesParameters::DIRECTION_EAST') %}
{% set NORTH_EAST = constant('App\\Entity\\Game\\Myrmes\\MyrmesParameters::DIRECTION_NORTH_EAST') %}
{% set SOUTH_EAST = constant('App\\Entity\\Game\\Myrmes\\MyrmesParameters::DIRECTION_SOUTH_EAST') %}

{# Definition of variable for elements display #}
{% set isAbsolute = "" %}
{% if not isActionable %}
    {% set isAbsolute = 'absolute' %}
{% endif %}

{% set elementsDisplay = "" %}
{% set elementsSize = "" %}
{% if isActionable %}
    {% set elementsDisplay = "px-[1vw] py-[1.5vw]" %}
    {% set elementsSize = "size-[6vw]" %}
{% else %}
    {% set elementsDisplay = "px-[0.5vw] py-[0.75vw]" %}
    {% set elementsSize = "size-[3.5vw]" %}
{% endif %}


{# Display the elements that can be put on the box #}

{% if boardBox.anthillHole != null %}
    <div class="visible {{ isAbsolute }} {{ elementsDisplay }} {{ elementsSize }}">
        <img class="rounded rounded-full size-full bg-{{ boardBox.anthillHole.player.color }}-500"
             src="{{ asset('resourcesGames/Myrmes/anthillHole.svg') }}" alt="anthill hole">
    </div>
{% endif %}
{% if boardBox.prey != null %}
    <div class="visible {{ isAbsolute }} flex justify-center items-center {{ elementsDisplay}} {{ elementsSize }} bg-transparent">
        <img src="{{ asset('resourcesGames/Myrmes/preys/' ~ boardBox.prey.type ~ '.svg') }}"
             alt="{{ boardBox.prey.type }}"
             class="scale-[150%]"
        >
    </div>
{% endif %}
{% if boardBox.ant != null %}
     {# Display the directions if it is worker phase and the player has shifts count #}
    {% if isActionable and
        game.gamePhase == PHASE_WORKER and needToPlay and boardBox.ant.shiftsCount > 0 %}
        <div class="relative text-xl whitespace-nowrap">Déplacer la fourmi vers :</div>
        <div class="relative flex items-center w-fit justify-center">

            <button class="w-6 flex items-center justify-center"
                    {{ stimulus_action('myrmes', 'moveAnt', 'click',
                                    {dir: WEST})
                    }}
            >
                            <span class="bg-green-700 p-1 mr-2 rounded-lg -rotate-90 whitespace-nowrap">
                                &uarr;
                            </span>
            </button>

            <div class="flex-1 flex flex-col">
                <button class="absolute left-0 w-6 flex items-center justify-center"
                        {{ stimulus_action('myrmes', 'moveAnt', 'click',
                            {dir: NORTH_WEST})
                        }}
                >
                                <span class="bg-green-700 p-1 rounded-lg -rotate-45 whitespace-nowrap">
                                    &uarr;
                                </span>
                </button>
                <button class=" absolute bottom-0 left-0 w-6 flex items-center justify-center"
                        {{ stimulus_action('myrmes', 'moveAnt', 'click',
                            {dir: SOUTH_WEST})
                        }}
                >
                                <span class="bg-green-700 p-1 rounded-lg mt-2 rotate-45 whitespace-nowrap">
                                    &darr;
                                </span>
                </button>
                <div class="h-6 flex items-center justify-center">
                </div>
                <div class="visible flex items-center justify-center size-[3.5vw] pt-[0.2vw] {{ isAbsolute }}">
                    <div class="flex items-center rounded-full justify-center flex-row bg-black bg-opacity-25">
                        <img class="max-h-[3vw]"
                             src="{{ asset('resourcesGames/Myrmes/ants/ant-' ~ boardBox.ant.player.color ~ '.svg') }}"
                             alt="ant {{ boardBox.ant.player.color }} ">
                        {% if boardBox.pheromonTile != null and boardBox.pheromonTile.resource != null %}
                            <img class="max-h-[1.5vw]"
                                 src="{{ asset('resourcesGames/Myrmes/resources/' ~
                                     boardBox.pheromonTile.resource.description ~ '.svg') }}"
                                 alt="{{boardBox.pheromonTile.resource.description}}">
                        {% endif %}
                    </div>
                </div>
                <div class="h-6 flex items-center justify-center">
                </div>
                <button class=" absolute right-0 w-6 flex items-center justify-center"
                        {{ stimulus_action('myrmes', 'moveAnt', 'click',
                            {dir: NORTH_EAST})
                        }}
                >
                    <span class="bg-green-700 p-1 rounded-lg rotate-45 whitespace-nowrap">&uarr;</span>
                </button>
                <button class=" absolute bottom-0 right-0 w-6 flex items-center justify-center"
                        {{ stimulus_action('myrmes', 'moveAnt', 'click',
                            {dir: SOUTH_EAST})
                        }}
                >
                    <span class="bg-green-700 p-1 rounded-lg -rotate-45 whitespace-nowrap">&darr;</span>
                </button>
            </div>
            <button class="w-6 flex items-center justify-center"
                    {{ stimulus_action('myrmes', 'moveAnt', 'click',
                        {dir: EAST})
                    }}
            >
                <span class="bg-green-700 p-1 rounded-lg ml-2 rotate-90 whitespace-nowrap">&uarr;</span>
            </button>
        </div>
    {% else %}

        {# Display normally the ant #}
        <div class="visible flex items-center justify-center size-[3.5vw] pt-[0.2vw] {{ isAbsolute }}">
            <div class="flex items-center rounded-full justify-center flex-row bg-black bg-opacity-25">
                <img class="max-h-[3vw]"
                     src="{{ asset('resourcesGames/Myrmes/ants/ant-' ~ boardBox.ant.player.color ~ '.svg') }}"
                     alt="ant {{ boardBox.ant.player.color }}">
                {% if boardBox.pheromonTile != null and boardBox.pheromonTile.resource != null %}
                    <img class="max-h-[1.5vw]"
                         src="{{ asset('resourcesGames/Myrmes/resources/' ~
                             boardBox.pheromonTile.resource.description ~ '.svg') }}"
                         alt="{{boardBox.pheromonTile.resource.description}}">
                {% endif %}
            </div>
        </div>
    {% endif %}

{% else %}
    {% if boardBox.pheromonTile != null and boardBox.pheromonTile.resource != null %}
        <div class="visible flex items-center justify-center size-[3.5vw] pt-[0.2vw] {{ isAbsolute }}">
            <div class="flex items-center rounded-full justify-center bg-black bg-opacity-25">
                <img class="max-h-[2vw]"
                     src="{{ asset('resourcesGames/Myrmes/resources/' ~
                         boardBox.pheromonTile.resource.description ~ '.svg') }}"
                     alt="{{boardBox.pheromonTile.resource.description}}">
            </div>
        </div>
    {% endif %}
{% endif %}