{#
This section displays seasons dices.
@param :
@return :
#}

{# Loading of Tailwind data #}
<div class="hidden h-[6vw]"></div>

{# Definition of constants and variables #}
{% set height = 'h-[6vw]' %}
{% set arrow = 'h-[3vw] -rotate-90' %}
{% set seasonDiv = 'inlineFlex gap-[1vw] items-center' %}

{% set seasons = game.mainBoardMYR.seasons %}

<div class="inlineFlexCol gap-[2.5vw] h-fit items-start">
    {#year dices (spring to fall)#}
    {% for season in seasons %}
        <div class="{{ seasonDiv }}">
            <img class="{{ height }}"
                 src="{{ asset('resourcesGames/Myrmes/seasonsDices/' ~ season.name ~ '/' ~ season.name ~ 'Dice' ~ season.diceResult ~ '.svg') }}"
                 alt="{{ season.name }} dice {{ season.diceResult }}">
            {% if season.actualSeason %}
                <img class="{{ arrow }}"
                     src="{{ asset('resourcesGames/Myrmes/myrmesArrow.svg') }}"
                     alt="actual season {{ season.name }}">
            {% endif %}
        </div>
    {% endfor %}
    {#winter dice#}
    <img class="{{ height }}" src="{{ asset('resourcesGames/Myrmes/seasonsDices/winter/winterDice.svg') }}" alt="winter information">
</div>