<div class="overlay" onclick="removeOverlay(this)">
    <div class="overlayContent" onclick="event.stopPropagation()"></div>
    <div class="overlayCaptured" onclick="event.stopPropagation()"></div>
</div>

<div id="gameContent" class="flexContainer">
    <div class="flex1"></div>

    <div id="boardAndHand" class="flexContainer flexColumn">
        <div id="augustusLogo">
            <img src="{{ asset('bundles/augustus/img/augustusLogo.jpeg') }}" alt="augustusLogo">
        </div>

        <div class="marble" style="margin: 20px 0;"><p class="p scoreTitle">Tableau des scores</p></div>

        <div id="scoreBoard" class="marble">

            <table style="width: 100%; font-size: 100%;">
                <thead>
                    <tr class="playerScoreBar">
                        <th>Place</th>
                        <th>Nom du Joueur</th>
                        <th>Nombre de cartes contrôlées</th>
                        <th>Score</th>
                    </tr>
                </thead>
                <tbody style="text-align: center;">
                </tbody>
            </table>

        </div>
    </div>

    <div class="flex1"></div>
</div>


<!-- SCRIPTS -->
<script>
    (function () {
        let results = [];
        {% for player in game.players %}
            results.push({
                name: "{{ player.userName }}",
                ctrlCards: "{{ player.ctrlCards|length }}",
                score: "{{ player.score }}"
            });
        {% endfor %}
        
        results.sort((a,b) => (a.score < b.score) ? 1 : ((b.score < a.score) ? -1 : 0));

        let p = "";
        let playersOrder = 1;
        for (var i in results) {
            p += "<tr class='playerScoreBar'>\n" +
                    "    <td>" + playersOrder + "</td>\n" +
                    "    <td>" + results[i].name + "</td>\n" +
                    "    <td>" + results[i].ctrlCards + "</td>\n" +
                    "    <td>" + results[i].score + "</td>\n" +
                    "</tr>";
            ++playersOrder;
        }
        document.querySelector("tbody").innerHTML = p;
    })()
</script>

<button id="buttAcc" onclick="window.location.href = '{{ path('agora_platform_homepage') }}'">Accueil</button>