{% extends 'platform/admin/layout.html.twig' %}
{% block title %}
Gestion des bannissements
{% endblock %}
{% block content %}
<header class="relative isolate px-6 pt-14 lg:px-8">
   <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80" aria-hidden="true">
      <div class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-danger to-primary opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
   </div>
   <!-- component -->
   <div class="">
      <div class="p-4 flex justify-center">
         {# Déplacer le titre à l'intérieur de la div principale et la centrer #}
         <h1 class="text-3xl">Gestion des bannissements</h1>
      </div>
      <div class="px-3 py-4 flex justify-center">
         <div class="border-gray-300">
            {# Ajout de la bordure autour de la table #}
            <table class="w-full text-md bg-white shadow-md rounded mb-4 border-b-4 border-gray-300">
               <tbody>
                  <tr>
                     <th class="text-left p-3 px-5">Profil</th>
                     <th class="text-left p-3 px-5">Identifiant</th>
                     <th class="text-left p-3 px-5">Email</th>
                     <th class="text-left p-3 px-5">Temps de ban</th>
                     <th class="text-left p-3 px-5">Raison</th>
                     <th class="text-center p-3 px-5">Action</th>
                  </tr>
                  {% for user in users %}
                  <tr class="border-b hover:bg-red-100 bg-gray-100">
                     <td class="p-3 px-5">
                        <div style="width: 50px; margin: 0 auto;">
                           <a href="{{ path('app_other_user_profile', {'user_id': user.id}) }}" class="flex items-center justify-center">
                              <div style="text-align: center;">
                                 <img src="https://avatarfiles.alphacoders.com/244/thumb-244471.png" alt="Avatar de {{ user.username }}" class="w-8 h-8 rounded-full object-cover mb-1">
                                 <div class="text-black font-bold">{{ user.username }}</div>
                              </div>
                           </a>
                        </div>
                     </td>
                     <td class="p-3 px-5">
                        <input type="text" value="{{ user.username }}" class="bg-transparent border-b-2 border-gray-300 py-2" readonly disabled>
                     </td>
                     <td class="p-3 px-5">
                        <input type="text" value="{{ user.email }}" class="bg-transparent border-b-2 border-gray-300 py-2" readonly disabled>
                     </td>
                     <td class="p-3 px-5">
                        <select class="border-b-2 border-gray-300 py-2">
                           <option value="1">1 heure</option>
                           <option value="2">2 heures</option>
                           <option value="24">1 jour</option>
                           <option value="168">1 semaine</option>
                           <option value="720">1 mois</option>
                           <option value="8760">1 an</option>
                           <option value="lifeban">Définitif</option>
                        </select>
                     </td>
                     <td class="p-3 px-5">
                        <input type="text" value="" class="border-b-2 border-gray-300 py-2">
                     </td>
                     <td class="p-3 px-5 flex justify-end mt-3">
                        {# {% if not user.banned %} #}
                        <a href="{{ path('app_dashboard_ban_user', {'id' : user.getId() }) }}" class="text-white bg-red-500 hover:bg-red-400 focus:ring-4 focus:outline-none focus:ring-red-300 font-semibold rounded-lg text-sm px-4 py-2 text-center me-2 mb-2">
                        Bannir
                        </a>
                        {# {% else %} #}
                        <a href="#" class="text-white bg-primary hover:bg-blue-400 focus:ring-4 focus:outline-none focus:ring-blue-300 font-semibold rounded-lg text-sm px-4 py-2 text-center me-2 mb-2">
                        Débannir
                        </a>
                        {# {% endif %} #}
                     </td>
                  </tr>
                  {% endfor %}
               </tbody>
            </table>
         </div>
      </div>
   </div>
   {# Pagination Tailwind CSS
   <div class="flex justify-center mt-4">
      <nav aria-label="Pagination">
         <ul class="inline-flex">
            {% if pagination.currentPage != 1 %}
            <li><a href="{{ pagination.firstPageUrl }}" class="border border-gray-300 bg-white text-gray-500 hover:bg-gray-100 px-3 py-1 rounded-l-md">Premier</a></li>
            <li><a href="{{ pagination.previousPageUrl }}" class="border-t border-b border-gray-300 bg-white text-gray-500 hover:bg-gray-100 px-3 py-1">Précédent</a></li>
            {% endif %}
            {% for page in pagination.pages %}
            {% if page == pagination.currentPage %}
            <li><span class="border-t border-b border-gray-300 bg-blue-500 text-white px-3 py-1">{{ page }}</span></li>
            {% else %}
            <li><a href="{{ pagination.pageUrl(page) }}" class="border-t border-b border-gray-300 bg-white text-gray-500 hover:bg-gray-100 px-3 py-1">{{ page }}</a></li>
            {% endif %}
            {% endfor %}
            {% if pagination.currentPage != pagination.pageCount %}
            <li><a href="{{ pagination.nextPageUrl }}" class="border-t border-b border-r border-gray-300 bg-white text-gray-500 hover:bg-gray-100 px-3 py-1">Suivant</a></li>
            <li><a href="{{ pagination.lastPageUrl }}" class="border border-gray-300 bg-white text-gray-500 hover:bg-gray-100 px-3 py-1 rounded-r-md">Dernier</a></li>
            {% endif %}
         </ul>
      </nav>
   </div>
   #}
   <div class="flex justify-center">
      <nav aria-label="Page navigation">
         <ul class="inline-flex -space-x-px text-sm">
            <li>
               <a href="#" class="flex items-center justify-center px-3 h-8 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Previous</a>
            </li>
            <li>
               <a href="#" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">1</a>
            </li>
            <li>
               <a href="#" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">2</a>
            </li>
            <li>
               <a href="#" aria-current="page" class="flex items-center justify-center px-3 h-8 text-blue-600 border border-gray-300 bg-blue-50 hover:bg-blue-100 hover:text-blue-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white">3</a>
            </li>
            <li>
               <a href="#" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">4</a>
            </li>
            <li>
               <a href="#" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">5</a>
            </li>
            <li>
               <a href="#" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Next</a>
            </li>
         </ul>
      </nav>
   </div>
   <div class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]" aria-hidden="true">
      <div class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-primary to-danger opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
   </div>
</header>
{% endblock %}