{% extends 'platform/admin/layout.html.twig' %}

{% block title %}
    Accueil
{% endblock %}

{% block content %}
    <div class="relative isolate px-6 pt-14 lg:px-8">
        <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80" aria-hidden="true">
            <div class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-danger to-primary opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]"
                 style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
        </div>
        {% include 'platform/shared/flashMessage.html.twig' %}
        <div class="p-4 flex justify-center">
            {# Déplacer le titre à l'intérieur de la div principale et la centrer #}
            <h1 class="text-3xl">Générateur de comptes</h1>
        </div>
        <div class="space-y-12 2xl:mx-80 xl:mx-60">
            {{ form_start(form) }}
            <div class="mt-10">
                <div>
                    {{ form_label(form.nbAccounts, 'Nombre de comptes à générer', { 'label_attr': { 'class': 'block text-sm font-medium leading-6 text-gray-900' }}) }}
                    <div class="mt-2">
                        {{ form_widget(form.nbAccounts, {'id': 'nbAccounts', 'attr': { 'class': 'block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-primary sm:text-sm sm:leading-6' }}) }}
                    </div>
                </div>
            </div>
            <div class="mt-16">
                <div class="space-x-4">
                    <button type="button" onclick="window.history.back();" class="text-white bg-red-500 hover:bg-red-400 focus:ring-4 focus:outline-none focus:ring-red-300 font-semibold rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">
                        Retour
                    </button>
                    <button type="submit" class="text-white bg-primary hover:bg-blue-400 focus:ring-4 focus:outline-none focus:ring-blue-300 font-semibold rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">
                        Générer des comptes
                    </button>
                </div>
            </div>
            <div class="hidden">
                {{ form_rest(form) }}
            </div>
            {{ form_end(form) }}
        </div>
        {% if users is not empty %}
        <div class="bg-green-100 border-l-4 border-success text-success p-4" role="alert">
            <h1>Comptes Créés:</h1>
            <ul>
                {% for user in users %}
                    <li>{{ user }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const nbAccountsInput = document.getElementById('nbAccounts');

            // Function to dynamically update the options of nbAccounts input
            function updateOptions() {
                // Clear previous options
                nbAccountsInput.innerHTML = "";

                // Generate new options based on the selected number
                const selectedNumber = parseInt(nbAccountsInput.value);
                for (let i = 1; i <= selectedNumber; i++) {
                    const option = document.createElement('option');
                    option.value = i;
                    option.textContent = i;
                    nbAccountsInput.appendChild(option);
                }
            }
            // Initialize options on page load
            updateOptions();
            // Update options when the number selection changes
            nbAccountsInput.addEventListener('change', updateOptions);
        });
    </script>
{% endblock %}
