{#
This section displays the ranking with a view of the other players' possessions
@param : game
@return : display the score of the players with an access to their personal board
#}

{# Glenmore Logo #}
<div id="logo" class="w-full h-[10%] landscape:1/6  lg:h-1/5 justify-center flex">
	<div class="h-[80%] mt-2 mr-4">
		{{ include('/Game/Glenmore/MainBoard/drawTileIndicator.html.twig') }}
	</div>
	<img class="" src="{{ asset('resourcesGames/Glenmore/glenmore.png') }}" alt="glenmore logo">
</div>

<div>
	{% for p in game.players %}

		{# Tailwind loading of background color in order red yellow blue white green #}
		<div hidden class="bg-[#910016] bg-[#e3d400] bg-[#1105f5] bg-[#ffffff] bg-[#045900]"></div>

		{# Variable to load the player's pawn color #}
		{% set colorPawn = p.pawn.color %}

		{# Display the player's informations #}
		<div class="border-solid border-[1px] border-[white] rounded-2xl
                    h-[23.5%] landscape:md:h-1/4 landscape:lg:h-[23.5%]
                    mx-3 landscape:mx-2 lg:mx-5
                    my-6 landscape:my-2
                    text-3xl py-2
                    {% if colorPawn == 'red' %}bg-[#910016]{% elseif colorPawn == 'yellow' %}bg-[#e3d400]
                    {% elseif colorPawn == 'blue' %}bg-[#1105f5]{% elseif colorPawn == 'white' %}bg-[#ffffff]
                    {% else %}bg-[#045900]{% endif %}"
				{{ stimulus_controller('glenmore') }}>

			<div class="w-full h-[12%] landscape:h-1/5
                            pt-2 landscape:pt-1
                            flex justify-around justify-between">
                {# Button to see other player's personal board #}
				{% if p.username != player.username and not p.isBot %}
					<button {{ stimulus_action('glenmore', 'displayPlayerPersonalBoard', 'click',
						{url:path('app_game_glenmore_display_player_personal_board',
							{idGame: game.id, idPlayer: p.id}), open: true}) }}
							class=""
					>
						<img class="h-5 -rotate-90 -ml-3"
						     src="{{ asset("resourcesGames/utils/arrow_up.svg") }}"
						     alt="arrow">
					</button>
				{% else %}
					<span class="h-5 -ml3"></span>
				{% endif %}
				{# Display the player's username with a specific color if the background is dark or light #}
				<p class="landscape:ml-3 landscape:text-sm landscape:lg:text-lg
                        {% if colorPawn == 'white' or colorPawn == 'yellow' %}text-black{% else %}
                        text-white{% endif %}">{{ p.username }}</p>
				{# Display the player's points with a specific color if the background is dark or light #}
				<div class="flex landscape:mr-2">
					<p class="mr-1 landscape:text-base landscape:lg:text-lg
                             {% if colorPawn == 'white' or colorPawn == 'yellow' %}text-black{% else %}
                        text-white{% endif %}">{{ p.points }}</p>
				</div>
			</div>
		</div>
	{% endfor %}
</div>

