<!DOCTYPE html>
<html>
    <head>
        <title>Azul</title>
        <meta charset="utf-8">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/agoragameazul/css/Azul.css') }}">
    </head>

    <body>
        <div id="header">
            <h2>Phase 1 : Offre des fabriques</h2>
            <div id="logoAndScore">
                <h1 id="logo">AZUL</h1>
                <h3 id="score_title">Score : <span id="score"></span></h3>
            </div>
            <h2 id="tour">La partie n'a pas commencé</h2>
        </div>

        

        <div id="zone_pioche">

            <div id="fabriques">
                {% for i in 1..nbFab %}
                    <div id="factory">
                        <table id="fabrique_{{i}}">
                            {% for j in 0..1 %}
                                <tr>
                                {% for k in 1..2 %}
                                    <td class="none" id="fab_{{i}}_{{(j * 2) + k}}"></td>
                                {% endfor %}
                            {% endfor %}
                        </table>
                    </div>
                {% endfor %}
            </div>


            <table id="centre">
                {% for i in 1..5 %}
                    {# <tr id="ligne{{ i }}"> #}
                    {% for j in 1..6 %}
                        <td class="none" id="centre_{{j + (6 * (i - 1))}}"></td>
                    {% endfor %}
                    {# </tr> #}
                {% endfor %}
            </table>
            <div id="cases_pioches" class="indications">
                <p>Vous avez pioché : </p>
                <p id="color_pioche" class="none"></p>
                <p> x <span id="nb_pioche">0</span></p>
                
            </div>
        </div>

        <div id="div_premier_joueur">
            <div id="premier_joueur" class="none"></p>
        </div>
        </div>

        <div id="plateauxAndTabs">
            <div id="plateaux">
                {% for player in players%}
                    <div class="plateau" id="plateau_{{player.userId}}">
                        <div id="motif_mur">
                            <div id="div_motif">
                                <table id="tableMotif">
                                    {% for i in 1..5 %}
                                        <tr id="motif_{{i}}">
                                            {% if i != 5 %}
                                                <td colspan="{{5 - i}}"></td>
                                            {% endif %}
                                            {% for j in i..1 %}
                                                <td class="case_motif" id="motif_{{i}}_{{j}}"></td>
                                            {% endfor %}
                                        </tr>
                                    {% endfor %}
                                </table>
                            </div>

                            <div id="div_mur">
                                <table id="tableMur">
                                    <tr id="mur1">
                                        <td class="blue" id="mur_1_1"></td>
                                        <td class="orange" id="mur_1_2"></td>
                                        <td class="red" id="mur_1_3"></td>
                                        <td class="black" id="mur_1_4"></td>
                                        <td class="cyan" id="mur_1_5"></td>
                                    </tr>
                                    <tr id="mur2">
                                        <td class="cyan" id="mur_2_1"></td>
                                        <td class="blue" id="mur_2_2"></td>
                                        <td class="orange" id="mur_2_3"></td>
                                        <td class="red" id="mur_2_4"></td>
                                        <td class="black" id="mur_2_5"></td>
                                    </tr>
                                    <tr id="mur3">
                                        <td class="black" id="mur_3_1"></td>
                                        <td class="cyan" id="mur_3_2"></td>
                                        <td class="blue" id="mur_3_3"></td>
                                        <td class="orange" id="mur_3_4"></td>
                                        <td class="red" id="mur_3_5"></td>
                                    </tr>
                                    <tr id="mur4">
                                        <td class="red" id="mur_4_1"></td>
                                        <td class="black" id="mur_4_2"></td>
                                        <td class="cyan" id="mur_4_3"></td>
                                        <td class="blue" id="mur_4_4"></td>
                                        <td class="orange" id="mur_4_5"></td>
                                    </tr>
                                    <tr id="mur5">
                                        <td class="orange" id="mur_5_1"></td>
                                        <td class="red" id="mur_5_2"></td>
                                        <td class="black" id="mur_5_3"></td>
                                        <td class="cyan" id="mur_5_4"></td>
                                        <td class="blue" id="mur_5_5"></td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                        <div id="div_plancher">
                            <table id="plancher">
                                <tr>
                                    <td class="none" id="plancher_1"></td>
                                    <td class="none" id="plancher_2"></td>
                                    <td class="none" id="plancher_3"></td>
                                    <td class="none" id="plancher_4"></td>
                                    <td class="none" id="plancher_5"></td>
                                    <td class="none" id="plancher_6"></td>
                                    <td class="none" id="plancher_7"></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div id="tabsDiv">
                <ul id="tabs">
                {% for player in players%}
                    <li class="tab" id="tab_{{player.userId}}" onclick='display("{{player.userId}}")'>{{player.userId}} (<span id="score_{{player.userId}}"></span>)</li> 
                {% endfor %}
                </ul>
            </div>
        </div>

    </body>
</html>

<script>
    var urlSock= "{{ app.request.getSchemeAndHttpHost() }}";
    var data = {
        'ready':false,
        'action':null,
        'source':null,
        'destination':null,
        'case':null,
        'tuileColor':null,
        'nbTuiles':0,
        'phase': 1,
        'initialisation': false,
        'gameId' : "{{gameId}}",
        'score': 0,
        'playerId' : "{{playerId}}",
        'userId' : {{userId}},
        'username' : "{{username}}",
        'playersInGame': 0
    }
    var sac = {
        'red':20,
        'blue':20,
        'cyan':20,
        'orange':20,
        'black':20,
    }
    var couvercle = {
        'red':0,
        'blue':0,
        'cyan':0,
        'orange':0,
        'black':0,
    }
</script>
<script type="text/javascript" src="{{ asset('bundles/agoragameazul/script/azul.js') }}"></script>