{#
    This section displays the cards who have been chosen for the round by players
    @param : chosenCards -> A list of pictures chosen by players
             playersNumer -> An integer of the number of current players in this game
    @return : chosenCards.length == playersNumber => display a grid of the visible chosen cards
              chosenCards.length != playersNumber => display a grid of hidden face of the chosen cards
                                                     (the back)
#}
        <div class="bg-gray-500 rounded flow float-left w-full h-full overflow-hidden shadow-black shadow-lg">
            <div class="grid grid-cols-2 grid-rows-5 w-full h-full pt-10 p-3">
                {% set ind = 0 %}
                {% for chosenCard in chosenCards%}
                        <div id="{{ chosenCard.id }}" class=" hover:z-10 hover:overflow-visible z-0 p-2">
                        {% if chosenCard is not null %}
                            {% set hovering = "" %}
                            {% if ind != 0 and ind != 1 %}
                                {% set hovering = "transform hover:-translate-y-10" %}
                            {% else %}
                                {% set hovering = "" %}
                            {% endif %}
                            {% if chosenCards|length == game.playerSixQPs.count %}
                                <img class="{{
                                                'rounded float float-left shadow-lg shadow-black aspect-auto
                                                hover:md:p-0' ~ hovering
                                        }}"
                                     src="{{
                                            asset('resourcesGames/6QP/cardsImages/' ~ chosenCard.card.value ~ '.png')
                                        }}"
                                     alt="{{ chosenCard.card.value ~ 'card' }}">
                            {% else %}
                                <img class="{{'rounded shadow-lg shadow-black aspect-auto hover:md:p-0' ~ hovering}}"
                                     src="{{ asset('resourcesGames/6QP/cardsImages' ~ "/back.png") }}"
                                     alt="back">
                            {% endif %}
                            {% set ind = ind + 1 %}
                        {% endif %}
                        </div>
                {% endfor %}
            </div>
        </div>
        <script>
            {% set path = path('app_game_show_sixqp', {'id': game.id}) ~ 'chosenCards' %}
            const eventSourceChosenCards = new EventSource("{{ mercure(path)|escape('js') }}");
            eventSourceChosenCards.onmessage = event => {
                let chosenCards = document.getElementById('chosenCards');
                chosenCards.innerHTML = event.data;
            }

        </script>
{% block javascripts %}
    <script>
        function translateCard(cardid) {
            let card = document.getElementById(cardid);
            console.log('Translating card:', card );
            card.animate(
                [
                    {transform: "translateY(0px)", opacity: 1},
                    {transform: "translateY(-700px) scale(0.5)", opacity: 0},
                ],
                {
                    duration: 1100,
                    iterations: 1,
                },
            );
        }
    </script>
{% endblock %}