{% extends 'base.html.twig' %}

{% block title %}Agora - 6 qui prend{% endblock %}

{% block body %}
    <div class="h-screen w-screen">
        <div class="h-full w-full">
            {% block nav %}
                {{ include('/Game/Utils/navigation.html.twig') }}
            {% endblock %}
            {% block chosenCards %}
                <div id="chosenCards">
                {{ include('/Game/Six_qp/chosenCards.html.twig') }}
                </div>
            {% endblock %}
            {% block ranking %}
                {{ include('/Game/Six_qp/ranking.html.twig') }}
            {% endblock %}
            {% block mainBoard %}
                <div id="mainBoard">
                {{ include('/Game/Six_qp/mainBoard.html.twig') }}
                </div>
            {% endblock %}
            {% block personalBoard %}
                {{ include('/Game/Six_qp/personalBoard.html.twig') }}
            {% endblock %}
        </div>
    </div>
    <script>
        {% set path = path('app_game_show', {'id': game.id}) ~ 'notifyPlayer' ~ player.id %}
        const eventSource = new EventSource("{{ mercure(path)|escape('js') }}");
        eventSource.onmessage = event => {
            //Notify player
        }
    </script>
{% endblock %}
