{% extends 'base.html.twig' %}

{% block title %}Agora - 6 qui prend{% endblock %}

{% block body %}
    <div class="h-screen w-screen" {{ stimulus_controller('sixqp') }}>
        <div class="h-full w-full overflow-hidden">
            {% block nav %}
                {{ include('/Game/Utils/navigation.html.twig') }}
            {% endblock %}
            {% block endGame %}
                {{ include('/Game/Six_qp/endGameScreenResult.html.twig') }}
            {% endblock %}
                <div id="chosenCards" class="flow float-left w-1/5 h-3/4">
                {{ include('/Game/Six_qp/chosenCards.html.twig') }}
                </div>
            {% block ranking %}
            <div id="ranking" class="absolute bg-violet-100 w-1/6 h-full right-0">
                {{ include('/Game/Six_qp/ranking.html.twig') }}
            </div>
            {% endblock %}
                <div id="mainBoard" class="flow float-start w-[63.3%] h-3/4">
                    {{ include('/Game/Six_qp/mainBoard.html.twig') }}
                </div>
            {% block personalBoard %}
            <div class="flex bg-green-500 h-1/4 w-5/6 float-bottom-0" id="personalBoard">
                {{ include('/Game/Six_qp/PersonalBoard/personalBoard.html.twig') }}
            </div>
            {% endblock %}
        </div>
    </div>
    {% if not isSpectator %}
    <script>
        {% set path = path('app_game_show_sixqp', {'id': game.id}) ~ 'notifyPlayer' ~ player.id %}
        const eventSourceNotification = new EventSource("{{ mercure(path)|escape('js') }}");
        eventSourceNotification.onmessage = event => {
            for(let row of document.getElementsByClassName('rows')) {
                row.disabled = false;
            }
            //Notify player
            alert("Please choose a row")
        }
    </script>
    {% endif %}
{% endblock %}
