{% extends 'base.html.twig' %}

{% block title %}Agora - 6 qui prend{% endblock %}

{% block body %}
    <div class="h-screen w-screen overflow-hidden absolute" {{ stimulus_controller('sixqp') }}>
        <div class="h-full w-full overflow-hidden">
            <div id="animationContainer" class="hidden absolute top-0 left-0 w-full h-full bg-black bg-opacity-0 z-50"></div>
            {% block nav %}
                {{ include('/Game/Utils/navigation.html.twig') }}
            {% endblock %}
            {% block endGame %}
                {{ include('/Game/Six_qp/endGameScreenResult.html.twig') }}
            {% endblock %}
                <div id="chosenCards" class="flow float-left w-1/5 h-3/4">
                {{ include('/Game/Six_qp/chosenCards.html.twig') }}
                </div>
            {% block ranking %}
            <div id="ranking" class="flex flex-col absolute bg-violet-100 w-1/6 h-full right-0">
                {{ include('/Game/Six_qp/ranking.html.twig') }}
            </div>
            {% endblock %}
                <div id="mainBoard" class="flow float-start w-[63.3%] h-3/4">
                    {{ include('/Game/Six_qp/mainBoard.html.twig') }}
                </div>
            {% block personalBoard %}
            <div class="flex bg-green-500 h-1/4 w-5/6 float-bottom-0" id="personalBoard">
                {{ include('/Game/Six_qp/PersonalBoard/personalBoard.html.twig') }}
            </div>
            {% endblock %}
            {% block chat %}
                    {{ include('/Game/Utils/chat.html.twig') }}
            {% endblock %}
        </div>
    </div>

    {# ANIMATION MANAGEMENT #}
    <script type="text/javascript" src="{{ asset('resourcesGames/utils/AnimationQueue.js') }}"></script>
    <script type="text/javascript" src="{{ asset('resourcesGames/6QP/Animation.js') }}"></script>


    {# NOTIFICATION MANAGEMENT #}
    {% if not isSpectator %}
    <script>
        {% set path = path('app_game_show_sixqp', {'id': game.id}) ~ 'notifyPlayer' ~ player.id %}
        const eventSourceNotification = new EventSource("{{ mercure(path)|escape('js') }}");
        eventSourceNotification.onmessage = () => {
            for(let row of document.getElementsByClassName('rows')) {
                row.disabled = false;
            }
            //Notify player
            alert("Please choose a row")
        }
    </script>
    {% endif %}

    {# RANKING MANAGEMENT#}
    <script>
        {% set path = path('app_game_show_sixqp', {'id': game.id}) ~ 'ranking' %}
        const eventSourceRanking = new EventSource("{{ mercure(path)|escape('js') }}");
        eventSourceRanking.onmessage = event => {
            animationQueue.addToQueue(() => updateUserScore(event.data.split(' ')));
        }
    </script>

    {# CHOSEN CARDS MANAGEMENT#}
    <script>
        {% set path = path('app_game_show_sixqp', {'id': game.id}) ~ 'chosenCards' %}
        const eventSourceChosenCards = new EventSource("{{ mercure(path)|escape('js') }}");
        eventSourceChosenCards.onmessage = event => {

            animationQueue.addToQueue(() => {
                let chosenCards = document.getElementById('chosenCards');
                chosenCards.innerHTML = event.data;
                animationQueue.executeNextInQueue()
            })

        }

        {% set pathAnimation = path('app_game_show_sixqp', {'id': game.id}) ~ 'animChosenCard' %}
        const eventSourceAnimChosenCard = new EventSource("{{ mercure(pathAnimation)|escape('js') }}");
        eventSourceAnimChosenCard.onmessage = event => {
            animationQueue.addToQueue(() => {
                moveChosenCard(event.data)
            });
        }
    </script>


    {# MAINBOARD MANAGEMENT #}
    <script>
        {% set path = path('app_game_show_sixqp', {'id': game.id}) ~ 'mainBoard' %}
        {% set pathAnimRow = path('app_game_show_sixqp', {'id': game.id}) ~ 'animRow' %}
        const eventSourceMainBoard = new EventSource("{{ mercure(path)|escape('js') }}");
        const eventSourceAnimRow = new EventSource("{{ mercure(pathAnimRow)|escape('js') }}");
        eventSourceMainBoard.onmessage = event => {
            animationQueue.addToQueue(() => {
                let mainBoard = document.getElementById('mainBoard');
                mainBoard.innerHTML = event.data;
                animationQueue.executeNextInQueue()
            })

        }


        eventSourceAnimRow.onmessage = event => {
            animationQueue.addToQueue(() => {
                translateRow("row_" + event.data)
            })
        }
        {% if needToChoose %}
        alert('Please choose a row');
        {% endif %}
    </script>


    {# PERSONAL BOARD MANAGEMENT #}
    <script>
        {% set route = '' %}
        {% if isSpectator %}
        {% set route = 'spectator' %}
        {% else %}
        {% set route = player.id ~ 'player' %}
        {% endif %}
        {% set path = path('app_game_show_sixqp', {'id': game.id}) ~ 'personalBoard' ~ route %}
        const eventSourcePersonalBoard = new EventSource("{{ mercure(path)|escape('js') }}");
        eventSourcePersonalBoard.onmessage = event => {
            let personalBoard = document.getElementById('personalBoard');
            personalBoard.innerHTML = event.data;
        }
    </script>

    {# END OF GAME MANAGEMENT #}
    <script>
        {% set path = path('app_game_show_sixqp', {'id': game.id}) ~ 'endOfGame' %}
        const eventSourceEndOfGame = new EventSource("{{ mercure(path)|escape('js') }}");
        eventSourceEndOfGame.onmessage = event => {
            gameFinished(event.data);
        }
    </script>
{% endblock %}
