{#
This section displays the main board of the game
@param : rows -> A collection of the existing rows
@return : display a grid of the cards on the main board
#}

    <div class="p-2 bg-red-500 flow float-start w-full h-full overflow-hidden
                shadow-black shadow-[10px_10px_15px_-3px_rgba(0,0,0,0.1)] -z-1">
        <div class="flex flex-col h-full w-full ml-4">
            {% for row in rows.values %}
                <div id="row_{{ row.id }}" class="h-1/4">
                    <button {% if needToChoose %}{% else %}disabled{% endif%} class="rows button h-full"
                    {{ stimulus_action('sixqp', 'selectRow', 'click',
                        {url: path('app_game_sixqp_placecardonrow', {idRow: row.id, idGame: game.id})}) }}>
                    {% for card in row.cards %}
                        <img id="image" class="lg:h-28 h-36 float float-left"
                             src="{{ asset('resourcesGames/6QP/cardsImages/' ~ card.value ~ ".png")}}"
                             alt="card">
                    {% endfor %}
                    </button>
                </div>
            {% endfor %}
        </div>
    </div>
    <script>
        {% set path = path('app_game_show_sixqp', {'id': game.id}) ~ 'mainBoard' %}
        {% set pathAnimRow = path('app_game_show_sixqp', {'id': game.id}) ~ 'animRow' %}
        const eventSourceMainBoard = new EventSource("{{ mercure(path)|escape('js') }}");
        const eventSourceAnimRow = new EventSource("{{ mercure(pathAnimRow)|escape('js') }}");
        eventSourceMainBoard.onmessage = event => {
            let mainBoard = document.getElementById('mainBoard');
            mainBoard.innerHTML = event.data;
        }
        eventSourceAnimRow.onmessage = event => {
            console.log("Event data:", event.data);
            translateRow("row_" + event.data);
        }
        {% if needToChoose %}
            alert('Please choose a row');
        {% endif %}
    </script>
{% block javascripts %}
    <script>

        function translateRow(rowid) {
            let row = document.getElementById(rowid);
            console.log('Translating row:', row );
            row.animate(
                [
                    {transform: "translateX(0px)", opacity: 1},
                    {transform: "translateX(700px)", opacity: 0},
                ],
                {
                    duration: 1500,
                    iterations: 1,
                },
            ).addEventListener("finish", ev => {
                let maRequete = new Request("{{path('app_game_sixqp_retrievemainboard', {id: game.id})}}");
                console.log('l anim est finito')
                fetch(maRequete).then(function (response) {
                    if (!response.ok) {
                        throw new Error(`erreur HTTP! statut: ${response.status}`);
                    }
                    return response.blob();
                })
                    .then(function (response) {
                        let URLobjet = URL.createObjectURL(response);
                        row.src = URLobjet;
                    });
                console.log('fetch fait')
            });
        }
    </script>
{% endblock %}