{#
This section displays the main board of the game
@param : rows -> A collection of the existing rows
@return : display a grid of the cards on the main board
#}

    <div class="p-2 bg-red-500 flow float-start w-full h-full overflow-hidden
                shadow-black shadow-[10px_10px_15px_-3px_rgba(0,0,0,0.1)]">
        <div class="flex flex-col h-full w-full ml-4">
            {% for row in rows.values %}
                <div id="row_{{ row.id }}" class="h-1/4 portrait:h-[12%] portrait:mb-52">
                    <button {% if needToChoose %}{% else %}disabled{% endif%} class="rows button h-full"
                    {{ stimulus_action('sixqp', 'selectRow', 'click',
                        {url: path('app_game_sixqp_placecardonrow', {idRow: row.id, idGame: game.id})}) }}>
                    {% for card in row.cards %}
                        <img
                            {% if card in processedCards %}
                                id="image_{{ card.id }}"
                                class="hidden h-full float float-left"
                            {% else %}
                                class="h-full float float-left"
                            {% endif %}
                            src="{{ asset('resourcesGames/6QP/cardsImages/' ~ card.value ~ ".png")}}"
                            alt="card">
                    {% endfor %}
                    </button>
                </div>
            {% endfor %}
        </div>
    </div>
    <script>
        {% set path = path('app_game_show_sixqp', {'id': game.id}) ~ 'mainBoard' %}
        {% set pathAnimRow = path('app_game_show_sixqp', {'id': game.id}) ~ 'animRow' %}
        const eventSourceMainBoard = new EventSource("{{ mercure(path)|escape('js') }}");
        const eventSourceAnimRow = new EventSource("{{ mercure(pathAnimRow)|escape('js') }}");
        eventSourceMainBoard.onmessage = async event => {
            let mainBoard = document.getElementById('mainBoard');
            mainBoard.innerHTML = event.data;
            console.log('remplacer')
            console.log({{ processedCards | json_encode }})
            {% if processedCards is not empty %}
                console.log('g des cartes a process')
                const response = fetch("{{path('app_game_sixqp_retrieveChosenCards', {id: game.id})}}");
                let chosenCards = document.getElementById('chosenCards');
                chosenCards.innerHTML = await response.text();
            {% endif %}
        }


        eventSourceAnimRow.onmessage = event => {
            console.log("Event data:", event.data);
            translateRow("row_" + event.data);
        }
        {% if needToChoose %}
            alert('Please choose a row');
        {% endif %}
    </script>
{% block javascripts %}
    <script>
        function translateRow(rowid) {
            let row = document.getElementById(rowid);
            console.log('Translating row:', row );
            row.animate(
                [
                    {transform: "translateX(0px)", opacity: 1},
                    {transform: "translateX(700px) scale(0.5)", opacity: 0},
                ],
                {
                    duration: 1100,
                    iterations: 1,
                },
            ).addEventListener("finish", async ev => {
                console.log('fetch')
                const response = await fetch("{{path('app_game_sixqp_retrievemainboard', {id: game.id})}}");
                let mainBoard = document.getElementById('mainBoard');
                mainBoard.innerHTML = await response.text();
            });
        }
    </script>
{% endblock %}