{#
This section displays the game's name, and the current game's timer and leaderboard

@param :    ranking       -> Player entities who play in this game
		    player        -> the Player entity of the session's user

@return :   display game's informations and leaderboard
#}

{% block ranking %}
	<div class="my-2 mx-2">
		<img src="{{ asset('resourcesGames/6QP/logo.png') }}" alt="logo">
	</div>
	<p class="text-center py-2 font-bold bg-gray-700 text-white text-xl border-y-4 border-violet-600">
		Classement
	</p>
	<div class="bg-slate-400 overflow-y-auto">
		<div id="leaderboard" class="text-sm font-medium space-y-1 text-white">
			{% for user in ranking %}
				<div id="{{ user.username }}" class="score-white" data-origingap="0" data-origin="{{ loop.index0 }}">
					<div
							id="l_{{ user.username }}_points"
							class="portrait:hidden flex w-full items-center overflow-hidden"
							data-score="{{ user.discardSIxQP.totalPoints }}"
					>
						<img src="{{ asset('resourcesGames/6QP/teteDeBoeuf.svg') }}" alt="logo"
						     class="lg:size-8 size-4 mr-1">
						<p class="mr-1 lg:text-xl font-bold">
							{{ user.discardSIxQP.totalPoints }}
						</p>
						<p class="mr-2 text-sm font-thin">
							{{ user.discardSIxQP.totalPoints > 1 ? 'points' : 'point' }}
						</p>
						{% if player.username == user.username %}
							<p class="flex-grow text-clip text-right sm:text-xs text-violet-300">{{ user.username }}</p>
						{% else %}
							<p class="flex-grow text-clip text-right sm:text-xs">{{ user.username }}</p>
						{% endif %}
					</div>

					<div class="landscape:hidden w-full items-center overflow-hidden">
						{% if player.username == user.username %}
							<p class=" flex items-center text-clip text-right mb-2 text-xl text-violet-300">{{ user.username }}</p>
						{% else %}
							<p class="flex items-center text-clip text-right mb-2 text-xl">{{ user.username }}</p>
						{% endif %}

						<div id="p_{{ user.username }}_points" class="flex">
							<img src="{{ asset('resourcesGames/6QP/teteDeBoeuf.svg') }}" alt="logo"
							     class="size-8  mr-1">
							<p class="mr-1 text-xl font-bold">
								{{ user.discardSIxQP.totalPoints }}
							</p>
							<p class="mr-2 font-thin text-sm">
								{{ user.discardSIxQP.totalPoints > 1 ? 'points' : 'point' }}
							</p>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}