{% block ranking %}
    <div class="absolute bg-violet-100 w-1/6 h-full right-0">
        <div class="">
            <img src="{{ asset('resourcesGames/6QP/logo.png') }}" alt="logo" class="rounded-full mr-2">
            <p class="mr-1 text-center ">{{ playersNumber }} joueurs</p>
            <p class="mr-1 text-center ">Créée le {{ createdAt|date('d/m/Y H:i') }}</p>
            <p id="elapsedTime" class="mr-1 text-center ">Temps écoulé : 00:00:00</p>
        </div>
        <div class="dark:bg-slate-400">
            <p class="text-center py-2 my-2 font-bold dark:bg-gray-700 dark:text-white text-xl border-y-4 border-violet-600 ">Classement</p>
            <ul class="size-full  text-sm font-medium space-y-1 dark:text-white  ">
                {% for player in ranking %}
                    {% if loop.first %}
                        <li class="flex justify-between px-2 py-2 rounded-lg dark:bg-gray-700 border-y-4 border-red-600">
                    {% elseif loop.last %}
                        <li class="flex justify-between px-2 py-2 rounded-lg dark:bg-gray-700 border-y-4 border-yellow-400">
                    {% else%}
                        <li class="flex justify-between px-2 py-2 rounded-lg dark:bg-gray-700 border-y-2 border-white">
                    {% endif %}
                    <div class="flex items-center">
                        <img src="{{ asset('resourcesGames/6QP/teteDeBoeuf.svg') }}" alt="logo" class="w-8 h-8  mr-1">
                        <span class="mr-1 text-xl font-bold ">{{ player.discardSIxQP.totalPoints }}</span>
                        <span class="mr-2 text-xs font-thin  ">{% if player.discardSIxQP.totalPoints > 1 %}points{% else %}point{% endif %}</span>
                    </div>
                    <div class="flex items-center ">
                        {{ player.username }}
                    </div>
                    </li>
                {% endfor %}
            </ul>
        </div>

    </div>

{% endblock %}

{% block javascripts %}
    <script>
        function updateElapsedTime() {
            const currentTime = Math.floor(Date.now() / 1000);
            const elapsedTime = currentTime - {{ createdAt }};

            const hours = Math.floor(elapsedTime / 3600);
            const minutes = Math.floor((elapsedTime % 3600) / 60);
            const seconds = elapsedTime % 60;

            const formattedTime = hours.toString().padStart(2, '0') + ':' +
                    minutes.toString().padStart(2, '0') + ':' +
                    seconds.toString().padStart(2, '0');

            document.getElementById('elapsedTime').innerText = 'Temps écoulé : ' + formattedTime;
        }
        setInterval(updateElapsedTime, 1000);
    </script>
{% endblock %}
