{% extends 'base.html.twig' %}

{% block title %}Agora - Myrmes{% endblock %}

{% block body %}

    {% set PHASE_WORKER = constant('App\\Entity\\Game\\Myrmes\\MyrmesParameters::PHASE_WORKER') %}
    {% set RESOURCE_DIRT = constant('App\\Entity\\Game\\Myrmes\\MyrmesParameters::RESOURCE_TYPE_DIRT') %}

    <div class="h-screen w-screen overflow-hidden absolute" {{ stimulus_controller('myrmes') }}>
        <div id="index_myrmes" class="h-full w-full static overflow-hidden">
            {#{% block endGame %}
                {{ include('/Game/Myrmes/endGameScreenResult.html.twig') }}
            {% endblock %}#}
            {% block ranking %}
                <div id="ranking"
                     class="absolute bg-gradient-to-b from-[#4C6E9Bff] to-[#20222Dff] w-[28%] h-[70%] top-0 right-0">
                    {{ include('/Game/Myrmes/Ranking/ranking.html.twig') }}
                </div>
            {% endblock %}
            {% block previewPersonalBoard %}
                <div id="preview"
                     class="absolute bottom-0 flex justify-around items-center
                     bg-gradient-to-b from-[#4C6E9Bff] to-[#20222Dff] w-[28%] h-[30%] right-0">
                    {{ include('/Game/Myrmes/MainBoard/preview.html.twig') }}
                </div>
            {% endblock %}
            {% if not isBirthPhase %}
                {% block playerPersonalBoard %}
                    <div id="playerPersonalBoard" class="flow float-start w-[75%] h-[5/6]"></div>
                {% endblock %}
            {% endif %}
            {% block mainBoard %}
                <div id="mainBoard" class="absolute bottom-0 w-[72%] h-full">
                    {{ include('/Game/Myrmes/MainBoard/mainBoard.html.twig') }}
                </div>
            {% endblock %}
            {% block nav %}
                {{ include('/Game/Utils/navigation.html.twig') }}
            {% endblock %}
        </div>
    </div>

    <script type="text/javascript" src="{{ asset('scripts/GameFactory/queue.js') }}"></script>
    <script type="text/javascript" src="{{ asset('scripts/Myrmes/queueWorkerPhase.js') }}"></script>

    <script>
        {#{% if needToPlay %}
        alert("A toi de jouer ! ");
        {% endif %}#}

        window.currentTileMode = 1;
    </script>

    {#PERSONAL BOARD MANAGEMENT#}
    <script>
        {% set personalBoardPath = path('app_game_show_myr', {'id': game.id}) ~ 'personalBoard' ~ player.id %}
        const eventSourcePersonalBoard = new EventSource("{{ mercure(personalBoardPath)|escape('js') }}");
        eventSourcePersonalBoard.onmessage = event => {
            const index = document.getElementById('index_myrmes');
            closeWindow();
            index.innerHTML += event.data;
        }
    </script>

    {# MAIN BOARD CLOSURE MANAGEMENT #}
    <script>
        function closeWindow() {
            let personalBoard = document.getElementById('personalBoard');
            personalBoard.remove();
        }
        function closeSelectedBoxWindow(unselectTile = true) {
            let selectedBoxActions = document.getElementById('selectedBoxActions');
            if(selectedBoxActions !== null) {
                let tile = document.getElementsByClassName("displayedActionsTile").item(0);
                if (tile != null && unselectTile) {
                    tile.classList.value = "";
                    tile.classList.add("fill-[rgba(0,_0,_0,_0)]")
                }
                selectedBoxActions.remove();
            }
        }
        function closeThrowResourceActions() {
            let throwResourceActions = document.getElementById('throwResourceActions');
            throwResourceActions.remove();
        }
        function closeObjectivesWindow() {
            let objectives = document.getElementById('objectives');
            if (objectives != null) {
                objectives.remove();
                document.getElementById('objectives_button').removeAttribute('disabled');
                window.currentTileMode = 1;
            }
        }
    </script>

    {# NOTIFICATION MANAGEMENT #}
    <div class="hidden drop-shadow-2xl"></div>
    <script>
        {% set path = path('app_game_show_myr', {'id': game.id}) ~ 'highlight' ~ player.id %}
        const eventSourceHighlight = new EventSource("{{ mercure(path)|escape('js') }}");
        eventSourceHighlight.onmessage = event => {
                let tile = document.getElementById(event.data + "-clickable-zone").firstElementChild;
                tile.classList.value = "";
                tile.classList.add("fill-[rgba(255,_255,_255,_0.35)]")
                tile.classList.add("displayedActionsTile")
        }
    </script>

    {# TILE POSITIONING MANAGEMENT #}
    <script>
        let selectedObjectId;
        let selectedOrientation;
        let clickableTilesForPlacement = [];

        function PrepareTilePositioning(id) {
            selectedOrientation = id;
            document.getElementById('selectObjectTitle').innerText = "Placement de la tuile"

            let divTemplate = document.getElementById('PrepareTilePositioningTemplate');
            let divClone = divTemplate.cloneNode(true)
            divClone.id = 'PrepareTilePositioning';

            let selectedRotationimage = document.getElementById('ObjectOrientation_' + id).cloneNode(true);

            divClone.querySelector("#imageDiv").appendChild(selectedRotationimage.firstElementChild);

            document.getElementById('ObjectSelectionList').parentElement.appendChild(divClone)
            document.getElementById('ObjectOrientationList').classList.add('hidden')
        }

        function selectOrientationTile(objectId, nbRotation) {
            selectedObjectId = objectId;
            let divTemplate = document.getElementById('ObjectOrientationListTemplate');
            let divClone = divTemplate.cloneNode(true)
            divClone.id = 'ObjectOrientationList';

            let buttonTemplate = document.getElementById('ObjectOrientationTemplate');

            let objectImage = document.getElementById('objectImage_' + objectId);

            let flipCpt = 1;
            if (objectId === "4") {
                flipCpt = 2;
                nbRotation = 6
            }

            for (let j = 0; j < flipCpt; j++) {
                let newScr = j === 0 ? objectImage.dataset.firstOrientationSrc : objectImage.dataset.flipOrientationSrc
                let flipGap = nbRotation * j;
                for (let i = 0; i < nbRotation; i++) {
                    let button = buttonTemplate.cloneNode(true);
                    button.id = `ObjectOrientation_${i + flipGap}`;
                    button.setAttribute("data-myrmes-tileid-param", objectId);
                    button.setAttribute("data-myrmes-orientation-param", i + flipGap);
                    let image = objectImage.cloneNode(true);
                    image.src = newScr;
                    image.style.transform = `rotate(${(360 / nbRotation) * i}deg)`;
                    button.appendChild(image);
                    divClone.appendChild(button);
                }
            }

            document.getElementById('selectObjectTitle').innerText = "Orientation de la tuile"
            document.getElementById('ObjectSelectionList').parentElement.appendChild(divClone)
            document.getElementById('ObjectSelectionList').classList.add('hidden')
        }
    </script>

    {% if game.gamePhase == PHASE_WORKER %}
        <script>
            initQueue("{{ path('app_game_show_myr',
                {
                    id: game.id
                }) }}",
                    {{ player.personalBoardMYR.warriorsCount }},
                    {{ player.personalBoardMYR.playerResourceMYRs|filter(
                        resource => resource.resource.description == RESOURCE_DIRT
                    )|first.quantity
                    }})
        </script>
    {% endif %}
{% endblock %}
