{% extends 'base.html.twig' %}

{% block title %}Agora - Glenmore{% endblock %}

{% block body %}
    <div class="h-screen w-screen overflow-hidden absolute" {{ stimulus_controller('glenmore') }}>
        <div id="index_splendor" class="h-full w-full overflow-hidden">
            {% block nav %}
                {{ include('/Game/Utils/navigation.html.twig') }}
            {% endblock %}
            {% block endGame %}
                    {{ include('/Game/Glenmore/endGameScreenResult.html.twig') }}
            {% endblock %}
            {% block ranking %}
            <div id="ranking" class="absolute bg-gradient-to-b from-[#4C6E9Bff] to-[#20222Dff] w-[25%] h-full right-0">
                {{  include('/Game/Glenmore/Ranking/ranking.html.twig') }}
            </div>
            {% endblock %}
                <div id="mainBoard" class="flow float-start w-[75%]
                        {% if isSpectator %}h-full pb-3{% else %}h-[84%]{% endif %}">
                    {{ include('/Game/Glenmore/MainBoard/mainBoard.html.twig') }}
                </div>
            {% block personalBoard %}
                {% if not isSpectator %}
                <div class="flex bg-[#20222Dff] h-[16%] w-[75%] float-bottom-0" id="personalBoard">
                    {{ include('/Game/Glenmore/PersonalBoard/personalBoard.html.twig') }}
                </div>
                {% endif %}
            {% endblock %}
        </div>
    </div>
    <script>
        {% if needToPlay %}
        alert("A toi de jouer ! ");
        {% endif %}
    </script>
    <script>
        function closeWindow() {
            let window = document.getElementById('selectedCardActions'); //TODO: close personal board or main board
            window.remove();
        }
    </script>
{% endblock %}
