<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/agoragamerr/css/rr.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/agoragamerr/css/rr_textures.css') }}">
    {% if nbPlayers == 2 %}
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/agoragamerr/css/rr_locations_2p.css') }}">
    {% else %}
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/agoragamerr/css/rr_locations_4p.css') }}">
    {% endif %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/agoragamerr/css/rr_locations.css') }}">
</head>

{# <button id='debug1' class="action">TEST</button> #}

<div id="common_board_{{nbPlayers == 2 ? 2 : 4}}p" class="board">
    {% for i in 1..21 %}
        {% set isActionAvailable = false %}
        {% for action in actions %}
            {% if action.getId() == i %}
                {% set isActionAvailable = true %}
                <div id="action{{ i }}" class="action">
                    {# {{action.getIdentification()}} #}
                </div>
            {% endif %}
        {% endfor %}
        {% if isActionAvailable == false %}
                <div id="action{{ i }}" class="action unavailable" name="action">
                <p></p></div>
        {% endif %}
    {% endfor %}
    <div id="order">
        {% for i in 1..4 %}
            <div id="{{i}}" class="green_turn turn"><p></p></div>
        {% endfor %}
    </div>
    {% if nbPlayers > 2 %} 
        <div id="eng_14" class="eng eng_slot6"></div>
    {% endif %}
    {% for i in 1..5 %}
        <div id="eng_{{i}}" class="eng eng_slot{{i}}"></div>
    {% endfor %}
    <div class="eng eng_slot_buy"></div>
</div>

<div id="personal_boards">
    <div id="red_board" class="personal_board">
        <div class="rail black_rail"></div>
        <div class="grey_rail rail"></div>
        <div class="brown_rail rail"></div>
        <div class="beige_rail rail"></div>
        <div class="white_rail rail"></div>
    </div>
</div>

</html>
<script>
    var urlSock= "{{ app.request.getSchemeAndHttpHost() }}";
    var data = {
        gameId:{{gameId}},
        playerId:{{playerId}},
        'ready':false,
        'action':'none',
        'nb':0,
    }
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="module" src="{{ asset('bundles/agoragamerr/script/rr.js') }}"></script>
