<!DOCTYPE html>
<html>
    <head>
        <title>Morpion</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/agoragamemorpion/css/Morpion.css') }}">
    </head>

    <body>
        <h1> Morpion </h1>

        <div id="myInfo" class="marble">
            <p class="p">

                <p id="vs"></p>	

                <h3 id="playerSymbol"></h3>

                <h3 id="currentPlayer"></h3>

            </p>
        </div>


        <table id="grille">
        <tr>
            <td class="case" id="Case1"> </td>
            <td class="case" id="Case2"> </td>
            <td class="case" id="Case3"> </td>
        </tr>
        <tr>
            <td class="case" id="Case4"> </td>
            <td class="case" id="Case5"> </td>
            <td class="case" id="Case6"> </td>
        </tr>
        <tr>
            <td class="case" id="Case7"> </td>
            <td class="case" id="Case8"> </td>
            <td class="case" id="Case9"> </td>
        </tr>
        </table>

        <button id="buttAcc" onclick="window.location.href = '{{ path('agora_platform_homepage') }}'">Accueil</button>
        <button id="kick" onclick="kick()">Joueur absent ?</button>

    </body>
</html>

<script>
    var gameId = {{ gameId }};
    var playerId = {{ playerId }};
    var urlSock = "{{ app.request.getSchemeAndHttpHost() }}";
</script>

<!-- Script du Bundle AgoraPlatform -->
<script type="text/javascript" src="{{ asset('bundles/agoragamemorpion/script/morpion.js') }}"></script>


