{#
This section displays all the available actions on the card for the player

@return :   display the card actions (buy, reserve or return to the main board)
#}

{% set card = null %}
{% set cardPath = "" %}
{% set actionsNumber = 0 %}
{% if selectedCard != null %}
    {% set card = selectedCard.id %}
    {% set cardPath =  'DevelopmentCards/' ~ card %}
    {% set actionsNumber = 3 %}
{% elseif levelCard != null %}
    {% set cardPath = 'cardLevel' ~ levelCard %}
    {% set actionsNumber = 2 %}
{% else %}
    {% set card = selectedReservedCard.id %}
    {% set cardPath =  'DevelopmentCards/' ~ card %}
    {% set actionsNumber = 2 %}
{% endif %}

<div id="selectedCardActions"
     class="absolute top-0 left-0 w-full h-full bg-black bg-opacity-70 flex z-50 text-white items-center justify-center">
    <div class="bg-slate-900 p-5 rounded-lg flex flex-col justify-center items-center">
        <img id='image_card_{{ card }}'
             class=" items-center justify-center rounded-lg shadow-black shadow-lg max-h-full"
             src="{{
             asset('resourcesGames/Splendor/Images/'
                 ~ cardPath ~ '.png')
             }}"
             alt="{{ 'selectedCard' ~ card }}"
        >

        <p id="actions" class="text-4xl font-bold mb-4"></p>
        <div class="grid-cols-{{ actionsNumber }} font-bold flex justify-center items-center">
            {% if card != null %}
                {% set opacity = 'opacity-50' %}
                {% set disablement = true %}
                {% for purchasableCard in purchasableCards|filter(purchasableCard => purchasableCard == selectedCard) %}
                    {% set opacity = '' %}
                    {% set disablement = false %}
                {% endfor %}
                {% for purchasableCard in purchasableCardsOnPersonalBoard|filter(purchasableCard => purchasableCard == selectedReservedCard) %}
                    {% set opacity = '' %}
                    {% set disablement = false %}
                {% endfor %}
                <button id="buy_card_{{ card }}"
                        {{ stimulus_action('splendor', 'buyCard', 'click',
                            {url:path('app_game_splendor_buy_card',
                                {idGame: game.id, idCard: card})
                            })
                        }}
                        {% if disablement %} disabled {% endif %}
                        class="rounded-lg bg-amber-300 text-black py-2 px-3 m-1 inline-flex {{ opacity }}
                                portrait:text-2xl items-center"
                >
                    Acheter cette carte
                </button>
                {% endif %}
                {% set opacity = 'opacity-50' %}
                {% set disablement = true %}
                {% if not canReserveCard %}
                    {% set opacity = '' %}
                    {% set disablement = false %}
                {% endif %}
                <button id="reserve_card_{{ card }}"
                        {% if canReserveCard %} disabled {% endif %}
                        {% if card == null %}
                            {% set idDraw = levelCard - 1 %}
                            {{ stimulus_action('splendor', 'reserveCardOnDraw', 'click',
                                {url:path('app_game_splendor_reserve_card_draw',
                                    {idGame: game.id, level: levelCard})
                                })
                            }}
                        {% else %}
                            {{ stimulus_action('splendor', 'reserveCardOnRow', 'click',
                                {url:path('app_game_splendor_reserve_card_row',
                                    {idGame: game.id, idCard: card})
                                })
                            }}
                        {% endif %}
                        class="{% if selectedReservedCard != null %} hidden {% endif %} {{ opacity }}
                        rounded-lg  bg-amber-300 text-black py-2 px-3 m-1 inline-flex portrait:text-2xl items-center"
                >
                    Réserver cette carte
                </button>
                <button id="return_board" onclick="closeWindow()"
                        class="rounded-lg bg-blue-800 py-2 px-3 m-1 portrait:text-2xl items-center"
                >
                    <img src="{{ asset('resourcesGames/utils/return-arrow.svg') }}" id="returnArrow"
                         alt="return on board"
                         class="h-6 max-h-full">
                </button>
        </div>
    </div>
</div>