{% extends 'base.html.twig' %}

{% block title %}Agora - Splendor{% endblock %}

{% block body %}
    <div class="h-screen w-screen overflow-hidden absolute" {{ stimulus_controller('splendor') }}>
        <div id="index_splendor" class="h-full w-full overflow-hidden">
            {% block nav %}
                {{ include('/Game/Utils/navigation.html.twig') }}
            {% endblock %}
            {% block endGame %}
                {{ include('/Game/Splendor/endGameScreenResult.html.twig') }}
            {% endblock %}
            {% block ranking %}
            <div id="ranking" class="absolute bg-violet-100 w-[25%] h-full right-0">
                {{  include('/Game/Splendor/Ranking/ranking.html.twig') }}
            </div>
            {% endblock %}
                <div id="mainBoard" class="flow float-start w-[75%] h-[84%]">
                    {{ include('/Game/Splendor/MainBoard/mainBoard.html.twig') }}
                </div>
            {% block personalBoard %}
            <div class="flex bg-green-500 h-[16%] w-[75%] float-bottom-0" id="personalBoard">
                {{ include('/Game/Splendor/PersonalBoard/personalBoard.html.twig') }}
            </div>
            {% endblock %}
        </div>
    </div>
    {% if not isSpectator %}
    <script>
        {% set path = path('app_game_show_sixqp', {'id': game.id}) ~ 'notifyPlayer' ~ player.id %}
        const eventSourceNotification = new EventSource("{{ mercure(path)|escape('js') }}");
        eventSourceNotification.onmessage = event => {
            for(let row of document.getElementsByClassName('rows')) {
                row.disabled = false;
            }
            //Notify player
            alert("Please choose a row")
        }
    </script>
    {% endif %}

    <script>
        function closeWindow() {
            let window = document.getElementById('selectedCardActions');
            window.remove();
        }
    </script>
{% endblock %}
