{% extends 'platform/dashboard/layout.html.twig' %}

{% block title %}
   Paramètres
{% endblock %}

{% block body %}
<div class="relative isolate px-6 pt-14 lg:px-8">
   <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80" aria-hidden="true">
      <div class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-danger to-primary opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
   </div>
   <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
      <div class="sm:mx-auto sm:w-full sm:max-w-sm">
         <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Mes informations personnelles</h2>
      </div>
      <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">

         {% include 'platform/shared/flashMessage.html.twig' %}
         {% set flashMessages = app.flashes() %}
         {% if flashMessages is not empty %}
         {% for type, messages in flashMessages %}
         {% for message in messages %}
         <div class="alert alert-{{ type }} bg-red-100 border-l-4 border-red-500 text-red-700 p-4" role="alert">
            {{ message }}
         </div>
         {% endfor %}
         {% endfor %}
         {% endif %}
         
         {{ form_start(form, {'method': 'POST', 'attr': {'class': 'space-y-6 md:w-96'}}) }}

         {% for flash_error in app.flashes('verify_email_error') %}
				<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
			{% endfor %}

         <div>
            {{ form_label(form.username, 'Identifiant', {'label_attr': {'class': 'block text-sm font-medium leading-6 text-gray-900'}}) }}
            <div class="mt-2">
               {{ form_widget(form.username, {'attr': {'class': 'block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary sm:text-sm sm:leading-6', 'placeholder': 'Identifiant'}}) }}
            </div>
         </div>
         <div>
            {{ form_label(form.email, 'Email', {'label_attr': {'class': 'block text-sm font-medium leading-6 text-gray-900'}}) }}
            <div class="mt-2">
               {{ form_widget(form.email, {'attr': {'class': 'block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary sm:text-sm sm:leading-6', 'placeholder': 'exemple@exemple.com', 'type': 'email'}}) }}
            </div>
         </div>
         <div>
            {{ form_label(form.plainPassword.first, 'Nouveau mot de passe', {'label_attr': {'class': 'block text-sm font-medium leading-6 text-gray-900'}}) }}
            <div class="mt-2">
               {{ form_widget(form.plainPassword.first, {'attr': {'class': 'block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary sm:text-sm sm:leading-6', 'placeholder': '******************', 'type': 'password'}}) }}
            </div>
         </div>
         <div>
            {{ form_label(form.plainPassword.second, 'Confirmation de mot de passe', {'label_attr': {'class': 'block text-sm font-medium leading-6 text-gray-900'}}) }}
            <div class="mt-2">
               {{ form_widget(form.plainPassword.second, {'attr': {'class': 'block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary sm:text-sm sm:leading-6', 'placeholder': '******************', 'type': 'password'}}) }}
            </div>
         </div>
         {{ form_row(form.submit, {'attr': {'class': 'flex w-full justify-center rounded-md bg-primary px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-blue-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600'}}) }}
         {{ form_end(form) }}
      </div>
   </div>
   <div class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]" aria-hidden="true">
      <div class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-primary to-danger opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
   </div>
</div>
{% endblock %}