{#
This section displays if the current user is the winner and if not, the name of the winner is displayed.
Comes with a button to the homepage and another one to the game's homepage

@return :   display the winner and buttons to the game and platform's homepage
#}

{% set card = null %}
{% set cardPath = "" %}
{% set actionsNumber = 0 %}
{% if selectedCard != null %}
    {% set card = selectedCard.id %}
    {% set cardPath =  'DevelopmentCards/' ~ card %}
    {% set actionsNumber = 3 %}
{% elseif levelCard != null %}
    {% set card = levelCard %}
    {% set cardPath = 'cardLevel' ~ card %}
    {% set actionsNumber = 2 %}
{% else %}
    {% set card = selectedReservedCard.id %}
    {% set cardPath =  'DevelopmentCards/' ~ card %}
    {% set actionsNumber = 2 %}
{% endif %}

<div id="selectedCardActions"
     class="absolute top-0 left-0 w-full h-full bg-black bg-opacity-70 flex z-50 text-white items-center justify-center">
    <div class="bg-slate-900 p-5 rounded-lg flex flex-col justify-center items-center">
        <img id='image_card_{{ card }}'
             class=" items-center justify-center rounded-lg shadow-black shadow-lg max-h-full"
             src="{{
             asset('resourcesGames/Splendor/Images/'
                 ~ cardPath ~ '.png')
             }}"
             alt="{{ 'selectedCard' ~ card }}"
        >
        <p id="actions" class="text-4xl font-bold mb-4"></p>
        <div class="grid-cols-{{ actionsNumber }} font-bold flex justify-center items-center">
                <button id="buy_card_{{ card }}"
                        class="{% if levelCard != null %} hidden {% endif %}
                                rounded-lg bg-amber-300 text-black py-2 px-3 m-1 inline-flex portrait:text-2xl items-center"
                >
                    Buy this card
                </button>
                <button id="reserve_card_{{ card }}"
                        class="{% if selectedReservedCard != null %} hidden {% endif %}
                        rounded-lg  bg-amber-300 text-black py-2 px-3 m-1 inline-flex portrait:text-2xl items-center"
                >
                    Reserve this card
                </button>
                <button id="return_board" onclick="closeWindow()"
                        class="rounded-lg bg-blue-800 py-2 px-3 m-1 portrait:text-2xl items-center"
                >
                    <img src="{{ asset('resourcesGames/utils/return-arrow.svg') }}" id="returnArrow"
                         alt="return on board"
                         class="h-6 max-h-full">
                </button>
        </div>
    </div>
</div>