{#
    This section displays the development cards that can be reserved or bought by players
    @param :
    @return :
#}
<div class="flow flex flex-row float-start w-[75%] h-5/6 bg-yellow-600">

    {# Display discards and remaining cards number #}
    <div class="flex w-3/12 h-full bg-blue grid grid-rows-3">
        {% set drawCardsCount =
            [drawCardsLevelOneCount|length, drawCardsLevelTwoCount|length, drawCardsLevelThreeCount|length]
        %}
        {% for i in 3..1 %}
            <div class="relative h-full w-fit mx-auto p-2">
                <img
                        class="items-center aspect-auto justify-center rounded-lg shadow-black shadow-lg max-h-full "
                        src="{{ asset('resourcesGames/Splendor/Images/cardLevel' ~ i ~ '.png') }}"
                        alt='{{ 'cardLevel' ~ i ~ '.png' }}'
                >
                <span
                        class="absolute inline-flex items-center justify-center w-6 h-6 text-xs font-bold text-white
                                bg-red-500 border-2 border-white rounded-full -top-0 -end-2 dark:border-gray-900"
                >
                        {{ drawCardsCount[i-1] }}
                </span>
            </div>
        {% endfor %}
    </div>

    {# Display development cards #}
    <div class="flex grid grid-rows-3 grid-cols-4 h-full w-9/12">
        {% for i in 3..1 %}
            {% for row in rows %}
                    {% for card in row.developmentCards|filter(card => card.level == i) %}
                        {% if row.id == i %}
                            <button
                                    {% if not needToPlay %}
                                    disabled
                                    {% endif %}
                                    class="h-full p-2 w-full" id="card_{{ card.id }}"
                            >
                                    <img class="items-center justify-center rounded-lg shadow-black shadow-lg max-h-full"
                                         src="{{
                                                asset('resourcesGames/Splendor/Images/DevelopmentCards/'
                                                    ~ card.id ~ '.png')
                                              }}"
                                         alt="{{ 'cardLevel' ~ i }}"
                                    >
                            </button>
                        {% endif %}
                    {% endfor %}
            {% endfor %}
        {% endfor %}
    </div>
</div>

{# <div id="ligne1" class="h-1/3">
            <div id="pioche">
                <img class="rounded-lg shadow-black shadow-lg"
                     src="{{ asset('resourcesGames/Splendor/Images/cardLevel3.png') }}">
            </div>
            {% for card in drawCardsLevelThreeCount %}
                <div id="cardonboard">
                    <img class="float float-left rounded-lg shadow-black shadow-lg"
                         src="{{ asset('resourcesGames/Splendor/Images/DevelopmentCards/' ~ card.value ~ '.png') }}">
                </div>
            {% endfor %}
        </div> #}