{#
This section displays the event track which the player can see and change the season bonus at phase 1.
@param :
@return :
#}
<div class="inline-flex flex-col w-full h-[3vw] ml-3" id="eventTrack">
    <div class="inlineFlex w-full gap-[0.4vw]" id="eventTrackDices">
        {#button to move event track bonus selector to left#}
        <div class="inline-flex flex-col align-top">
            <{% if not isPreview %}button{% else %}div{% endif%} type="button"
                    {{ stimulus_action('myrmes','moveToLeftOnEventTrack','click',
                        {url:path('app_game_myrmes_lower_bonus',
                            {gameId: game.id})
                        })
                    }}
            >
                <img class="relative h-full mt-0.5 lg:mt-1.5 -rotate-90" id="eventTrackLeftButton"
                     src="{{ asset('resourcesGames/Myrmes/myrmesArrow.svg') }}"
                     alt="event track left button"/>
            </{% if not isPreview %}button{% else %}div{% endif %}>
        </div>
        {% for i in 0..7 %}
            <div class="inlineFlexCol gap-[0.2vw] items-center h-full">
                {#event track dices#}
                <img class="w-full"
                     src="{{ asset('resourcesGames/Myrmes/personalBoard/dices/dice' ~ i ~ '.svg') }}"
                     alt="dice {{ i }}">
                {#event track bonus#}
                <img class="{% if isPreview %}h-[2vw]{% else %}h-[3vw]{% endif %}"
                     src="{{ asset('resourcesGames/Myrmes/personalBoard/eventBonus/eventBonus' ~ i ~ '.svg') }}"
                     alt="event bonus {{ i }}">
            </div>
        {% endfor %}
        {#button to move event track bonus selector to right#}
        <div class="inline-flex flex-col align-top">
            <{% if not isPreview %}button{% else %}div{% endif%} type="button"
                    {{ stimulus_action('myrmes','moveToRightOnEventTrack','click',
                        {url:path('app_game_myrmes_up_bonus',
                            {gameId: game.id})
                        })
                    }}
            >
                <img class="relative h-full mt-0.5 lg:mt-1.5 rotate-90" id="eventTrackRightButton"
                     src="{{ asset('resourcesGames/Myrmes/myrmesArrow.svg') }}"
                     alt="event track right button" />
            </{% if not isPreview %}button{% else %}div{% endif %}>
        </div>
    </div>
</div>