{#
This section displays player's colony level track with the crafts available for each level.
@param :
@return :
#}

{% set upgradesGap = [
    {1: 40},
    {2: 125},
    {3: 208}
] %}

<div class="relative w-[35%] inlineFlexCol items-center p-4 h-auto scale-[0.8]"
     id="colonyLevelTrack">
    {% set canSendWorkerToAnthill = not isAnotherPlayerBoard and playerPhase == PHASE_WORKER and player.personalBoardMYR.anthillWorkers|length > 0 and needToPlay %}
    {% set anthillLevel = player.personalBoardMYR.anthillLevel %}
    {#colony track level 0#}
    <{% if not isPreview and canSendWorkerToAnthill %}button{% else %}div{% endif%} id="colonyLevel0"
            {% if not isPreview and canSendWorkerToAnthill %}
                {{ stimulus_action('myrmes','placeWorkerOnColonyLevelTrack','click',
                    {url: path('app_game_myrmes_place_worker_colony', {gameId: game.id, level: 0})})
                }}
            {% endif %}>
        <svg viewBox="0 0 600 300" class="{% if isPreview %}h-[4vw]{% else %}h-[11vw]{% endif %}">
            <image href="{{ asset('resourcesGames/Myrmes/personalBoard/colonyTrack/levels/level0.svg') }}"
                   x="0" y="0" height="300" width="600" alt="colony track level zero"></image>
            {% if anthillLevel == 0 %}
                <circle cx="298" cy="90" r="50" fill="{{ player.color }}"></circle>
            {% endif %}
            {% if workersOnAnthillLevels[0] %}
                <rect height="120" width="120" x="80" y="30" fill="{{ player.color }}" fill-opacity="0.5" rx="25"></rect>
                <image href="{{ asset('resourcesGames/Myrmes/ant.svg') }}" x="90" y="40" height="100" width="100"></image>
            {% endif %}
        </svg>

    </{% if not isPreview and canSendWorkerToAnthill %}button{% else %}div{% endif %}>
    {% for i in 1..3 %}
        {#colony upgrades costs#}
        <img id="upgrade{{ i }}" class="-translate-y-[{{ upgradesGap|column(i)|first }}%] z-10"
             src="{{ asset('resourcesGames/Myrmes/personalBoard/colonyTrack/upgrades/upgrade' ~ i ~ '.svg') }}"
             alt="upgrade cost to level {{ i }}">
        {#colony track levels 1 to 3#}
        <{% if not isPreview and canSendWorkerToAnthill %}button{% else %}div{% endif %} class="-translate-y-[{{ 15*i }}%]" type="button" id="level{{ i }}"
                {% if not isPreview and canSendWorkerToAnthill and i == 2 %}
                    {{
                        stimulus_action('myrmes', 'selectLvlTwoAnthillResource', 'click',
                            {url: path('app_game_myrmes_select_resource_lvl_two_anthill',
                                {
                                    gameId: game.id
                                })
                            })
                    }}
                {% elseif not isPreview and canSendWorkerToAnthill %}
                    {{ stimulus_action('myrmes','placeWorkerOnColonyLevelTrack','click',
                        {url: path('app_game_myrmes_place_worker_colony',
                            {
                                gameId: game.id,
                                level: i
                            })
                        })
                    }}
                {% endif %}>
            <svg viewBox="0 0 600 300" class="{% if isPreview %}h-[4vw]{% else %}h-[11vw]{% endif %}">
                <image href="{{ asset('resourcesGames/Myrmes/personalBoard/colonyTrack/levels/level' ~ i ~ '.svg') }}"
                       x="0" y="0" height="300" width="600" alt="colony track level {{ i }}"></image>
                {% if anthillLevel == i %}
                    <circle cx="298" cy="90" r="50" fill="{{ player.color }}"></circle>
                {% endif %}
                {% if workersOnAnthillLevels[i] %}
                    <rect height="120" width="120" x="80" y="30" fill="{{ player.color }}" fill-opacity="0.5" rx="25"></rect>
                    <image href="{{ asset('resourcesGames/Myrmes/ant.svg') }}" x="90" y="40" height="100" width="100"></image>
                {% endif %}
            </svg>
        </{% if not isPreview and canSendWorkerToAnthill %}button{% else %}div{% endif %}>
    {% endfor %}
    {% if not isPreview and not isSpectator and selectionLvlTwoBonus and not isAnotherPlayerBoard %}
        <div id="selectLvlTwoResource">
            {{ include('Game/Myrmes/PersonalBoard/ActionsMenu/selectionAnthillLvlTwoResource.html.twig') }}
        </div>
    {% endif %}
</div>