{#
This section displays the personal board of a player
@param :
@return :
#}
<div hidden class="bg-[#ffffff99] w-15 h-15
    -translate-y-[40%] -translate-y-[125%] -translate-y-[208%]
    -translate-y-[15%] -translate-y-[30%] -translate-y-[45%]"></div>
<div class="inlineFlex gap-3 py-10 pr-5 relative bg-[#c67b24] w-full h-full">
    <div class="inlineFlexCol gap-3 lg:gap-12 relative w-[45%]" id="left-column">
        {{ include('Game/Myrmes/PersonalBoard/displayBirthTrack.html.twig') }}
        <div class="relative w-full h-[5%]" id="nurses">
            <p class="text1-4">Nourrices : X</p>
        </div>
        {{ include('Game/Myrmes/PersonalBoard/displayEventTrack.html.twig') }}
    </div>
    <div class="inline-flex flex-col items-center justify-around relative w-[20%]" id="rightColumn">
        {{ include('Game/Myrmes/PersonalBoard/displayWorkshop.html.twig') }}
        {{ include('Game/Myrmes/PersonalBoard/displayPreyCount.html.twig') }}
        {{ include('Game/Myrmes/PersonalBoard/displayWarehouse.html.twig') }}
    </div>
    {{ include('Game/Myrmes/PersonalBoard/displayColonyLevelTrack.html.twig') }}
</div>