{#
This section displays the personal board of a player
@param :
@return :
#}
<div hidden class="bg-[#ffffff99] w-15 h-15
    -translate-y-[40%] -translate-y-[125%] -translate-y-[208%]
    -translate-y-[15%] -translate-y-[30%] -translate-y-[45%]"></div>
{% set upgradesGap = [
    {1: 40},
    {2: 125},
    {3: 208}
] %}
<div class="inlineFlex gap-3 py-10 pr-5 relative bg-[#c67b24] w-full h-full">
    <div class="inlineFlexCol gap-3 lg:gap-12 relative w-[45%]" id="left-column">
        <div class="relative w-full h-[75%] inlineFlexCol gap-2 lg:gap-5" id="birth_track">
            <p class="text2-4">Pistes de naissances</p>
            <div class="inline-flex items-start w-full align-center justify-evenly">
                <div class="relative w-1/6 h-full justify-start align-top inline-flex flex-col gap-3" id="larvae">
                    <div class="inlineFlex items-center gap-2 w-full h-[3rem] lg:h-[4rem]" id="larvaeCount">
                        <p class="relative w-10 h-fit text3-4" id="larvaeCountText">X</p>
                        <img class="h-full" src="{{ asset('resourcesGames/Myrmes/resources/larva.svg') }}"
                             alt="larvae icon"/>
                    </div>
                    <div class="inlineFlexCol gap-2 lg:gap-5">
                        <div class="inlineFlexCol items-center gap-1 lg:gap-2.5 relative" id="larvaeTrack">
                            {% for i in 1..2 %}
                                <img class="w-[90%]"
                                     src="{{ asset('resourcesGames/Myrmes/personalBoard/birthTrack/birthTrackOneBis.svg') }}"
                                     alt="larvae birth track">
                            {% endfor %}
                            <img class="w-[90%]"
                                 src="{{ asset('resourcesGames/Myrmes/personalBoard/birthTrack/birthTrackTwo.svg') }}"
                                 alt="larvae birth track"/>
                        </div>
                        <div class="flex justify-center">
                            <button type="button" class="w-[60%]"
                                {{ stimulus_action('myrmes','placeNurseOnLarvaeTrack','click') }}
                            >
                                <img class="relative" id="larvaeButton"
                                     src="{{ asset('resourcesGames/Myrmes/myrmesArrow.svg') }}"
                                     alt="place larvae"/>
                            </button>
                        </div>

                    </div>
                </div>
                <div class="relative w-1/6 h-full justify-start align-top inline-flex flex-col gap-3" id="soldier">
                    <div class="inlineFlex gap-3 items-center w-full h-[3rem] lg:h-[4rem]" id="soldierCount">
                        <p class="relative w-10 h-fit text3-4">X</p>
                        <img class="h-full" id="soldierIcon"
                             src="{{ asset('resourcesGames/Myrmes/soldierIcon.svg') }}"
                             alt="soldier icon"/>
                    </div>
                    <div class="inlineFlexCol gap-2 lg:gap-5">
                        <div class="inlineFlexCol items-center gap-1 lg:gap-2.5 relative"
                             id="soldierTrack">
                                <img class="w-[90%]"
                                     src="{{ asset('resourcesGames/Myrmes/personalBoard/birthTrack/birthTrackOne.svg') }}"
                                alt="soldier birth track"/>
                            <img class="w-[90%]"
                                 src="{{ asset('resourcesGames/Myrmes/personalBoard/birthTrack/birthTrackTwo.svg') }}"
                                 alt="soldier birth track"/>
                        </div>
                        <div class="flex justify-center">
                            <button type="button" class="w-[60%]"
                                {{ stimulus_action('myrmes','placeNurseOnSoldiersTrack','click') }}
                            >
                                <img class="relative" id="soldierButton"
                                     src="{{ asset('resourcesGames/Myrmes/myrmesArrow.svg') }}"
                                     alt="place soldier"/>
                            </button>
                        </div>

                    </div>
                </div>
                <div class="relative w-1/6 h-full justify-start align-top inline-flex flex-col gap-3" id="worker">
                    <div class="inlineFlex items-center gap-2 w-full h-[3rem] lg:h-[4rem]" id="workerCount">
                        <p class="relative w-10 h-fit text3-4">X</p>
                        <img class="h-full" id="workerIcon"
                             src="{{ asset('resourcesGames/Myrmes/workerIcon.svg') }}"
                             alt="worker icon"/>
                    </div>
                    <div class="inlineFlexCol gap-2 lg:gap-5">
                        <div class="inlineFlexCol items-center gap-1 lg:gap-2.5 relative"
                            id="workersTrack">
                            {% for i in 1..2 %}
                                <img class="w-[90%]"
                                     src="{{ asset('resourcesGames/Myrmes/personalBoard/birthTrack/birthTrackTwo.svg') }}"
                                     alt="worker birth track"/>
                            {% endfor %}
                        </div>
                        <div class="flex justify-center">
                            <button type="button" class="w-[60%]"
                                    {{ stimulus_action('myrmes','placeNurseOnWorkersTrack','click') }}
                            >
                                <img class="relative" id="workerButton"
                                     src="{{ asset('resourcesGames/Myrmes/myrmesArrow.svg') }}"
                                     alt="place worker"/>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="relative w-full h-[5%]" id="nurses">
            <p class="text1-4">Nourrices : X</p>
        </div>
        <div class="relative inline-flex flex-col gap-4 w-full h-[20%] ml-3" id="eventTrack">
            <div class="inlineFlex w-full gap-1 lg:gap-2.5" id="eventTrackDices">
                <div class="inline-flex flex-col align-top">
                    <button type="button"
                            {{ stimulus_action('myrmes','moveToLeftOnEventTrack','click') }}
                    >
                        <img class="relative h-full mt-0.5 lg:mt-1.5 -rotate-90" id="eventTrackLeftButton"
                             src="{{ asset('resourcesGames/Myrmes/myrmesArrow.svg') }}"
                             alt="event track left button"/>
                    </button>
                </div>
                {% for i in 0..7 %}
                    <div class="inlineFlexCol gap-2 items-center h-full">
                        <img class=" w-full"
                             src="{{ asset('resourcesGames/Myrmes/personalBoard/dices/dice' ~ i ~ '.svg') }}"
                             alt="dice {{ i }}">
                        <img class="h-8 lg:h-14"
                             src="{{ asset('resourcesGames/Myrmes/personalBoard/eventBonus/eventBonus' ~ i ~ '.svg') }}"
                             alt="event bonus {{ i }}">
                    </div>
                {% endfor %}
                <div class="inline-flex flex-col align-top">
                    <button type="button"
                            {{ stimulus_action('myrmes','moveToRightOnEventTrack','click') }}
                    >
                        <img class="relative h-full mt-0.5 lg:mt-1.5 rotate-90" id="eventTrackRightButton"
                             src="{{ asset('resourcesGames/Myrmes/myrmesArrow.svg') }}"
                             alt="event track right button" />
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="inline-flex flex-col items-center justify-around relative w-[20%]" id="rightColumn">
        <div class="inlineFlexCol items-center gap-2 lg:gap-6 relative" id="workshop">
            <p class="relative w-fit mb-px text2-4">Atelier</p>
            <button type="button"
                    {{ stimulus_action('myrmes','placeNurseOnWorkshop','click') }}
            >
                <img class="w-full" id="workshopIcon"
                     src="{{ asset('resourcesGames/Myrmes/personalBoard/workshop.svg') }}"
                     alt="workshop icon"/>
            </button>
        </div>
        <div class="inlineFlexCol items-center gap-2 lg:gap-6 relative" id="prey">
            <p class="relative w-fit mb-px text2-4">Proies</p>
            <div class="relative w-full h-fit inline-flex align-center justify-around items-center" id="countPrey">
                <p class="h-fit w-[25%] text3-5">X</p>
                <img class="w-[75%]" id="preyIcon"
                     src="{{ asset('resourcesGames/Myrmes/personalBoard/preyIcon.svg') }}"
                     alt=" prey icon">
            </div>
        </div>
        <div class="inlineFlexCol gap-2 lg:gap-6 relative items-center" id="warehouse">
            <p class="relative w-fit mb-px text2-4">Entrepôt</p>
            <div class="grid grid-cols-2 grid-rows-3 w-fit items-start gap-1.5 lg:gap-3 relative " id="warehouseCases">
                {% for i in 1..6 %}
                    <button type="button" class="relative w-10 h-10 lg:w-14 lg:h-14
                        {% if i < 5 %} bg-[#ffffff99]
                        {% else %} bg-[#00000099]
                        {% endif %}"
                        {{ stimulus_action('myrmes','throwResourceFromWarehouse','click') }}
                    ></button>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="relative w-[35%] inline-flex flex-col align-center items-center h-full -translate-y-[9%] lg:translate-y-0"
         id="colonyLevelTrack">
        <button  type="button" id="colonyLevel0"
                {{ stimulus_action('myrmes','placeWorkerOnLevel0','click') }}>
            <img src="{{ asset('resourcesGames/Myrmes/personalBoard/colonyTrack/levels/level0.svg') }}"
                 alt="colony track level zero">
        </button>
        {% for i in 1..3 %}
            <img id="upgrade{{ i }}" class="-translate-y-[{{ upgradesGap|column(i)|first }}%] z-10"
                 src="{{ asset('resourcesGames/Myrmes/personalBoard/colonyTrack/upgrades/upgrade' ~ i ~ '.svg') }}"
                 alt="upgrade cost to level {{ i }}">
            <button class="-translate-y-[{{ 15*i }}%]" type="button" id="level{{ i }}"
                    {{ stimulus_action('myrmes','placeWorkerOnLevel' ~ i,'click') }}
            >
                <img src="{{ asset('resourcesGames/Myrmes/personalBoard/colonyTrack/levels/level' ~ i ~ '.svg') }}"
                     alt="colony track level {{ i }}">
            </button>
        {% endfor %}
    </div>
</div>