{% extends "AGORAPlatformBundle::layout.html.twig" %}

{% block style %}
	<link rel="stylesheet" href="{{ asset('bundles/agoraplatform/css/contact.css') }}" type="text/css" />
{% endblock %}

{% block title %}{{ parent() }} - Contact{% endblock %}

{% block header %}

{%  endblock %}

{% block content %}
	
	{{ form_start(form, {'method': 'post', 'action': path('agora_platform_contact')}) }}
        {{ form_errors(form) }}
	<div class="bg">
		<div id="titleHeader">
			<h1>Nous contacter</h1>
		</div>

		<div class="contactFrom" >
			<div>
				<label>Votre nom</label>
                {{ form_widget(form.name) }}
			</div>

			<div>
				<label>Votre adresse email (si vous souhaitez être recontacté)</label>
                {{ form_widget(form.email) }}
			</div>

			<div>
				<label>Sujet de votre message</label>
                {{ form_widget(form.subject) }}
			</div>

			<div>
				<label>Corps de votre message</label>
                {{ form_widget(form.body) }}
			</div>

			<div>
                {{ form_rest(form) }}
			</div>
			<br>
			<div>
				<input type="submit" class="button button-block" value="{{ "Envoyer"|trans }}" />
			</div>

		{% for message in app.session.flashbag.get('contact-notice') %}
			<div id="messageConf">
				<p>{{ message }}</p>
			</div>
		{% endfor %}
            {{ form_end(form) }}
		</div>
	</div>

	
{% endblock %}

{% block footer %}
{% endblock %}
