{% extends "AGORAPlatformBundle::layout.html.twig" %}

{% block style %}
    <link rel="stylesheet" href="{{ asset('bundles/agoraplatform/css/game.css') }}" type="text/css" />
{% endblock %}


{% block title %}{{ parent() }} - Liste des jeux{% endblock %}

{% block header %}

    <div class="bg">
        <div id="titleHeader">
            <h1>NOS JEUX</h1>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="rowFlex rowGame" id="gameList">
        {% for game in gameList %}
            <div class="colFlex cardShadow">
                <img class="selfCenter" src="{{ asset('bundles/agoraplatform/image/availableGame/' ~ game.image) }}" alt="availableGame">
                <div>
                    <h3>{{ game.gameName }}</h3>
                    <p> <span style="font-weight: 700">Nombre de joueurs : </span> {{ game.minPlayers }} - {{ game.maxPlayers }} </p>
                    <p> <span style="font-weight: 700">Description : </span>{{ game.description }}</p>
                </div>
                <div class="rowFlex actionButtonGame">
                    <button  type="button" onclick="window.location.href='{{ game.rules }}'" class="btn btn-danger btn-lg buttonInfo selfCenter ">Règles</button>
                    <button  type="button" onclick="window.location.href='{{ path('agora_platform_leaderboard', {'game' : game.id}) }}'" class="btn btn-danger btn-lg buttonInfo selfCenter ">Classement</button>
                    {##}<button  type="button" onclick="window.location.href='{{ path('agora_platform_game_create', {'gameId' : game.id}) }}'" class="btn btn-danger btn-lg buttonInfo selfCenter ">Jouer</button>
                </div>

            </div>

        {% endfor %}
    </div>

{% endblock %}
