{% extends "AGORAPlatformBundle::layout.html.twig" %}

{% block style %}
    <link rel="stylesheet" href="{{ asset('bundles/agoraplatform/css/game.css') }}" type="text/css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css" type="text/css" />
    <script src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
{% endblock %}

{% block title %}{{ parent() }} - Classement pour le jeu {{ gameInfo.gameName }}{% endblock %}

{% block header %}
    <h1>Classement pour le jeu {{ gameInfo.gameName }}</h1>
{% endblock %}

{% block content %}


<div style="width: 100%; margin: auto">
    <table id="joinGameTable" class="display" style="width:50%">
        <thead>
            <tr>
                <th>Classement</th>
                <th>Nom du joueur</th>
                <th>Elo</th>
                <th>Nombre de victoires</th>
                <th>Nombre de défaites</th>
                <th>Nombre d'égalités</th>
            </tr>
        </thead>
        <tbody>
        {% set counter = 0 %}
        {% for player in leaderboard %}
            <tr>
                <td>{% set counter = counter + 1 %}{{ counter }}</td>
                <td>{{ player.userId.username }}</td>
                <td>{{ player.elo }}</td>
                <td>{{ player.victoryNb }}</td>
                <td>{{ player.loseNb }}</td>
                <td>{{ player.equalityNb }}</td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
</div>
    <script>
        $(document).ready( function () {
            $('#joinGameTable').DataTable({"paging": false,
                "scrollY": "20em",
                "scrollCollapse": true,
                "language" : {
                    "sProcessing":     "Traitement en cours...",
                    "sSearch":         "Rechercher&nbsp;:",
                    "sLengthMenu":     "Afficher _MENU_ &eacute;l&eacute;ments",
                    "sInfo":           "",
                    "sInfoEmpty":      "",
                    "sInfoFiltered":   "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
                    "sInfoPostFix":    "",
                    "sLoadingRecords": "Chargement en cours...",
                    "sZeroRecords":    "Aucun &eacute;l&eacute;ment &agrave; afficher",
                    "sEmptyTable":     "Aucun score enregistr&eacute;",
                    "oPaginate": {
                        "sFirst":      "Premier",
                        "sPrevious":   "Pr&eacute;c&eacute;dent",
                        "sNext":       "Suivant",
                        "sLast":       "Dernier"
                    },
                    "oAria": {
                        "sSortAscending":  ": activer pour trier la colonne par ordre croissant",
                        "sSortDescending": ": activer pour trier la colonne par ordre d&eacute;croissant"
                    }}});
        } );
    </script>

{% endblock %}
