{% extends "AGORAPlatformBundle::moderateur.html.twig" %}

{% block title %}{{ parent() }} - Gestion des parties{% endblock %}

{% block header %}
    <h1>Gestion des parties</h1>
{% endblock %}

{% block content %}

	<link rel="stylesheet" href="{{ asset('bundles/agoraplatform/css/admin.css') }}">
	<script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>

    <table id="joinGameTableAVC" class="display">
        <thead>
        <tr>
			<th>Nom du jeu</th>
            <th>Nom du lobby</th>
            <th>Personnes présentes en jeu</th>
            <th>Nombre de joueurs requis</th>
            <th>Date de création</th>
            <th>Lien</th>
        </tr>
        </thead>

		{# Affichage des parties #}
		{% for game in games %}
		{% set gameCodeSet = game.gameInfoId.getGameCode() %}
		<tr>
			<td>
				{{ game.gameInfoId.getGameName() }}
			</td>
			<td>
				{{ game.gameName }}
			</td>
			<td>
				{% for gameCode,pls in players %}
					{% if gameCode == gameCodeSet %}
						{% for key, pls2 in pls %}
							{% if key == game.id %}
								{% for pl in pls2 %}
									{% if game.hostId == pl.userId %}
										[<u>{{ pl.userId.username }}</u>]
									{% else %}
										[{{ pl.userId.username }}]
									{% endif %}
								{% endfor %}
							{% endif %}
						{% endfor %}
					{% endif %}
				{% endfor %}
			</td>
			<td>
				{{ game.playersNb }}
			</td>
			<td>
				{{ game.creationDate|date('Y-m-d') }}
			</td>
			<td>
				<a class="btn btn-danger btn-xs" href="{{ path('agora_game_delete_' ~ gameCodeSet, {'gameId': game.gameId }) }}">Supprimer</a>
			</td>
		</tr>
		{% endfor %}
	</table>
	
	<script>
        $('#joinGameTableSQP').addClass("display");
        $(document).ready( function () {
            $('table.display').DataTable(
                {"paging": false,

                    //"scrollCollapse": true,
                    "language" : {
                        "sProcessing":     "Traitement en cours...",
                        "sSearch":         "Rechercher&nbsp;:",
                        "sLengthMenu":     "Afficher _MENU_ &eacute;l&eacute;ments",
                        "sInfo":           "Total des parties : _TOTAL_",
                        "sInfoEmpty":      "",
                        "sInfoFiltered":   "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
                        "sInfoPostFix":    "",
                        "sLoadingRecords": "Chargement en cours...",
                        "sZeroRecords":    "Aucun &eacute;l&eacute;ment &agrave; afficher",
                        "sEmptyTable":     "Aucune partie en cours",
                        "oPaginate": {
                            "sFirst":      "Premier",
                            "sPrevious":   "Pr&eacute;c&eacute;dent",
                            "sNext":       "Suivant",
                            "sLast":       "Dernier"
                        },
                        "oAria": {
                            "sSortAscending":  ": activer pour trier la colonne par ordre croissant",
                            "sSortDescending": ": activer pour trier la colonne par ordre d&eacute;croissant"
                        }},
                    //"scrollY": "50vh"//cause un bug avec datatable, seule la première table est transformée});
            });});
	</script>
{% endblock %}
