{% extends "AGORAPlatformBundle::layout.html.twig" %}

{% block style %}
    <link rel="stylesheet" href="{{ asset('bundles/agoraplatform/css/project.css') }}" type="text/css" />
{% endblock %}

{% block title %}{{ parent() }} - Accueil{% endblock %}

{% block header %}

    <div class="bg">
        <div id="titleHeader">
            <h1>PLATEFORME AGORA</h1>
            <h3>UN PROJET UNIVERSITAIRE</h3>
            <button type="button" class="btn btn-danger btn-lg buttonInfo ">INFORMATIONS</button>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div id="page-container">

        <div id="objectifProject">
            <h2>AGORA, UN PROJET UNIVERSITAIRE</h2>
            <hr>
            <div class="row blurb">
                <div class="col-sm-4 flexRow" >.
                    <div class="imageObjectif">
                        <img src="{{ asset('bundles/agoraplatform/image/project/sticker.png') }}" alt="sticker" width="32" height="32">
                    </div>
                    <div class="textObjectif">
                        <h3>Nouvelles technologies</h3>
                        <p>Nous utilisons le framework Symfony.</p>
                    </div>
                </div>
                <div class="col-sm-4 flexRow">.
                    <div class="imageObjectif">
                        <img src="{{ asset('bundles/agoraplatform/image/project/chart.png') }}" alt="chart" width="32" height="32">
                    </div>
                    <div class="textObjectif">
                        <h3>Jeux de plateaux</h3>
                        <p>La plateforme possède 2 jeux de plateau, Ave Cesar et le 6 qui prend, et en possèdera davantages dans le futur.</p>
                    </div>
                </div>
                <div class="col-sm-4 flexRow">.
                    <div class="imageObjectif">
                        <img src="{{ asset('bundles/agoraplatform/image/project/controls.png') }}" alt="controls" width="32" height="32">
                    </div>
                    <div class="textObjectif">
                        <h3>Admin DashBoard</h3>
                        <p>La plateforme dispose d'un panneau d'administration afin de faciliter la gestion du site.</p>
                    </div>
                </div>
            </div>

            <div class="row blurb" style="margin-bottom: 30px">
                <div class="col-sm-4 flexRow" style="padding-right: 15px">.
                    <div class="imageObjectif">
                        <img src="{{ asset('bundles/agoraplatform/image/project/chronometer.png') }}" alt="chronometer" width="32" height="32">
                    </div>
                    <div class="textObjectif">
                        <h3>En temps réel</h3>
                        <p>Grâce aux websockets, le déroulement des parties s'effectue en temps réel !</p>
                    </div>
                </div>
                <div class="col-sm-4 flexRow">.
                    <div class="imageObjectif">
                        <img src="{{ asset('bundles/agoraplatform/image/project/group.png') }}" alt="group" width="32" height="32">
                    </div>
                    <div class="textObjectif">
                        <h3>Une équipe de 6</h3>
                        <p>La plateforme Agora est amélioré chaque année par une équipe de 6 étudiants.</p>
                    </div>
                </div>
                <div class="col-sm-4 flexRow">.
                    <div class="imageObjectif">
                        <img src="{{ asset('bundles/agoraplatform/image/project/bar-chart.png') }}" alt="bar-chart" width="32" height="32">
                    </div>
                    <div class="textObjectif">
                        <h3>Gestion d'un grand projet</h3>
                        <p>La gestion de projet est au coeur du développement de la plateforme.</p>
                    </div>
                </div>
            </div>

            <button type="button" class="btn btn-danger btn-lg buttonInfo widthButton hvr-overline-from-left">LES JEUX</button>
        </div>

    </div>

    <div id="plateforme-section">

        <div class="container">
            <div class="row">
                <div class="col-sm-6 no-float" id="bg-plateforme">
                    <!--<img id="imgColumnLeft" src="{{ asset('bundles/agoraplatform/image/dice.jpg') }}">-->
                </div>
                <div class="col-sm-6 no-float" id="text-plateforme">
                    <h3>LA PLATEFORME</h3>
                    <hr>
                    <p>La plateforme Agora est un projet universitaire confié aux étudiants en première année du master GIL.
                    Elle permet aux étudiants de l'université de Rouen de pouvoir jouer ensemble à divers jeux de société en ligne.</p>

                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block footer %}
{% endblock %}
