{% set GOAL_PHEROMONE_NAME =
	constant('App\\Entity\\Game\\Myrmes\\MyrmesParameters::GOAL_PHEROMONE_NAME') %}
{% set GOAL_SPECIAL_TILE_NAME =
	constant('App\\Entity\\Game\\Myrmes\\MyrmesParameters::GOAL_SPECIAL_TILE_NAME') %}

{% set interactivegoalsRoute = {
	(GOAL_PHEROMONE_NAME): {
		'function': 'validatePheromoneOrSpecialTileGoal',
		'route': 'app_game_myrmes_validate_pheromone_goal',
		'messageRessourceLeft': 'Phéromone restante à selectionner :',
		'menuTitle': 'Phéromones à selectionner pour l\'objectif'
	},
	(GOAL_SPECIAL_TILE_NAME): {
		'function': 'validatePheromoneOrSpecialTileGoal',
		'route': 'app_game_myrmes_validate_special_tile_goal',
		'messageRessourceLeft': 'Tuile speciale restante à selectionner :',
		'menuTitle': 'Tuiles spéciales à selectionner pour l\'objectif'
	}
} %}

<div class="absolute font-bold bg-orange-500 p-5 w-full h-[60%] rounded-lg flex items-center justify-between flex-col"
     data-needed-resources="{{ neededResources }}" data-tiles-owned="{{ tilesOwned }}"
>
	<p class="lg:text-2xl md:text:lg text-center">
		{{ interactivegoalsRoute[goal.goal.name].menuTitle }}
	</p>
	<img class="items-center justify-center rounded-lg shadow-lg max-h-full shadow-black w-[40%] m-2"
	     src="{{ asset('resourcesGames/Myrmes/Goals/' ~ goal.goal.id ~ '.svg') }}"
	     alt="goal_{{ goal.goal.id }}">



	<div class="w-full">
		<div class="flex flex-row m-2 text-gray-900 gap-2 items-center justify-center">
			<p class="lg:text-base font-medium md:text-xs">
				{{ interactivegoalsRoute[goal.goal.name].messageRessourceLeft }}
			</p>
			<span id="TileSelectionLeft" class="md:text-sm lg:text-xl font-bold">
				{{ neededResources }}
			</span>
		</div>
		<div class="flex flex-row m-2 gap-2 w-full">
			<button disabled id="PheromoneAndSpecialTileValidation"
			        class="flex flex-grow items-center justify-center bg-[#15803d] disabled:opacity-50 enabled:hover:bg-[#166534]
				            rounded-lg p-2 text-2xl text-white font-bold disabled:cursor-not-allowed"
					{{ stimulus_action('myrmes', interactivegoalsRoute[goal.goal.name].function,
						'click',
						{url:path(interactivegoalsRoute[goal.goal.name].route,
							{
								idGame: game.id,
								goalId: goal.id,
								pheromoneIds: 'pheromoneIds'
							})
						})
					}}
			>
				Valider
			</button>

			<button id="return_board" onclick="closeObjectivesWindow()"
			        class="rounded-lg bg-green-900 py-2 px-3 m-1 text-2xl right-0 bottom-0 items-center"
			>
				<img src="{{ asset('resourcesGames/utils/return-arrow.svg') }}" id="returnArrow"
				     alt="return on board"
				     class="h-8 max-h-full ">
			</button>
		</div>
	</div>
</div>
