{#
This section displays the player's disposition of tiles
@param : personalBoardTiles
@return : display the personal tiles like the player chosen to put
#}

{# Constants definition #}
{% set VILLAGER = 'villager' %}
{% set PRODUCTION = 'production' %}

{# Tailwind loading of placement for productions squares #}
<div hidden class="left-0 left-8 left-16"></div>

<h2 class="font-bold border-double border-2 w-fit">Tuiles personnelles</h2>

<div class="overflow-y-scroll overflow-x-scroll h-full w-full">
    <div class="gap-1 grid grid-rows-{{ personalBoardTiles|length }}
                grid-cols-{{ personalBoardTiles|first|length }}"
    >
        {% for row in personalBoardTiles %}
            {% for personalBox in row %}

                {# Display for empty space #}
                {% if personalBox.playerTile == null %}
                    <button type="button" class="w-full h-full bg-gray-500"
                    {{ stimulus_action('glenmore','putTileInPersonalBoard','click',
                        {url: path('app_game_glenmore_put_tile_on_personal_board',
                            {idGame: game.id, coordX: personalBox.coordX, coordY: personalBox.coordY})
                        })
                    }}></button>

                {# Display for tile #}
                {% else %}
                    <button {{ stimulus_action('glenmore', 'selectTile', 'click',
                                {url:path('app_game_glenmore_select_tile_on_personalboard',
                                    {idGame: game.id, idTile: personalBox.playerTile.id})
                                })
                            }}
                            {% if isSpectator %}
                                disabled
                            {% endif %}
                            class="relative flex justify-center items-center h-full w-full">
                        <img
                                class="aspect-auto max-h-full"
                                src="{{ asset('resourcesGames/Glenmore/BoardTiles/' ~ personalBox.playerTile.tile.id ~ '.svg')
                                }}"
                                alt="{{ personalBox.playerTile.tile.id }}"
                        />

                        {# Resources display #}
                        {% set productionPlacement = 0 %}
                        {% for playerResource in personalBox.playerTile.playerTileResource %}

                            {# Placement of the villager #}
                            {% if playerResource.resource.type == VILLAGER and playerResource.quantity > 0 %}
                                <img class="absolute items-center aspect-auto justify-center
                                            max-h-full"
                                    src="{{ asset('resourcesGames/Glenmore/figure.png') }}" alt="leader"
                                />

                            {# Placement of the productions #}
                            {% elseif playerResource.resource.type == PRODUCTION and playerResource.quantity > 0%}
                                <img class="absolute w-1/6 h-1/6 items-center aspect-auto justify-center
                                            max-h-full left-{{ productionPlacement}} bottom-0"
                                     src="{{
                                            asset('resourcesGames/Glenmore/ResourcesProduction/'
                                                    ~ playerResource.resource.color ~'.png')
                                          }}"
                                     alt="{{ playerResource.resource.color }}"
                                />
                                {% set productionPlacement = productionPlacement + 8 %}
                            {% endif %}
                        {% endfor %}
                    </button>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>
</div>
