{#
This section displays the birth track for soldiers.
@param :
@return :
#}
<div class="relative w-1/6 h-full justify-start align-top inline-flex flex-col gap-[0.4vw]" id="soldiers">
    {#soldiers counter#}
    <div class="inlineFlex gap-[0.3vw] items-center w-full {% if isPreview %} h-[1.0vw] {% else %} h-[5vw] {% endif %}" id="soldierCount">
        <p class="relative w-10 h-fit {% if isPreview %}text_mini {% else %} text3-4 {% endif %}">X</p>
        <img class="h-full" id="soldierIcon"
             src="{{ asset('resourcesGames/Myrmes/soldierIcon.svg') }}"
             alt="soldier icon"/>
    </div>
    <div class="inlineFlexCol gap-[0.6vw]">
        {# soldiers birth track#}
        <div class="inlineFlexCol items-center gap-[0.3vw] relative" id="soldierTrack">
            <div class="{{ birthTrackSize }} inlineFlexCol bg-[#D9D9D995] gap-2.5 rounded-[10px] p-2 border-2 border-black">
                <svg viewBox="0 0 300 300"
                     fill="black">
                    <polygon points="100,0 200,0 300,100 300,200 200,300 100,300 0,200 0,100"/>
                </svg>
            </div>
            <div class="{{ birthTrackSize }} inlineFlexCol bg-[#D9D9D995] gap-2.5 rounded-[10px] p-2 border-2 border-black">
                <svg viewBox="0 0 300 300"
                     fill="black">
                    <polygon points="100,0 200,0 300,100 300,200 200,300 100,300 0,200 0,100"/>
                </svg>
                <svg viewBox="0 0 300 300"
                     fill="black">
                    <polygon points="100,0 200,0 300,100 300,200 200,300 100,300 0,200 0,100"/>
                </svg>
            </div>
        </div>
        {# button to place nurse on soldiers birth track#}
        {% if not isPreview %}
        <div class="flex justify-center">
            <button type="button" class="{{ placeButtonSize }}"
                    {{ stimulus_action('myrmes','placeNurseOnSoldiersTrack','click') }}
            >
                <img class="relative" id="soldierButton"
                     src="{{ asset('resourcesGames/Myrmes/myrmesArrow.svg') }}"
                     alt="place soldier"/>
            </button>
        </div>
        {% endif %}
    </div>
</div>