{#
This section displays the birth track for larvae.
@param :
@return :
#}
<div class="w-1/6 h-full justify-start align-top inline-flex flex-col gap-[0.4vw]" id="larvae">
    {#larvae counter#}
    <div class="inlineFlex items-center gap-[0.3vw] w-full {% if isPreview %} h-[1.0vw] {% else %} h-[5vw] {% endif %}" id="larvaeCount">
        <p class="w-10 h-fit {% if isPreview %}text_mini {% else %} text3-4 {% endif %}"
           id="larvaeCountText">X
        </p>
        <img class="h-full" src="{{ asset('resourcesGames/Myrmes/resources/larva.svg') }}"
             alt="larvae icon"/>
    </div>
    <div class="inlineFlexCol gap-[0.6vw]">
        {#larvae birth track#}
        <div class="inlineFlexCol items-center gap-[0.3vw]" id="larvaeTrack">
            {% for i in 1..2 %}
                <img class="{{ birthTrackSize }}"
                     src="{{ asset('resourcesGames/Myrmes/personalBoard/birthTrack/birthTrackOneBis.svg') }}"
                     alt="larvae birth track"/>
            {% endfor %}
            <img class="{{ birthTrackSize }}"
                 src="{{ asset('resourcesGames/Myrmes/personalBoard/birthTrack/birthTrackTwo.svg') }}"
                 alt="larvae birth track"/>
        </div>
        {#button to place nurse on larvae birth track#}
        {% if not isPreview %}
        <div class="flex justify-center">
            <button type="button" class="{{ placeButtonSize }}"
                    {{ stimulus_action('myrmes','placeNurseOnLarvaeTrack','click') }}
            >
                <img id="larvaeButton"
                     src="{{ asset('resourcesGames/Myrmes/myrmesArrow.svg') }}"
                     alt="place larvae"/>
            </button>
        </div>
        {% endif %}
    </div>
</div>