{#
This section displays the birth track for workers.
@param :
@return :
#}
<div class="relative w-1/6 h-full justify-start align-top inline-flex flex-col gap-[0.4vw]" id="workers">
    {#workers counter#}
    <div class="inlineFlex items-center gap-[0.3vw] w-full {% if isPreview %} h-[1.0vw] {% else %} h-[5vw] {% endif %}" id="workerCount">
        <p class="relative w-10 h-fit {% if isPreview %}text_mini {% else %} text3-4 {% endif %}">X</p>
        <img class="h-full" id="workerIcon"
             src="{{ asset('resourcesGames/Myrmes/workerIcon.svg') }}"
             alt="worker icon"/>
    </div>
    <div class="inlineFlexCol gap-[0.6vw]">
        {# workers birth track#}
        <div class="inlineFlexCol items-center gap-[0.3vw] relative" id="workersTrack">
            {% for i in 1..2 %}
                <img class="{{ birthTrackSize }}"
                     src="{{ asset('resourcesGames/Myrmes/personalBoard/birthTrack/birthTrackTwo.svg') }}"
                     alt="worker birth track"/>
            {% endfor %}
        </div>
        {#button to place nurse on workers birth place#}
        {% if not isPreview %}
        <div class="flex justify-center">
            <button type="button" class="{{ placeButtonSize }}"
                    {{ stimulus_action('myrmes','placeNurseOnWorkersTrack','click') }}
            >
                <img class="relative" id="workerButton"
                     src="{{ asset('resourcesGames/Myrmes/myrmesArrow.svg') }}"
                     alt="place worker"/>
            </button>
        </div>
        {% endif %}
    </div>
</div>