{#
This section displays the birth track for larvae.
@param :
@return :
#}
<div class="w-1/6 h-full justify-start align-top inline-flex flex-col gap-[0.4vw]" id="larvae">
    {#larvae counter#}
    <div class="inlineFlex items-center gap-[0.3vw] w-full {% if isPreview %} h-[1.0vw] {% else %} h-[5vw] {% endif %}" id="larvaeCount">
        <p class="w-10 h-fit {% if isPreview %}text_mini {% else %} text3-4 {% endif %}"
           id="larvaeCountText">X
        </p>
        <img class="h-full" src="{{ asset('resourcesGames/Myrmes/resources/larva.svg') }}"
             alt="larvae icon"/>
    </div>
    <div class="inlineFlexCol gap-[0.6vw]">
        {#larvae birth track#}
        <div class="inlineFlexCol items-center gap-[0.3vw]" id="larvaeTrack">
            <div class="{{ birthTrackSize }} inlineFlexCol bg-[#D9D9D995] gap-2.5 rounded-[10px] p-2 border-2 border-black">
                <svg viewBox="0 0 300 300">
                    <polygon points="100,0 200,0 300,100 300,200 200,300 100,300 0,200 0,100" fill="black"/>
                    <text x="95" y="220" fill="white" class="text-[10vw] font-extrabold">2</text>
                </svg>
            </div>
            <div class="{{ birthTrackSize }} inlineFlexCol bg-[#D9D9D995] gap-2.5 rounded-[10px] p-2 border-2 border-black">
                <svg viewBox="0 0 300 300">
                    <polygon points="100,0 200,0 300,100 300,200 200,300 100,300 0,200 0,100" fill="black"/>
                    <text x="95" y="220" fill="white" class="text-[10vw] font-extrabold">2</text>
                </svg>
            </div>
            <div class="{{ birthTrackSize }} inlineFlexCol bg-[#D9D9D995] gap-2.5 rounded-[10px] p-2 border-2 border-black">
                <svg viewBox="0 0 300 300">
                    <polygon points="100,0 200,0 300,100 300,200 200,300 100,300 0,200 0,100" fill="black"/>
                </svg>
            </div>
        </div>
        {#button to place nurse on larvae birth track#}
        {% if not isPreview %}
        <div class="flex justify-center">
            <button type="button" class="{{ placeButtonSize }}"
                    {{ stimulus_action('myrmes','placeNurseOnLarvaeTrack','click') }}
            >
                <img id="larvaeButton"
                     src="{{ asset('resourcesGames/Myrmes/myrmesArrow.svg') }}"
                     alt="place larvae"/>
            </button>
        </div>
        {% endif %}
    </div>
</div>