{% extends 'platform/base.html.twig' %}

{% block title %}
	Accueil
{% endblock %}

{% block body %}
	<div class="relative isolate px-6 pt-14 lg:px-8">
		<div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80" aria-hidden="true">
			<div class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-danger to-primary opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
		</div>

		<div class="relative isolate flex flex-col justify-end overflow-hidden rounded-2xl bg-gray-900 px-8 pb-8 pt-80 sm:pt-48 lg:pt-80">
			<img src="https://images.unsplash.com/photo-1597764894768-df73d7fde605?q=80&w=3870&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt=""
				 class="absolute inset-0 -z-10 h-full w-full object-cover">
			<div class="absolute inset-0 -z-10 bg-gradient-to-t from-gray-900 via-gray-900/40"></div>
			<div class="absolute inset-0 -z-10 rounded-2xl ring-1 ring-inset ring-gray-900/10"></div>
			<h3 class=" text-lg font-semibold leading-6 text-white">
				Nouvelle Table - {{ game.name }}
			</h3>
		</div>


		<div class="space-y-12 max-w-6xl">
			{{ form_start(form, {'method': 'GET'}) }}

			<div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-2">
				<div>
					{{ form_label(form.nbUserMax, 'Nombre de joueur', { 'label_attr': {
						'class': 'block text-sm font-medium leading-6 text-gray-900'
					}}) }}
					<p class="block text-sm font-medium leading-6 text-gray-600">de {{ game.getMinPlayers }} à {{ game.getMaxPlayers }} joueurs</p>
					<div class="mt-2">
						{{ form_widget(form.nbUserMax, {'id': 'nbUsers', 'attr': {
							'class': 'block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-primary sm:text-sm sm:leading-6'
						}}) }}
					</div>
				</div>

				<div>
					{{ form_label(form.nbInvitations, 'Nombre de place réservé', {'label_attr': {
						'class': 'block text-sm font-medium leading-6 text-gray-900'
					}}) }}
					<p class="block text-sm font-medium leading-6 text-gray-600">Place accessible uniquement via un lien généré à la création de la table.</p>
					<div class="mt-2">
						{{ form_widget(form.nbInvitations, { 'id': 'nbInvitations','attr': {
							'class': 'block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-primary sm:text-sm sm:leading-6'
						}}) }}
					</div>
				</div>

				<div>
					<label for="inactivity" class="block text-sm font-medium leading-6 text-gray-900">Temps d'inactivité</label>
					<p class="block text-sm font-medium leading-6 text-gray-600">Permet de définir le temps de jeu maximum avant l'expulsion d'un joueur (en heures).</p>
					<div class="relative mt-2 rounded-md shadow-sm">
						<input type="number" name="inactivity" id="inactivity"
							   class="block w-full rounded-md border-0 py-1.5 pl-5 pr-24 text-gray-900 ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-primary sm:text-sm sm:leading-6" value="24" min="1">
						<span class="absolute inset-y-0 right-0 flex items-center h-full rounded-md border-0 bg-transparent py-0 pl-2 pr-7 text-gray-500 focus:ring-2 focus:ring-inset focus:ring-primary sm:text-sm">
							heures
						</span>
					</div>
				</div>

				<div class="hidden">
					{{ form_rest(form) }}
				</div>

				<div class="sm:col-span-2 flex justify-end">
					<button type="submit" class="w-full sm:max-w-xs justify-center rounded-md bg-primary px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-blue-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Creer une table</button>
				</div>
			</div>

			{{ form_end(form) }}

			<div class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]" aria-hidden="true">
				<div class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-primary to-danger opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
			</div>
		</div>
	</div>

{% endblock %}
