{% extends 'platform/base.html.twig' %}
{% block title %}
Jeux
{% endblock %}
{% block body %}
<div class="relative isolate px-6 pt-14 lg:px-8">
   <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80" aria-hidden="true">
      <div class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-danger to-primary opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%);"></div>
   </div>
   <div class="py-24 sm:py-12">
      <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8 mb-20">
         <div class="mx-auto max-w-7xl px-6 lg:px-8 items-center mt-16">
            <div class="mx-auto mt-16 grid max-w-2xl auto-rows-fr grid-cols-1 gap-8 sm:mt-20 lg:mx-0 lg:max-w-none lg:grid-cols-3">
               {% for game in games %}
               {% set isFavorite = false %}
               {% if app.user %}
               {% set isFavorite = game in app.user.favoriteGames %}
               {% endif %}
               {% set isFavoriteValue = isFavorite ? 'true' : 'false' %}
               <div class="relative isolate flex flex-col justify-end overflow-hidden rounded-2xl bg-gray-900 px-8 pb-8 pt-80 sm:pt-48 lg:pt-80 transform transition-transform duration-300 ease-in-out hover:scale-105">
                  {% if app.user %}
                  <div class="absolute top-4 right-4">
                     <form action="{{ path('app_game_favorite', {'game_id': game.id}) }}" method="post" class="favorite-form">
                        <input type="hidden" id="isFavorite" data-is-favorite="{{ isFavoriteValue }}">
                        <button type="submit" class="star-button bg-white text-blue-700 border border-blue-700 hover:bg-blue-700 hover:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center">
                           <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="star-icon w-6 h-6 {% if isFavorite %}fill-yellow{% endif %}">
                              <path stroke-linecap="round" stroke-linejoin="round" d="M11.48 3.499a.562.562 0 0 1 1.04 0l2.125 5.111a.563.563 0 0 0 .475.345l5.518.442c.499.04.701.663.321.988l-4.204 3.602a.563.563 0 0 0-.182.557l1.285 5.385a.562.562 0 0 1-.84.61l-4.725-2.885a.562.562 0 0 0-.586 0L6.982 20.54a.562.562 0 0 1-.84-.61l1.285-5.386a.562.562 0 0 0-.182-.557l-4.204-3.602a.562.562 0 0 1 .321-.988l5.518-.442a.563.563 0 0 0 .475-.345L11.48 3.5Z"/>
                           </svg>
                        </button>
                     </form>
                  </div>
                  {% endif %}
                  <img src="{{ asset(game.imgURL) }}" class="absolute inset-0 -z-10 h-full w-full object-cover" alt="{{ game.name }}">
                  {% if app.user %}
                  <a href="/dashboard/boardCreation/{{ game.id }}" type="button" class="text-white bg-primary hover:bg-blue-400 focus:ring-4 focus:outline-none focus:ring-blue-300 font-semibold rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">
                  Créer une table
                  </a>
                  <a href="/dashboard/game/{{ game.id }}/tables" type="button" class="text-white bg-primary hover:bg-blue-400 focus:ring-4 focus:outline-none focus:ring-blue-300 font-semibold rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">
                  Rejoindre une table
                  </a>
                  {% else %}
                  <a href="/login" type="button" class="text-white bg-primary hover:bg-blue-400 focus:ring-4 focus:outline-none focus:ring-blue-300 font-semibold rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">
                  Se connecter pour créer une table
                  </a>
                  <a href="/login" type="button" class="text-white bg-primary hover:bg-blue-400 focus:ring-4 focus:outline-none focus:ring-blue-300 font-semibold rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">
                  Se connecter pour rejoindre une table
                  </a>
                  {% endif %}
                  <div class="absolute inset-0 -z-10 bg-gradient-to-t from-gray-900 via-gray-900/40"></div>
                  <div class="absolute inset-0 -z-10 rounded-2xl ring-1 ring-inset ring-gray-900/10"></div>
                  <div class="transition duration-300 ease-in-out group-hover:-translate-y-1 group-hover:translate-x-3 group-hover:scale-110">
                     <h3 class="mt-3 text-lg font-semibold leading-6 text-white">
                        <a href="{{path('app_game_description', {'game_id': game.id}) }}">
                        {{ game.name }}
                        </a>
                     </h3>
                     <p class="text-sm leading-6 text-gray-300">{{ game.getDescrRule }}</p>
                  </div>
                  <a href="{{ path('app_game_description', {'game_id': game.id}) }}" class="absolute inset-0 -z-10 h-full w-full object-cover"></a>
               </div>
               {% endfor %}
            </div>
         </div>
      </div>
   </div>
</div>
</div></div>
<div class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]" aria-hidden="true">
   <div class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-primary to-danger opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%);"></div>
</div>
</div>
<script>
   document.addEventListener('DOMContentLoaded', function() {
       const favoriteForms = document.querySelectorAll('.favorite-form');
       const isFavoriteInput = document.getElementById('isFavorite');
   
       favoriteForms.forEach(form => {
           const starButton = form.querySelector('.star-button');
           const starIcon = starButton.querySelector('.star-icon');
   
           starButton.addEventListener('click', function(event) {
               event.preventDefault(); // Empêcher le comportement par défaut du bouton
   
               // Inverser l'état de isFavorite
               const isFavorite = isFavoriteInput.dataset.isFavorite === 'true';
               isFavoriteInput.dataset.isFavorite = isFavorite ? 'false' : 'true';
   
               // Basculer entre les classes fill-yellow
   				starIcon.style.fill = 'yellow';
               // Envoyer le formulaire
               form.submit();
           });
       });
   });
</script>
{% endblock %}