{#
    Represents an hexagon for a board box in Myrmes
    param : color (inherit from parent)
    return : display an hexagon from the color of the tile type
#}

{# Definition of variable for elements display #}
{% set shift = "ml-[1.90vw]" %}

{# Utilization of hex.css to display an hexagon with the background color of the box type #}
<div id="{{ boardBox.tile.id }}" class="relative hex invisible bg-{{ color }} border-b-{{ color }} border-t-{{ color }}
    {# Display the cursor in a pointer if the player need to play, so he can click on the box #}
    {% if not isActionable and needToPlay %}
        cursor-pointer
    {% endif %}
    {# Shift the placement of the hexagon if needed #}
    {% if isShifted %}
        {{ shift }}
    {% endif %}
" about="{{ boardBox.tile.id }}">


    {% if not isActionable %}
        {{ include('Game/Myrmes/MainBoard/elementsOnBoardBox.html.twig') }}
    {% endif %}

    {% if not isActionable %}
        {# Definition of the clickable zone in an hexagon shape, enables to avoid dead zones #}
        <svg id="{{ boardBox.tile.id }}-clickable-zone"
             class="visible z-99 bg-transparent absolute h-full w-full" transform="rotate(90)" fill="#000000"
             xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
             viewBox="0 0 184.751 184.751" xml:space="preserve">
            <path class="fill-[rgba(0,_0,_0,_0)]" d="M0,92.375l46.188-80h92.378l46.185,80l-46.185,80H46.188L0,92.375z"
                    {{ stimulus_action('myrmes','displayBoxActions','click',
                        {url:path('app_game_myrmes_display_main_board_box_actions',
                            {
                                id: game.id,
                                tileId: boardBox.tile.id
                            })
                        })
                    }}
            ></path>
        </svg>
    {% endif %}

    {# Display in three part the hexagon form #}
    <div class="visible top">
    </div>
    <div class="visible middle">
    </div>
    <div class="visible bottom">
    </div>
</div>

{% if isActionable %}
    {{ include('Game/Myrmes/MainBoard/elementsOnBoardBox.html.twig') }}
{% endif %}