{#
    Represents an hexagon for a board box in Myrmes
    param : color (inherit from parent)
    return : display an hexagon from the color of the tile type
#}

{# Definition of variable for elements display #}
{% set shift = "ml-[1.90vw]" %}

{# Utilization of hex.css to display an hexagon with the background color of the box type #}
<div id="{{ boardBox.tile.id }}" class="relative hex invisible bg-{{ color }} border-b-{{ color }} border-t-{{ color }}
    {# Display the cursor in a pointer if the player need to play, so he can click on the box #}
    {% if not isActionable and needToPlay %}
        cursor-pointer
    {% endif %}
    {# Shift the placement of the hexagon if needed #}
    {% if isShifted %}
        {{ shift }}
    {% endif %}
" about="{{ boardBox.tile.id }}">


    {% if not isActionable %}
        {# {% if boardBox.pheromonTile != null %}#}
        <div class="visible">
            {{  include('Game/Myrmes/MainBoard/MainBoardElements/pheromoneDisplay.html.twig') }}
            <img class="absolute rounded rounded-full size-full  "
                 src="{{ asset('resourcesGames/Myrmes/pheromone.svg') }}" alt="pheromone">
        </div>
        {# {% endif %} #}
        {{ include('Game/Myrmes/MainBoard/elementsOnBoardBox.html.twig') }}
    {% endif %}

    {% if not isActionable %}
        {% set isTileAvailableForAnthillHolePlacement = false %}
        {% if hasSelectedAnthillHolePlacement %}
            {% for possibleTilePlacement in possibleAnthillHolePlacement %}
                {% if possibleTilePlacement.id == boardBox.tile.id %}
                    {% set isTileAvailableForAnthillHolePlacement = true %}
                {% endif %}
            {% endfor %}
        {% endif %}
        {# Definition of the clickable zone in an hexagon shape, enable to avoid dead zones #}
        <svg id="{{ boardBox.tile.id }}-clickable-zone"
             class="visible z-99 bg-transparent absolute h-full w-full" fill="#000000"
             viewbox="0 0 300 300" width="100%" height="100%" >
            <polygon points="150,309 300,225 300,76 150,-11 0,75 0,225" class="{% if not isTileAvailableForAnthillHolePlacement %}
                                                                                        fill-[rgba(0,_0,_0,_0)]
                                                                                {% else %}
                                                                                        fill-[rgba(255,_255,_255,_0.35)]
                                                                                {% endif %}"
                    {% if hasSelectedAnthillHolePlacement and isTileAvailableForAnthillHolePlacement %}
                        {{ stimulus_action('myrmes','choseAnthillHolePlacement','click',
                            {url:path('app_game_myrmes_display_main_board_box_actions',
                                {
                                    id: game.id,
                                    tileId: boardBox.tile.id
                                })
                            })
                        }}
                    {% else %}
                    {{ stimulus_action('myrmes','displayBoxActions','click',
                        {url:path('app_game_myrmes_display_main_board_box_actions',
                            {
                                id: game.id,
                                tileId: boardBox.tile.id
                            })
                        })
                    }}
                    {% endif %}
            >
            </polygon>
        </svg>
    {% endif %}

    {# Display in three part the hexagon form #}
    <div class="visible top">
    </div>
    <div class="visible middle">
    </div>
    <div class="visible bottom">
    </div>
</div>

{% if isActionable %}
     {% if boardBox.pheromonTile != null %}
    <div class="visible">
        {{  include('Game/Myrmes/MainBoard/MainBoardElements/pheromoneDisplay.html.twig') }}
        <img class="absolute rounded rounded-full size-full -p-4 "
             src="{{ asset('resourcesGames/Myrmes/pheromone.svg') }}" alt="pheromone">
    </div>
    {% endif %}
    {{ include('Game/Myrmes/MainBoard/elementsOnBoardBox.html.twig') }}
{% endif %}