{#
    Represents the display of objectives when you click on the button on the main board.
    param: goalsLevelOne, goalsLevelTwo, goalsLevelThree
    return :
#}
{% set isInSelectionMode = goalsAvailable != null %}
{% set goalsLevel =
    [goalsLevelOne, goalsLevelTwo, goalsLevelThree]
%}
{% if isInSelectionMode %}
    {% set GOAL_RESSOURCE_STONE_OR_DIRT_NAME =
        constant('App\\Entity\\Game\\Myrmes\\MyrmesParameters::GOAL_RESOURCE_STONE_OR_DIRT_NAME') %}
    {% set GOAL_DIFFICULTY_LEVEL_ONE =
        constant('App\\Entity\\Game\\Myrmes\\MyrmesParameters::GOAL_DIFFICULTY_LEVEL_ONE') %}
    {% set GOAL_DIFFICULTY_LEVEL_THREE =
        constant('App\\Entity\\Game\\Myrmes\\MyrmesParameters::GOAL_DIFFICULTY_LEVEL_THREE') %}
    {% set stoneAndDirtQuantity = stoneOrDirtGoal.dirt + stoneOrDirtGoal.stone %}

    {% set interactivegoalsRoute = {
        (GOAL_RESSOURCE_STONE_OR_DIRT_NAME): {
            (GOAL_DIFFICULTY_LEVEL_ONE):
                constant('App\\Entity\\Game\\Myrmes\\MyrmesParameters::GOAL_NEEDED_RESOURCES_STONE_OR_DIRT_LEVEL_ONE'),
            (GOAL_DIFFICULTY_LEVEL_THREE):
                constant('App\\Entity\\Game\\Myrmes\\MyrmesParameters::GOAL_NEEDED_RESOURCES_STONE_OR_DIRT_LEVEL_THREE'),
            'function': 'displayStoneDirtGoal',
            'route': 'app_game_myrmes_display_stone_dirt_goal'
        },
        (constant('App\\Entity\\Game\\Myrmes\\MyrmesParameters::GOAL_PHEROMONE_NAME')): {
            'function': 'displayPheromoneGoal',
            'route': 'app_game_myrmes_display_pheromone_goal'
        },
        (constant('App\\Entity\\Game\\Myrmes\\MyrmesParameters::GOAL_SPECIAL_TILE_NAME')): {
            'function': 'displaySpecialTileGoal',
            'route': 'app_game_myrmes_display_special_tile_goal'
        }
    } %}
{% endif %}
<div id="objectives"
     class="absolute top-0 right-0 w-[28%] h-full flex z-50 bg-black bg-opacity-75 items-center justify-center text-white">
    <div id="objectives_home" class="absolute bg-orange-500 p-5 w-full h-[60%] rounded-lg flex items-center justify-center flex-col">
        {% if isInSelectionMode %}
            <p id="selectGoalTitle" class="flex-grow content-center md:text-xl lg:text-3xl text-center font-bold text-white">
                Sélection d'un objectif
            </p>
        {% endif %}
        <div class="flex {% if isInSelectionMode %} flex-grow {% endif %} flex-row">
            {% for goalLevel in goalsLevel %}
                <div class="flew flex-col lg:m-3 md:m-1">
                    {% for goal in goalLevel %}
                        {% if isInSelectionMode %}
                            <button id="goalSelection_{{ goal.goal.id }}"
                                class="relative aspect-square rounded-lg bg-[#fb923c] enabled:hover:bg-[#ea580c] lg:p-3
                                       md:p-2 disabled:cursor-not-allowed"
                                {% if goal in goalsAvailable %}
                                    {# If the objective requires interaction with the player #}
                                    {% if interactivegoalsRoute[goal.goal.name] is defined %}
                                        {# For the goal StoneAndDirt, if the player have exactly or
                                        less dirt and stone resources needed, the goal can be validated
                                        without any other interaction with the player  #}
                                        {% if goal.goal.name == GOAL_RESSOURCE_STONE_OR_DIRT_NAME and
                                            stoneAndDirtQuantity <= interactivegoalsRoute[goal.goal.name][goal.goal.difficulty] %}
                                            {{ stimulus_action('myrmes', 'validateGoal', 'click',
                                                {url:path('app_game_myrmes_validate_stone_or_dirt_goal',
                                                    {
                                                        idGame: game.id,
                                                        goalId: goal.id,
                                                        stoneQuantity: stoneOrDirtGoal.stone,
                                                        dirtQuantity: stoneOrDirtGoal.dirt,
                                                    })
                                                })
                                            }}
                                        {% else %}
                                            {{ stimulus_action('myrmes', interactivegoalsRoute[goal.goal.name].function,
                                                'click',
                                                {url:path(interactivegoalsRoute[goal.goal.name].route,
                                                    {
                                                        idGame: game.id,
                                                        goalId: goal.id,
                                                    })
                                                })
                                            }}
                                        {% endif %}
                                    {% else %}
                                        {{ stimulus_action('myrmes', 'validateGoal', 'click',
                                            {url:path('app_game_myrmes_validate_goal',
                                                {
                                                    idGame: game.id,
                                                    goalId: goal.id
                                                })
                                            })
                                        }}
                                    {% endif %}
                                {% else %}
                                    disabled
                                {% endif %}
                            >
                        {% endif %}
                            <img class="items-center justify-center rounded-lg shadow-lg max-h-full
                                        {% if goal in goalsAvailable %} shadow-white {% else %} shadow-black {% endif %}"
                                 src="{{ asset('resourcesGames/Myrmes/Goals/' ~ goal.goal.id ~ '.svg') }}"
                                 alt="goal_{{ goal.goal.id }}">
                        {% if isInSelectionMode %}</button>{% endif %}
                        <div class="flex flex-row w-full mt-1">
                            {% for i in 0..3 %}
                                {% set color =
                                    i < goal.precedentsPlayers.count ? goal.precedentsPlayers[i].color : 'black' %}
                                <svg viewBox="0 0 125 125"
                                     class="mb-5">
                                    <polygon points="40 13,80 13,110 40,110 80,80 110,40 110,13 80, 13 40"
                                             fill="{{ color }}"></polygon>
                                </svg>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>

        <button id="return_board" onclick="closeObjectivesWindow()"
                class="absolute rounded-lg bg-green-900 py-2 px-3 m-1 text-2xl right-0 bottom-0 items-center"
        >
            <img src="{{ asset('resourcesGames/utils/return-arrow.svg') }}" id="returnArrow"
                 alt="return on board"
                 class="h-8 max-h-full">
        </button>
    </div>
</div>