{#
Represents a list of object possesed by a player to place it on mainboard
param :
return : display a panel to choose an object to place on mainboard
#}
<div id="openedDisplayObjectPlacement"
     class="absolute w-[28%] h-[70%] top-0 right-0 bg-[#FFFFFF] size-full rounded-l-lg overflow-hidden"
	 {{ stimulus_controller('myrmes') }}>
	<div class="w-full h-[8%] bg-[#c67b24] rounded-tl-lg inline-flex shadow-lg">
		<button id="return_dop"
		        class="shadow-inner aspect-square relative h-full rounded-tl-lg
		            bg-[#8F901F] hover:bg-[#7d7e1b] py-2 px-3 portrait:text-2xl items-center"
				{{ stimulus_action('myrmes', 'returnMenuPheromonePlacement', 'click', ) }}
		>
			<img src="{{ asset('resourcesGames/utils/return-arrow.svg') }}" id="returnArrow"
			     alt="return on board"
			     class="h-6 max-h-full">
		</button>
		<p id="selectObjectTitle" class="flex-grow content-center text-2xl text-center font-bold text-white">
			Selection d'une tuile à placer
		</p>
	</div>
	<div id="ObjectSelectionList" class="grid grid-cols-2 gap-4 overflow-y-auto h-[92%] p-2">
		{% for tile in tiles %}
			{% set imageSuffix = tile[0] > 6 ? "" : "_" ~ player.color %}
			<button id="objectSelection_{{ tile[0] }}" data-tileid="{{ tile[0] }}" data-nbrotation="{{ tile[2] }}"
			        class="relative aspect-square rounded-lg bg-[#000000]"
			        onclick="selectOrientationTile(this.dataset.tileid, this.dataset.nbrotation)">
				<p class="absolute aspect-square h-[15%] rounded-tr-lg rounded-bl-lg bg-[#8F901F] top-0 right-0
					content-center font-bold text-white">
					{{ tile[1] }}
				</p>
				<img id="objectImage_{{ tile[0] }}"
				     src="{{ asset('resourcesGames/Myrmes/tiles/presentation/' ~ tile[0] ~ imageSuffix ~ '.svg') }}"
				     data-first-orientation-src="{{ asset('resourcesGames/Myrmes/tiles/' ~ tile[0] ~ imageSuffix ~ '.svg') }}"
						{% if tile[0] == 4 %}
							data-flip-orientation-src="{{ asset('resourcesGames/Myrmes/tiles/' ~ tile[0] ~ 'flip' ~ imageSuffix ~ '.svg') }}"
						{% endif %}
                     alt="tile"
                     class="size-full p-10">
			</button>
		{% endfor %}
	</div>
	<div class="hidden">
		<div id="ObjectOrientationListTemplate"
		     class="grid grid-cols-2 gap-4 overflow-y-auto h-[92%] p-2 overflow-hidden">
		</div>
		<div id="PrepareTilePositioningTemplate" class="flex flex-col justify-between items-center gap-4 h-[92%] p-2 ">
			<div></div>
			<div class="w-full flex flex-col items-center gap-2 ">
				<p class="text-xl font-bold text-center">
					Tuile sélectionnée
				</p>
				<div id="imageDiv" class="aspect-square rounded-lg bg-[#000000]"></div>
			</div>
			<div class="flex flex-col w-full items-center">
				<p class="font-bold italic text-center">
					Choisissez où poser votre tuile en cliquant sur une des cases ⬡ en blanc
				</p>
				<div class="flex flex-row w-full">
					<button disabled id="objectPositioningValidation"
					        class="bg-[#15803d] w-full disabled:opacity-50 enabled:hover:bg-[#166534]
				            rounded-l-lg p-2 text-2xl text-white font-bold"
							{{ stimulus_action('myrmes','placePheromone','click',
								{url:path('app_game_myrmes_place_pheromone',
									{
										idGame: game.id,
										tileId: "tileId",
										tileType: "tileType",
										orientation: "orientation",
									})
								})
							}}
					>
						Valider
					</button>
					<button disabled id="objectPositioningCancel"
					        class="bg-[#b91c1c] w-full disabled:opacity-50 enabled:hover:bg-[#991b1b]
					        rounded-r-lg p-2 text-2xl text-white font-bold"
					>
						Annuler la selection
					</button>
				</div>
			</div>
		</div>
		<button id="ObjectOrientationTemplate"
		        class="relative aspect-square rounded-lg bg-[#000000]"
				{{ stimulus_action('myrmes','showAvailablePlacementForTile','click',
					{url:path('app_game_myrmes_display_mainBoard_tile_position_possibilities',
						{
							idGame: game.id,
							tileId: tile.id,
							tileType: "tileType",
							orientation: "orientation",
						})
					})
				}}
		>
		</button>
	</div>
</div>