{#
This section displays the main board that every player and spectator can see
@param : boardBoxes, game
@return :
#}

{% set PHASE_EVENT = constant('App\\Entity\\Game\\Myrmes\\MyrmesParameters::PHASE_EVENT') %}
{% set PHASE_BIRTH = constant('App\\Entity\\Game\\Myrmes\\MyrmesParameters::PHASE_BIRTH') %}
{% set PHASE_WORKER = constant('App\\Entity\\Game\\Myrmes\\MyrmesParameters::PHASE_WORKER') %}
{% set PHASE_HARVEST = constant('App\\Entity\\Game\\Myrmes\\MyrmesParameters::PHASE_HARVEST') %}
{% set PHASE_WORKSHOP = constant('App\\Entity\\Game\\Myrmes\\MyrmesParameters::PHASE_WORKSHOP') %}
{% set PHASE_WINTER =  constant('App\\Entity\\Game\\Myrmes\\MyrmesParameters::PHASE_WINTER') %}


<div
     class="absolute top-0 left-0 w-full h-full bg-black bg-opacity-70 flex text-white items-center justify-center">
    <div class="bg-gradient-to-b from-green-950 to-yellow-900 rounded-lg w-full h-full flex flex-row justify-center items-center">
        <div class="flex justify-center items-center font-bold w-[70%] h-[80%] pb-4">
             {{ include('Game/Myrmes/MainBoard/displayBoardBoxes.html.twig') }}
        </div>
        <div class="inline-flex align-middle justify-evenly items-center flex-col h-full">
            {% if game.gamePhase == PHASE_HARVEST and needToPlay %}
                <button {% if not hasFinishedObligatoryHarvesting %} disabled {% endif %}
                        class="rounded-lg bg-green-900 py-2 px-3 m-1 text-2xl items-center"
                        {{ stimulus_action('myrmes','endHarvestPhase','click',
                            {url:path('app_game_myrmes_end_harvest_phase',
                                {
                                    gameId: game.id
                                })
                            })
                        }}>
                    Confirmer la récolte
                </button>
            {% elseif game.gamePhase == PHASE_WORKSHOP and needToPlay and hasSelectedAnthillHolePlacement %}
                <p class="text-lg text-center">Veuillez sélectionner l'emplacement du nouveau trou de fourmi</p>
                <button
                        class="rounded-lg bg-green-900 py-2 px-3 m-1 text-2xl items-center"
                        {{ stimulus_action('myrmes','cancelAnthillHolePlacement','click') }}>
                    Revenir au choix de la zone d'atelier
                </button>

            {% elseif game.gamePhase == PHASE_WORKER and needToPlay %}
                <button
                        class="rounded-lg bg-green-900 py-2 px-3 m-1 text-lg items-center"
                        {{ stimulus_action('myrmes','confirmWorkerPhase','click') }}>
                    Mettre fin au tour
                </button>
                <button
                        class="rounded-lg bg-green-900 py-2 px-3 m-1 text-lg items-center"
                        {{ stimulus_action('myrmes','cancelWorkerPhase','click') }}>
                    Annuler les actions du tour
                </button>
            {% endif %}
            {{ include('Game/Myrmes/MainBoard/seasonsDices.html.twig') }}
        </div>
        {% if game.gamePhase == PHASE_WORKSHOP and needToPlay %}
            {{ include('Game/Myrmes/MainBoard/workshop.html.twig') }}
        {% endif %}
        <div class="inlineFlexCol absolute bottom-0 right-0 m-3 items-end gap-2">
            {% if game.gamePhase != PHASE_WINTER and not isSpectator %}
                <button type="button"
                        class="disabled:opacity-50 disabled:cursor-not-allowed"
                        {% if availableLarvae < 3 %}disabled{% endif %}>
                    <img class="w-[10vw]"
                         src="{{ asset('resourcesGames/Myrmes/sacrificeLarvaeButton.svg') }}"
                         alt="sacrifice three larvae to get one food">
                </button>
            {% endif %}
            <div class="">
                <button id="objectives_button"
                        {{ stimulus_action('myrmes', 'displayObjectives', 'click',
                            {url:path('app_game_myrmes_display_objectives',
                                {idGame: game.id})
                            })
                        }}
                        class="bg-[#8F901F] py-2 px-3 rounded-lg text-2xl enabled:hover:bg-[#3e3f0d] disabled:opacity-50"
                >
                    Objectifs
                </button>
            </div>
        </div>
    </div>
</div>