{#
This section displays seasons dices.
@param :
@return :
#}

{# Loading of Tailwind data #}
<div class="hidden h-[6vw]"></div>

{# Definition of constants and variables #}
{% set height = 'h-[6vw]' %}

<div class="inlineFlexCol gap-[2.5vw] h-fit">
    {#spring dice#}
    <img class="{{ height }}" src="{{ asset('resourcesGames/Myrmes/seasonsDices/spring/springDice2.svg') }}" alt="spring dice 2">
    {#summer dice#}
    <img class="{{ height }}" src="{{ asset('resourcesGames/Myrmes/seasonsDices/summer/summerDice4.svg') }}" alt="spring dice 6">
    {#fall dice#}
    <img class="{{ height }}" src="{{ asset('resourcesGames/Myrmes/seasonsDices/fall/fallDice6.svg') }}" alt="fall dice 6">
    {#winter dice#}
    <img class="{{ height }}" src="{{ asset('resourcesGames/Myrmes/seasonsDices/winter/winterDice.svg') }}" alt="winter information">
</div>