{#
This section displays workshop menu.
@param :
@return :
#}

<div id="closedWorkshopMenu" class="bg-[#fb8500] h-[2.2vw] w-1/2 absolute top-0 right-0 rounded-bl-2xl">
    <div class="inlineFlex w-full h-full gap-2 items-center cursor-pointer"
        {{ stimulus_action('myrmes', 'toggleWorkshopMenu', 'click',
            {open: true}) }}>
        <img class="h-[1.1vw] rotate-180"
             src="{{ asset('resourcesGames/utils/arrow_up.svg') }}"
             alt="arrow opening workshop">
        <p class="text-2xl text-black">Ouvrir l'atelier</p>
    </div>
</div>

<div id="openedWorkshopMenu" class="bg-[#fb8500] h-[26vw] w-1/2 absolute top-0 right-0 rounded-bl-2xl" hidden>
    <div class="h-full w-full inline-flex flex-col">
        <div class="inlineFlexCol">
            <svg id="anthill level" viewBox="0 0 300 250" class="h-[7vw] translate-y-[3.2vw]">
                <image class="cursor-pointer"
                       href="{{ asset('resourcesGames/Myrmes/workshop/anthill_level.svg') }}"
                       x="25" y="15" height="250" width="250"
                       {{ stimulus_action('myrmes','activateWorkshop','click',
                           {placement: 2, url: path('app_game_myrmes_increase_anthill_level', {gameId: game.id})}) }}/>
            </svg>
            <div class="inlineFlex gap-[4vw]">
                <svg id="anthill hole" viewBox="0 0 300 250" class="h-[7vw]">
                    <image class="cursor-pointer"
                           href="{{ asset('resourcesGames/Myrmes/workshop/anthill_hole.svg') }}"
                           x="50" y="0" height="250" width="250"
                           {{ stimulus_action('myrmes','activateWorkshop','click',
                               {placement: 1}) }}/>
                </svg>
                <svg id="objective" viewBox="0 0 300 250" class="h-[7vw]">
                    <image class="cursor-pointer"
                           href="{{ asset('resourcesGames/Myrmes/workshop/objectives.svg') }}"
                           x="0" y="0" height="250" width="250"
                            {{ stimulus_action('myrmes','activateWorkshop','click',
                                {placement: 3}) }}/>
                </svg>
            </div>
            <svg id="nurse" viewBox="0 0 300 250" class="h-[7vw] -translate-y-[3.2vw]">
                <image class="cursor-pointer"
                       href="{{ asset('resourcesGames/Myrmes/workshop/create_nurse.svg') }}"
                       x="25" y="-15" height="250" width="250"
                        {{ stimulus_action('myrmes','activateWorkshop','click',
                            {placement: 4, url: path('app_game_myrmes_create_nurse', {gameId: game.id})}) }}/>
            </svg>
            <div class="inlineFlex gap-[3vw]">
                <p class="ml-[2vw] bg-[#8f901f] w-fit p-[0.5vw] text2-4 rounded-xl cursor-pointer"
                        {{ stimulus_action('myrmes','confirmWorkshopActions', 'click',
                            {url: path('app_game_myrmes_confirm_workshop_actions', {gameId: game.id})}) }}>Confirmer</p>
                <p class="text2-4 p-[0.5vw]">Nourrices restantes: {{ nursesOnWorkshop }}</p>
            </div>
        </div>
        <div class="inlineFlex w-full h-full gap-2 items-center cursor-pointer"
                {{ stimulus_action('myrmes', 'toggleWorkshopMenu', 'click',
                    {open: false}) }}>
            <img class="h-[1.1vw]"
                 src="{{ asset('resourcesGames/utils/arrow_up.svg') }}"
                 alt="arrow opening workshop">
            <p class="text-2xl text-black">Fermer l'atelier</p>
        </div>
    </div>
</div>
