{#
    This section displays the ranking with a view of the other players' possessions
    @param : array colorsNames, array colors, array colorsTokens, array tokensNames, array prcards,
             int angleStep, array translateY, array landscapeTranslateY, array lgTranslateY, array xlTranslateY,
             array translateX, array landscapeTranslateX, array lgTranslateX, array xlTranslateX,
             array playerCardsColorsCount, array playerTokensColorsCount,
    @return : display the ranking of the game with public player information
#}

{#splendor logo#}
<div id="logo" class="w-full h-[10%] landscape:1/6  lg:h-1/5 justify-center flex">
    <img class="" src="{{ asset('resourcesGames/Splendor/Images/splendorLogo.png') }}" alt="splendor logo">
</div>

{{ include('/Game/Splendor/Ranking/loadingRankingData.html.twig') }}

<div class="w-full h-[90%] landscape:h-4/5 z-1 z-2 z-3">
    {#colors for player's buted cards #}
    {% set colorsNames = ["green","white","blue","black","red"] %}
    {% set colors = [
        {"green": "009b77"},
        {"white": "ffffff"},
        {"blue": "0f52ba"},
        {"black": "0f0f0f"},
        {"red": "e0115f"}
    ] %}

    {#colors for player's tokens#}
    {% set colorsTokens = ["green","white","blue","black","red","yellow"] %}
    {% set tokensNames = [
        {"green": "emeraldToken.png"},
        {"white": "diamondToken.png"},
        {"blue": "sapphireToken.png"},
        {"black": "onyxToken.png"},
        {"red": "rubyToken.png"},
        {"yellow": "goldToken.png"}
    ] %}

    {#files for reserved cards#}
    {% set prcards = [
        {"1": "reservedCardLvl1.svg"},
        {"2": "reservedCardLvl2.svg"},
        {"3": "reservedCardLvl3.svg"}
    ] %}

    {#angles for reserved cards#}
    {% set angleStep = 45 %}

    {#values for reservec cards shifting depending of screen size#}
    {#vertical values#}
    {% set translateY = [
        {"0": "0"},
        {"1": "6.5"},
        {"2": "13"}
    ] %}
    {% set landscapeTranslateY = [
        {"0": 1},
        {"1": -1.7},
        {"2": -4.4}
    ] %}
    {% set lgTranslateY = [
        {"0": 1},
        {"1": -2.8},
        {"2": -6.5}
    ] %}
    {% set xlTranslateY = [
        {"0": 0},
        {"1": -5.5},
        {"2": -11}
    ] %}
    {#horizontal values#}
    {% set translateX = [
        {"0": "0"},
        {"1": "1"},
        {"2": "1.5"}
    ] %}
    {% set landscapeTranslateX = [
        {"0": 0},
        {"1": 0.3},
        {"2": 0.5}
    ] %}
    {% set lgTranslateX = [
        {"0": 0},
        {"1": 0.4},
        {"2": 0}
    ] %}
    {% set xlTranslateX = [
        {"0": 0},
        {"1": 0.6},
        {"2": 0.8}
    ] %}

    {% for p in ranking %}

        {#player's cards#}
        {% set playerCards = p.personalBoard.playerCards %}

        {#player's number cards#}
        {% set playerCardsColors = playerCards|filter(c => c.isReserved == false)|map(c => c.developmentCard.color) %}
        {% set playerCardsColorsCount = [
            {"green": playerCardsColors|filter(c => c == "green")|length},
            {"white": playerCardsColors|filter(c => c == "white")|length},
            {"blue": playerCardsColors|filter(c => c == "blue")|length},
            {"black": playerCardsColors|filter(c => c == "black")|length},
            {"red": playerCardsColors|filter(c => c == "red")|length}
        ] %}

        {#player's reserved cards levels#}
        {% set playerReservedCardsLevel = playerCards|filter(c => c.isReserved)
            |map(c => c.developmentCard.level) %}

        {#player's tokens colors#}
        {% set playerTokensColors = p.personalBoard.tokens|map(t => t.color) %}
        {% set playerTokensColorsCount = [
            {"green": playerTokensColors|filter(c => c == "green")|length},
            {"white": playerTokensColors|filter(c => c == "white")|length},
            {"blue": playerTokensColors|filter(c => c == "blue")|length},
            {"black": playerTokensColors|filter(c => c == "black")|length},
            {"red": playerTokensColors|filter(c => c == "red")|length},
            {"yellow": playerTokensColors|filter(c => c == "yellow")|length}
        ] %}

        <div id="{{ p.username }}" class="bg-gradient-to-r from-[#707984ff] to-[#4C6E9Bff]
                    border-solid border-[5px] border-[#AC9424ff] rounded-2xl
                    h-[23.5%] landscape:md:h-1/4 landscape:lg:h-[23.5%]
                    mx-3 landscape:mx-2 lg:mx-5
                    my-6 landscape:my-2
                    text-3xl">
            {# player's name and score#}
            <div class="w-full h-[12%] landscape:h-1/5
                        pt-2 landscape:pt-1
                        flex justify-around landscape:justify-between">
                {% if p.username == player.username and not isSpectator %}
                    <p class="landscape:ml-3 landscape:text-sm landscape:lg:text-lg font-bold text-purple-800">{{ p.username }}</p>
                {% else %}
                    <p class="landscape:ml-3 landscape:text-sm landscape:lg:text-lg">{{ p.username }}</p>
                {% endif %}
                <div class="flex landscape:mr-2">
                    <p class="mr-1 landscape:text-base landscape:lg:text-lg">{{ p.totalPoints }}</p>
                    <img class="h-8 landscape:h-5 landscape:lg:h-7"
                         src="{{ asset('resourcesGames/utils/star.svg') }}" alt="splendor victory point">
                </div>
            </div>

            {# player's cards(buyed and reserved#}
            <div class="w-full h-2/5 landscape:h-2/5
                        pt-2 landscape:ml-2 landscape:lg:ml-4
                        grid grid-cols-3 grid-rows-2 landscape:flex
                        gap-y-3 landscape:gap-3 ">
                {% for color in colorsNames %}
                    <div class="h-full landscape:w-[10%] landscape:lg:w-[11%]
                                rounded-xl bg-[#{{ colors|column(color)|first }}]
                                mx-2 landscape:mx-0
                                flex items-center justify-center">
                        <p class="h-fit text-[#c0c0c0] text-5xl landscape:text-xl landscape:lg:text-3xl">
                            {{ playerCardsColorsCount|column(color)|first }}</p>
                    </div>
                {% endfor %}
                <div class="mt-3 scale-[60%] landscape:w-[13%]
                            translate-x-[0.5rem] -translate-y-[1rem]
                            landscape:translate-x-0 landscape:lg:translate-x-[1rem]">
                    {% set i = 0 %}
                    {% for lvl in playerReservedCardsLevel %}
                        {% set lTranslateY = landscapeTranslateY|column(i)|first %}
                        {% set llgTranslateY = lgTranslateY|column(i)|first %}
                        {% set lxlTranslateY = xlTranslateY|column(i)|first %}
                        <div class="-rotate-{{ i * angleStep }} origin-bottom
                        -translate-y-[{{ translateY|column(i)|first }}rem]
                        translate-x-[{{ translateX|column(i)|first }}rem]
                        landscape:{% if lTranslateY < 0 %}-{% endif %}translate-y-[{{ lTranslateY|abs }}rem]
                        landscape:translate-x-[{{ landscapeTranslateX|column(i)|first }}rem]
                        landscape:lg:{% if llgTranslateY < 0 %}-{% endif %}translate-y-[{{ llgTranslateY|abs }}rem]
                        landscape:lg:translate-x-[{{ lgTranslateX|column(i)|first }}rem]
                        landscape:2xl:{% if lxlTranslateY < 0 %}-{% endif %}translate-y-[{{ lxlTranslateY|abs }}rem]
                        landscape:2xl:translate-x-[{{ xlTranslateX|column(i)|first }}rem]
                        z-{{ i + 1 }}">
                            {% set c = prcards|column(lvl)|first %}
                            <img src="{{ asset('resourcesGames/Splendor/Images/' ~ c) }}" alt="{{ c|split('.')[0] }}">
                        </div>
                        {% set i = i + 1 %}
                    {% endfor %}
                </div>
            </div>

            {#player's tokens#}
            <div class="w-full h-2/6 landscape:h-2/5
                        mt-2 landscape:lg:ml-2 landscape:mt-0 landscape:mx-1 landscape:ml-1 landscape:lg:pt-2
                        grid grid-cols-3 grid-rows-2 gap-y-14 landscape:gap-0 landscape:flex">
                {% for tokenColor in colorsTokens %}
                <div class="block landscape:flex landscape:w-[15%] landscape:2xl:w-[14%]">
                    <img class="scale-[0.85] landscape:scale-[0.7] landscape:lg:scale-[0.8]"
                         src="{{ asset('resourcesGames/Splendor/Images/Tokens/' ~
                             tokensNames|column(tokenColor)|first) }}"
                         alt="player emerald stock overflow-visible">
                    <p class="hidden scale-[70%] lg:scale-100 landscape:2xl:scale-125 text-xs
                              landscape:flex right-0 top-0 bg-red-600 rounded-full h-fit
                              py-0.5 px-1.5
                              -translate-x-4 lg:-translate-x-5 -translate-y-1 lg:translate-y-0 text-white">
                        {{ playerTokensColorsCount|column(tokenColor)|first }}
                    </p>
                    <p class="landscape:hidden text-3xl w-full text-center">
                        {{ playerTokensColorsCount|column(tokenColor)|first }}
                    </p>
                </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>